<template>
    <div style="overflow: auto;">
        <!-- <v-data-table :items="trainingSummaryItems" hide-default-header hide-default-footer style="min-width: 1024;min-height: 400px;" :loading="isLoading"> -->
            <table style="min-width: 2024px;">
                <thead>
                    <tr style="height:100px;">
                        <th style="min-width: 200px;border-bottom: 1px solid rgba(0, 0, 0, 0.12);">Role</th>

                        <th style="text-align: center;border-left: 0.5px solid rgba(0, 0, 0, 0.12);min-width: 800px;border-bottom: 1px solid rgba(0, 0, 0, 0.12);" v-for="(item, i) in trainingSummaryItems[0].TrainingSummaryItems" :key="i">
                            <tr>
                                <th :colspan="5" style="text-align: center;min-width: 800px;height: 50px;" >{{ setMounthName(item.TrainingMonth) }}</th>
                            </tr>
                            <tr>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;height: 50px;" >รวมอบรม(ช.ม.)</th>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >รายเดือน(ชาย)</th>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >รายเดือน(หญิง)</th>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >รายวัน(ชาย)</th>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >รายวัน(หญิง)</th>
                            </tr>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, i) in trainingSummaryItems" :key="i" style="">
                        <th style="min-width: 200px;height: 60px;">{{ item.Grouping }}</th>
                        <th style="text-align: center;border-left: 0.5px solid rgba(0, 0, 0, 0.12)!important;min-width: 800px;" v-for="(item2, i) in item.TrainingSummaryItems" :key="i">
                            <tr>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >{{ item2.TotalHours }}</th>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >{{ item2.PermanentMaleHours }}</th>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >{{ item2.PermanentFemaleHours }}</th>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >{{ item2.TemporaryMaleHours }}</th>
                                <th style="text-align: center;font-weight: bold;min-width: 160px;" >{{ item2.TemporaryFemaleHours }}</th>
                            </tr>
                        </th>
                    </tr>
                </tbody>
            </table>
        <!-- <v-pagination v-model="page" :length="totalPages" circle /> -->
    </div>
</template>

<script>
import {
    mapMutations,
    mapState
} from "vuex";
import dayjs from "dayjs";

export default {
    name: "ReportTableList",

    data: () => ({
        infoDialog: false,
        isInfoLoading: false,
        infoDialogTitle: null,
        courseTitle: null
    }),
    mounted() {
        // this.getList(0)
    },

    computed: {
        // page : {

        // },
        ...mapState("report", [
            "trainingSummaryItems",
            "totalPages",
            "isLoading"
        ]),
        page: {
            get() {
                return this.$store.state.report.criteria.PagingCriteria.PageIndex + 1;
            },
            set(value) {
                let criteria = this.$store.state.report.criteria;
                criteria.PagingCriteria.PageIndex = value - 1;
                this.setCriteria(criteria);
            }
        },

        headers() {
            return [
                {
                    text: 'Role',
                    value: "RoleType",
                    width: "18%"
                }
            ];
        }
    },

    watch: {
        async page(value) {
            let criteria = this.$store.state.report.criteria;
            criteria.PagingCriteria.PageIndex = value - 1;
            this.setCriteria(criteria);
            await this.getReport(criteria);
        }
    },

    methods: {
        ...mapMutations({
            setCriteria: "report/SET_CRITERIA"
        }),
        convertJSONDateOnlyToString(value) {
            return value !== null ? dayjs(value).format("DD/MM/YYYY") : "-";
        },
        setMounthName(value) {
            return value !== null ? dayjs(value).format("MMMM") : "";
        },
        async getReport(criteria) {
            try {
                const result = await this.$store.dispatch(
                    "report/TRAINING_HISTORY",
                    criteria
                );
                console.log("result", result);
            } catch (e) {}
        },
        async getInfo(item) {
            const payload = {
                employeeId: item.EmployeeId,
                courseId: item.CourseId
            };

            try {
                this.isInfoLoading = true;
                this.courseTitle = item.CourseName;
                this.infoDialogTitle = item.Employee;
                const result = await this.$store.dispatch(
                    "report/TRAINING_HISTORY_INFO",
                    payload
                );
                this.isInfoLoading = false;
            } catch (e) {}
        }
    }
};
</script>

<style scoped>
    .theme--light.v-data-table thead tr:last-child th {
        border-bottom: 0px solid red!important;
    }
</style>
