<template>
    <v-form v-model="valid" ref="form">
        <v-row>
        
            <v-col cols="12" md="3" align-self="center" class="text-right" >
                {{ $t('training-course-schedule-generate') }} :
            </v-col>
            <v-col cols="12" md="3" >
                <v-text-field 
                    :label="$t('date-from')" 
                    v-model="dateFrom" 
                    clear-icon="mdi-close-circle"
                    v-mask="dateMask"
                    placeholder="dd/mm/yyyy"
                    :rules="dateRules"
                    clearable />
            </v-col>
            <v-col cols="12" md="3" >
                <v-text-field 
                    :label="$t('date-to')" 
                    v-model="dateTo" 
                    v-mask="dateMask"
                    clear-icon="mdi-close-circle"
                    placeholder="dd/mm/yyyy"
                    :rules="dateRules"
                    clearable/>
            </v-col>
            <v-col cols="12" md="3" align-self="center" class="text-center" >
                <v-btn
                    color="primary"
                    class="mx-0 font-weight-light"
                    dark
                    block
                    @click="submit"
                    :loading="loading"
                    style="padding: 0px" >
                    {{ $t('generate') }}
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import { mask } from 'vue-the-mask'
    import moment from 'moment'

    export default {
        name: 'TrainingCourseScheduleAddBar',

        directives: {
            mask
        },

        data: () => ({
            valid: false,

            dateMask: '##/##/####',

            dateFrom: null,
            dateTo: null,

            fieldRules: [
                (v) => !!v || 'Field is required.'
            ],
            dateRules: [
                (v) => !!v || 'Field is required.',
                (v) => {
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                    return errMsg
                    else if(inputDate > new Date(year + 100, month, day)){
                    return errMsg
                    }
                    else return true
                }
            ],

            loading: false,
        }),

        mounted() {
            
        },

        computed: {
        },

        methods: {
            async submit () {
                if (this.$refs.form.validate()) {
                    try {
                        this.loading = true
                        await this.$store.dispatch(
                            'trainingCourseSchedule/GENERATE_SCHEDULER',  
                            { 
                                dateFrom: moment(this.dateFrom, 'DD/MM/YYYY').format('YYYY-MM-DD'), 
                                dateTo: moment(this.dateTo, 'DD/MM/YYYY').format('YYYY-MM-DD') 
                            }
                        )
                        this.loading = false
                        // this.$router.push('/admin/training-course')
                    } catch (error) {
                        console.log('error', error)
                        this.loading = false
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>