<template>
    <div>
        <base-material-card icon="mdi-account-multiple">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    {{ $t($router.currentRoute.meta.title) }}
                    <span class="body-1">— {{ $t($router.currentRoute.meta.subtitle) }} </span>
                </div>
            </template>
            <v-container class="py-0">
                <v-form v-model="valid" ref="form" @submit.prevent="submit">
                    <v-row>
                        <v-col cols="12" class="text-right" >
                            <span class="body-1" v-if="this.id && $router.currentRoute.meta.subtitle !== 'duplicate'">{{ $t('training-course-period-number') }} {{ this.periodNo }}</span>
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="success" class="mr-1" type="submit" :loading="loading" :disabled="loading">
                                {{ $t('save') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <v-autocomplete
                                v-model="course"
                                :items="courseItems"
                                :loading="isCourseLoading"
                                :search-input.sync="courseSearch"
                                clearable
                                hide-no-data
                                item-text="FullName"
                                item-value="Id"
                                :label="$t('training-course-schedule-name')"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <v-text-field
                                v-model="trainingHour"
                                :label="$t('training-course-hours')"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <base-date-picker 
                                :label="$t('training-course-schedule-start-date')" 
                                :dateChangeParent="startDateChangeParent" 
                                :date="startDate"
                                :rules="dateRules" />
                            <!-- <v-text-field
                                v-model="startDate"
                                :label="$t('training-course-schedule-start-date')"
                                v-mask="mask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" /> -->
                        </v-col>
                        <!-- <v-col cols="12" md="6" >
                            <v-text-field 
                                :label="$t('training-course-period-number')" 
                                v-model="periodNo"
                                @paste="onPaste" 
                                v-on:keypress="isNumber($event)"
                                :rules="fieldRules"  />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field :label="$t('training-course-period-name')" v-model="periodName" :rules="fieldRules" />
                        </v-col> -->
                        <v-col cols="12" sm="6" md="4" >
                            <v-text-field :label="$t('training-course-period-value')" v-model="periodValue" disabled />
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <v-text-field :label="$t('training-course-period-type')" v-model="periodType" disabled />
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <v-text-field :label="$t('training-course-type')" v-model="trainingType" disabled />
                        </v-col>
                        <!-- <v-col cols="12" md="6" >
                            <v-text-field :label="$t('training-course-status')" v-model="status" disabled />
                        </v-col> -->

                    </v-row>
                </v-form>
                <v-divider />
                <v-row>
                    <v-col cols="12" >
                        <div class="font-weight-light card-title mt-2">
                            {{ $t('employee') }}
                        </div>
                    </v-col>
                    <v-col cols="12" md="2" align-self="center" class="text-center" >
                        <v-btn class="mx-0 font-weight-light" block color="success" style="padding: 0px" @click="employeeDialog = true; employeeActionType = 'add'" >
                            <v-icon left>mdi-plus</v-icon> ADD
                        </v-btn>
                    </v-col>
                    <v-col cols="12" style="overflow: auto;">
                        <v-data-table
                            :headers="headers"
                            :items="signRecordItems" >

                            <template v-slot:item="{ item, index }">
                                <tr>
                                    <td v-text="item.EmployeeCode" />
                                    <td v-text="item.Employee" />
                                    <td v-text="item.Department" />
                                    <td v-text="item.Position" />
                                    <td v-text="item.ContractType" />
                                    <td v-text="item.Nationality" />
                                    <td v-text="item.GenderDisplay" />
                                    <td>
                                        <v-btn dark icon min-width="0" @click="editEmployee(item, index); employeeActionType = 'edit'" >
                                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                                        </v-btn>
                                        <v-btn dark icon min-width="0" @click="removeEmployee(index)" >
                                            <v-icon color="red" v-text="'mdi-delete'" size="25" />
                                        </v-btn>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>

                <v-dialog v-model="employeeDialog" persistent max-width="800px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ $t('employee') }}</span>
                        </v-card-title>
                        <v-card-text>
                            <v-form v-model="employeeFormValid" ref="employeeForm">
                                <v-container>
                                    <v-row>
                                       <v-row>
                                            <v-col cols="12" >
                                                <br />
                                                <span class="body-1">{{ $t('employee') }} </span>
                                            </v-col>
                                            <v-col cols="12" md="6" >
                                                <v-autocomplete
                                                    v-model="employee"
                                                    :items="employeeItems"
                                                    :loading="isEmployeeLoading"
                                                    :search-input.sync="employeeSearch"
                                                    clearable
                                                    hide-no-data
                                                    item-text="FullName"
                                                    item-value="Id"
                                                    :label="$t('employee')"
                                                    :rules="fieldRules" />
                                            </v-col>
                                            <v-col cols="12" md="6" >
                                                <v-text-field :label="$t('label-employee-department')" v-model="department" disabled />
                                            </v-col>
                                            <v-col cols="12" md="6" >
                                                <v-text-field :label="$t('label-employee-position')" v-model="position" disabled />
                                            </v-col>
                                            <v-col cols="12" md="6" >
                                                <v-text-field :label="$t('label-employee-contract')" v-model="contract" disabled />
                                            </v-col>
                                            <v-col cols="12" md="6" >
                                                <v-text-field :label="$t('label-employee-nationality')" v-model="nationality" disabled />
                                            </v-col>
                                            <v-col cols="12" md="6" >
                                                <v-text-field :label="$t('label-employee-gender')" v-model="gender" disabled />
                                            </v-col>
                                        </v-row>
                                    </v-row>
                                </v-container>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer />
                            <v-btn color="blue darken-1" text @click="cancelEmployee">{{ $t('cancel-button')}}</v-btn>
                            <v-btn 
                                color="blue darken-1" 
                                text 
                                @click="addEmployee" 
                                :loading="loading" >
                                {{ $t(employeeActionType === 'add' ? 'add-button' : 'edit-button') }}
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-container>
        </base-material-card>
            
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import moment from 'moment'
    import _ from 'lodash'
    import { mask } from 'vue-the-mask'

    export default {
        name: 'TrainingCourseForm',

        directives: {
            mask
        },

        data: () => ({
            mask: '##/##/####',
            valid: false,
            employeeFormValid: false, 

            employeeDialog: false,
            employeeActionType: null,
            
            id: null,
            startDate: null,
            trainingType: null,
            trainingHour: null,
            periodNo: null,
            periodName: null,
            periodValue: null,
            periodType: null,

            course: null,
            isCourseLoading: false,
            courseItems: [],
            courseSearch: null,

            employee: null,
            isEmployeeLoading: false,
            employeeItems: [],
            employeeSearch: null,

            signRecordId: null,
            empId: null,
            empCode: null,
            name: null,
            department: null,
            position: null,
            contract: null,
            nationality: null,
            gender: null,

            signRecordIndex: -1,
            signRecordItems: [],

            loading: false,

            fieldRules: [
                (v) => !!v || 'Field is required.'
            ],
            dateRules: [
                (v) => !!v || 'Field is required.',
                (v) => {
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                    return errMsg
                    else if(inputDate > new Date(year + 100, month, day)){
                    return errMsg
                    }
                    else return true
                }
            ],
        }),

        created () {
            this.courseDebounce = _.debounce(this.findCourse, 500)
            this.employeeDebounce = _.debounce(this.findEmployee, 500)
        },

        async mounted () {
            // await this.findCourse()
            await this.getTrainingSchedule()
        },
        computed: {
            headers () {
                return  [
                    {
                        text: this.$t('label-employee-code'),
                        value: 'EmployeeCode',
                        width: '10%'
                    },
                    {
                        text: this.$t('label-employee-full-name'),
                        value: 'Employee',
                        width: '10%'
                    },
                    {
                        text: this.$t('label-employee-department'),
                        value: 'Department',
                        width: '10%'
                    },
                    {
                        text: this.$t('label-employee-position'),
                        value: 'Position',
                        width: '10%'
                    },
                    {
                        text: this.$t('label-employee-contract'),
                        value: 'ContractType',
                        width: '10%'
                    },
                    {
                        text: this.$t('label-employee-nationality'),
                        value: 'Nationality',
                        width: '10%'
                    },
                    {
                        text: this.$t('label-employee-gender'),
                        value: 'GenderDisplay',
                        width: '10%'
                    },
                    {
                        sortable: false,
                        text: '#',
                        width: '10%',
                        value: 'action'
                    }
                ]
            }
        },

        watch: {
            courseSearch (value) {
                this.isLeaderLoading = true
                this.courseDebounce(value)
            },
            course (id) {
                if (id) {
                    const items = this.courseItems.filter(item => item.Id === id) 
                    if (items.length > 0) {
                        this.trainingType = items[0].TypeDisplay
                        this.periodValue = items[0].PeriodValue
                        this.periodType = items[0].PeriodType
                        if (items[0].TrainingHoursRequired !== null && 
                            items[0].TrainingHoursRequired !== '' && 
                            items[0].TrainingHoursRequired !== 0) this.trainingHour = items[0].TrainingHoursRequired
                    }
                } else {
                    this.trainingType = null
                    this.periodValue = null
                    this.periodType = null
                    this.trainingHour = null
                }
            },
            employeeSearch (value) {
                this.isEmployeeLoading = true
                this.employeeDebounce(value)
            },
            employee (id) {
                if (id) {
                    const items =  this.employeeItems.filter(item => item.Id === id) 
                    if (items.length > 0) {
                        this.empId = items[0].Id
                        this.empCode = items[0].Code
                        this.name = items[0].Name
                        this.department = items[0].Department
                        this.position = items[0].Position
                        this.contract = items[0].ContractType
                        this.nationality = items[0].Nationality
                        this.gender = items[0].GenderDisplay
                    }
                } else {
                    this.empId = null
                    this.empCode = null
                    this.name = null
                    this.department = null
                    this.position = null
                    this.contract = null
                    this.nationality = null
                    this.gender = null
                }
            }
        },

        methods: {
            async getTrainingSchedule () {
                if (this.$route.params.id) {
                    try {
                        this.loading = true
                        if (this.$route.meta.subtitle === 'edit') await this.$store.dispatch('trainingCourseSchedule/GET', this.$route.params.id)
                        else if (this.$route.meta.subtitle === 'duplicate') await this.$store.dispatch('trainingCourseSchedule/DUPLICATE', this.$route.params.id)

                        const { 
                            Id,
                            TypeDisplay,
                            PeriodNo,
                            // PeriodName,
                            PeriodValue,
                            PeriodTypeDisplay,
                            // IsPublish,
                            SignRecordItems,
                            StartDate,
                            TrainingCourseId,
                            TrainingCourse,
                            TrainingHours
                        } = this.$store.state.trainingCourseSchedule.item
                        // console.log('trainingCourseSchedule.item==>', this.$store.state.trainingCourseSchedule.item)
                        // console.log('TrainingCourse==>', TrainingCourse)
                        this.id = Id
                        this.trainingType = TypeDisplay
                        this.periodNo = PeriodNo
                        // this.periodName = PeriodName
                        this.periodValue = PeriodValue
                        this.periodType = PeriodTypeDisplay
                        // this.status = IsPublish ? 'Publish' : 'Unpublish'
                        this.startDate = StartDate
                        this.course = TrainingCourseId
                        this.courseItems = [{ 
                            Id: TrainingCourseId, 
                            Name: TrainingCourse, 
                            FullName: TrainingCourse,
                            TypeDisplay: TypeDisplay, 
                            PeriodValue: PeriodValue, 
                            PeriodType: PeriodTypeDisplay,
                            TrainingHoursRequired: TrainingHours
                        }]
                        this.signRecordItems = SignRecordItems

                        this.loading = false
                    } catch (error) {
                        console.log('error', error)
                        this.loading = false
                    }
                }
            },
            async findCourse (value) {
                if (value === null || value === '') {
                     this.isCourseLoading = false
                     this.courseItems = []
                     return
                }

                try {
                    const text = value.split('-')
                    this.isCourseLoading = true
                    if(text.length > 1)
                        this.courseItems = await this.$store.dispatch('trainingCourse/FIND', { Criteria: { AutoCompleteText: text[0] } } )
                    else
                        this.courseItems = await this.$store.dispatch('trainingCourse/FIND', { Criteria: { AutoCompleteText: value } } )
                    this.isCourseLoading = false
                } catch (e) {
                    this.isCourseLoading = false
                }
            },
            async findEmployee (value) {
                if (value === null || value === '') {
                    this.isEmployeeLoading = false
                    this.employeeItems = []
                    return
                }

                try {
                    const text = value.split('-')
                    this.isEmployeeLoading = true
                    this.employeeItems = await this.$store.dispatch('employee/FIND', { Criteria: { AutoCompleteText: text[0] } } )
                    this.isEmployeeLoading = false
                } catch (e) {
                    this.isEmployeeLoading = false
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const payload = {
                        Id: this.id,
                        TrainingCourseId: this.course,
                        StartDate: this.startDate,
                        // PeriodNo: this.periodNo,
                        // PeriodName: this.periodName,
                        SignRecordItems: this.signRecordItems,
                        TrainingHours: this.trainingHour
                    }

                    if (payload.Id === null) delete payload.Id
                    console.log('payload xx', payload)

                    try {
                        this.loading = true
                        await this.$store.dispatch('trainingCourseSchedule/SAVE', payload)
                        this.$router.push('/admin/training-course-schedule')
                    } catch (error) {
                        this.loading = false
                    }
                    this.loading = false
                }
            },
            addEmployee () {
                if (this.$refs.employeeForm.validate()) {
                    const item = {
                        Id: this.signRecordId,
                        EmployeeId: this.empId,
                        EmployeeCode: this.empCode,
                        Employee: this.name,
                        Department: this.department,
                        Position: this.position,
                        ContractType: this.contract,
                        Nationality: this.nationality,
                        GenderDisplay: this.gender
                    }
                    
                    if (this.employeeActionType === 'add') {
                        this.signRecordItems.push(item)
                    } else {
                        let signRecordItems = JSON.parse(JSON.stringify(this.signRecordItems))
                        signRecordItems[this.signRecordIndex] = item
                        this.signRecordItems = signRecordItems
                        console.log('edit employee', this.signRecordItems)
                    }

                    this.employeeDialog = false
                    this.clearEmployee()
                }
            },
            editEmployee (item, index) {
                this.signRecordIndex = index
                this.employeeDialog = true
                this.signRecordId = item.id
                this.employee = item.EmployeeId
                this.employeeItems = [{ 
                    Id: item.EmployeeId,
                    Code: item.EmployeeCode,
                    FullName: item.EmployeeCode + '-' + item.Employee,
                    Name: item.Employee, 
                    Department: item.Department,
                    Position: item.Position,
                    Nationality: item.Nationality,
                    GenderDisplay: item.GenderDisplay,
                    ContractType: item.ContractType
                }]
            },
            removeEmployee (index) {
                const signRecordItems = this.signRecordItems.filter((item, i) => i != index )
                this.signRecordItems = signRecordItems
            },
            cancelEmployee () {
                this.employeeDialog = false
            },
            clearEmployee () {
                this.signRecordId = null
                this.empId = null
                this.empCode = null
                this.name = null
                this.department = null
                this.position = null
                this.contract = null
                this.nationality = null
                this.gender = null
                this.$refs.employeeForm.reset()
            },
            onPaste (evt) {
                evt.preventDefault()
            },
            isNumber (evt) {
                evt = (evt) ? evt : window.event
                var charCode = (evt.which) ? evt.which : evt.keyCode
                
                if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                    evt.preventDefault()
                } else {
                    return true
                }
            },
            convertJSONDateOnlyToString (value) {
                return moment(value).format('DD/MM/YYYY')
            },            
            startDateChangeParent(value) {
                this.startDate = value
            },
        }
    }
</script>

<style>
.v-image__image--cover {
    border-radius: 0px!important;
}
</style>
