<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.PeriodName" />
                    <td v-text="item.PeriodNo" />
                    <td v-text="convertJSONDateOnlyToString(item.StartDate)" />
                    <td v-text="convertJSONTimeOnlyToString(item.StartTime)" />
                    <td v-text="convertJSONDateOnlyToString(item.EndDate)" />
                    <td v-text="convertJSONTimeOnlyToString(item.EndTime)" />
                    <td v-text="item.Type" />
                    <td v-text="item.Place" />
                </tr>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import moment from 'moment'
    
    export default {
        name: 'TrainingCourseTableList',

        data: () => ({
            page: 1,
            search: undefined
        }),

        mounted() {
            this.setItems([])
        },

        computed: {
            // page : {
                
            // },
            ...mapState(
                'trainingCourseSchedule', 
                [ 
                    'items',
                    'isLoading' 
                ]
            ),

            headers () {
                return  [
                    {
                        text: this.$t('training-course-schedule-period-name'),
                        value: 'Code',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-schedule-period-number'),
                        value: 'Name',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-schedule-start-date'),
                        value: 'Type',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-schedule-end-time'),
                        value: 'Place',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-schedule-end-date'),
                        value: 'BeginDate',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-schedule-end-time'),
                        value: 'BeginTime',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-schedule-type'),
                        value: 'FinishedDate',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-schedule-place'),
                        value: 'FinishedTime',
                        width: '10%'
                    }
                ]
            }
        },

        methods: {
            ...mapMutations({
                setItems: 'trainingCourseSchedule/SET_ITEMS',
            }),
            convertJSONDateOnlyToString (value) {
                return moment(value).format('DD/MM/YYYY')
            },
            convertJSONTimeOnlyToString (value) {
                return moment(value, 'YYYY/MM/DDTHH:mm').format('HH:mm')
            }
        }
    }
</script>
