<template>
  <div>
    <v-form @submit.prevent="search" >
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            :label="$t('label-search')"
            v-model="textSearch"
            clear-icon="mdi-close-circle"
            clearable
          />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            type="submit"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-search') }}
          </v-btn>
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            @click="advanceDialog = true"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-advance-search') }}
          </v-btn>
        </v-col>
        <v-dialog v-model="advanceDialog" persistent max-width="600px">
          <v-form v-model="advanceSearchValid" ref="advanceSearchForm" @submit.prevent="searchAdvance">
            <v-card>
              <v-card-title>
                <span class="headline">{{ $t('label-advance-search') }}</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        :label="$t('attendance-record-training-course-name')"
                        v-model="name"
                        clear-icon="mdi-close-circle"
                        clearable
                      />
                    </v-col>
                    <v-col cols="12" sm="6">
                      <base-date-picker :label="$t('date-from')"
                        :dateChangeParent="dateFromChangeParent" 
                        :date="dateFrom"
                        :rules="dateRules" />
                      <!-- <v-text-field
                        v-model="dateFrom"
                        :label="$t('date-from')"
                        v-mask="mask"
                        placeholder="dd/mm/yyyy"
                        clear-icon="mdi-close-circle"
                        clearable
                        :rules="dateRules" /> -->
                    </v-col>
                    <v-col cols="12" sm="6">
                      <base-date-picker :label="$t('date-to')"
                        :dateChangeParent="dateToChangeParent" 
                        :date="dateTo"
                        :rules="dateRules" />
                      <!-- <v-text-field
                        v-model="dateTo"
                        :label="$t('date-to')"
                        v-mask="mask"
                        placeholder="dd/mm/yyyy"
                        clear-icon="mdi-close-circle"
                        clearable
                        :rules="dateRules" /> -->
                    </v-col>
                  </v-row>
                </v-container>
                <!-- <small>*indicates required field</small> -->
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="clearCriteria">Clear</v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  type="submit"
                  :loading="isLoading"
                >{{ $t('label-search')}}</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { mask } from 'vue-the-mask'
import moment from 'moment'

export default {
  name: "AttendanceRecordSearchBar",

  directives: {
    mask
  },

  data: () => ({
    mask: '##/##/####',
    advanceSearchValid: false,
    advanceDialog: null,
    textSearch: null,
    name: null,
    dateFrom: null,
    dateTo: null,

    dateRules: [
      (v) => {
        const errMsg =  'Date format is invalids';
        let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
        var d = new Date();
        var year = d.getFullYear();
        var month = d.getMonth();
        var day = d.getDate();

        if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
         return errMsg
        else if(inputDate > new Date(year + 100, month, day)){
          return errMsg
        }
        else return true
      }
    ]
  }),

  mounted() {
    if (this.items.length === 0) {
      let criteria = {
        Criteria: {
          CourseName: null,
          DateFrom: null,
          DateTo: null,
          AutoCompleteText: null
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };

      this.setCriteria(criteria);
      this.find(criteria)
    } else {
      console.log('ccc', this.criteria)
      this.name = this.criteria.Criteria.CourseName
      this.dateFrom = this.criteria.Criteria.DateFrom
      this.dateTo = this.criteria.Criteria.DateTo
      this.textSearch = this.criteria.Criteria.AutoCompleteText
      
      if (this.$route.params.breadcrumb === true) this.find(this.criteria)
    }
  },

  computed: {
    ...mapState("trainingCourseSchedule", ["isLoading", "items", "criteria"])
  },

  methods: {
    async search() {
      let criteria = {
        Criteria: {
          CourseName: null,
          DateFrom: null,
          DateTo: null,
          AutoCompleteText: this.textSearch
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };
      console.log('ts', criteria)
      this.setCriteria(criteria);
      await this.find(criteria);
    },
    async searchAdvance() {
      if (this.$refs.advanceSearchForm.validate()) {
        let criteria = {
          Criteria: {
            CourseName: this.name,
            DateFrom: this.dateFrom,
            DateTo: this.dateTo,
            AutoCompleteText: null
          },
          SortingCriteria: [],
          PagingCriteria: { PageIndex: 0, PageSize: 10 }
        };
        console.log("searchAdvance", criteria);
        this.setCriteria(criteria);
        await this.find(criteria);
        this.advanceDialog = false;
      }
    },
    async find(criteria) {
      try {
        const result = await this.$store.dispatch(
          "trainingCourseSchedule/FIND",
          criteria
        );
      } catch (e) {}
    },
    ...mapMutations({
      setCriteria: "trainingCourseSchedule/SET_CRITERIA"
    }),
    clearCriteria() {
      this.name = null
      this.dateFrom = null
      this.dateTo = null
    },
    validateDateAndReturnDate(value) {
      if (moment(value, 'DD/MM/YYYY').format('DD/MM/YYYY') === value) return moment(value, 'DD/MM/YYYY').format('YYYY/MM/DD')
      else return null
    },
    dateFromChangeParent(value) {
      if (value) this.dateFrom = value
    },
    dateToChangeParent(value) {
      if (value) this.dateTo = value
    }
  }
};
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 0px 30px !important;
}
</style>