<template>
<div>
    <v-data-table 
        :headers="headers" 
        :items="items" 
        :loading="isLoading" 
        hide-default-footer 
        style="min-height: 400px;"
        :custom-sort="customSort">

        <template v-slot:item="{ item }">
            <tr>
                <td v-text="item.TrainingCourse" />
                <td v-text="item.TypeDisplay" />
                <td v-text="item.PeriodNo" />
                <td v-text="convertJSONDateOnlyToString(item.StartDate)" />
                <td>
                    <v-btn dark icon min-width="0" :to="{ name: 'admin-training-course-schedule-edit', params: { id: item.Id } }">
                        <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                    </v-btn>
                    <v-btn dark icon min-width="0" :to="{ name: 'admin-training-course-schedule-duplicate', params: { id: item.Id } }">
                        <v-icon color="green" v-text="'mdi-content-duplicate'" size="25" />
                    </v-btn>
                    <v-btn dark icon min-width="0" @click="remove(item.Id)">
                        <v-icon color="red" v-text="'mdi-delete'" size="25" />
                    </v-btn>

                </td>
            </tr>
        </template>
    </v-data-table>

    <v-pagination v-model="page" :length="totalPages" circle />
</div>
</template>

<script>
import {
    mapMutations,
    mapState
} from 'vuex'
import moment from 'moment'

export default {
    name: 'TrainingCourseTableList',

    data: () => ({
        // page: 1,
        search: undefined,
        sort: {},
        oldSort: {}
    }),

    mounted() {

    },

    computed: {
        ...mapState(
            'trainingCourseSchedule',
            [
                'items',
                'totalPages',
                'isLoading'
            ]
        ),
        page: {
            get() {
                return this.$store.state.trainingCourseSchedule.criteria.PagingCriteria.PageIndex + 1
            },
            set(value) {
                let criteria = this.$store.state.trainingCourseSchedule.criteria
                criteria.PagingCriteria.PageIndex = value - 1
                this.setCriteria(criteria)
            }
        },
        headers() {
            return [{
                    text: this.$t('training-course-schedule-name'),
                    value: 'TrainingCourse',
                    width: '10%'
                },
                {
                    text: this.$t('training-course-schedule-type'),
                    value: 'Type',
                    width: '10%'
                },
                {
                    text: this.$t('training-course-schedule-period-number'),
                    value: 'PeriodNo',
                    width: '10%'
                },
                {
                    text: this.$t('training-course-schedule-start-date'),
                    value: 'StartDate',
                    width: '10%'
                },
                {
                    sortable: false,
                    text: '#',
                    width: '10%',
                    value: 'action'
                }
            ]
        }
    },

    watch: {
        async page(value) {
            let criteria = this.$store.state.trainingCourseSchedule.criteria
            criteria.PagingCriteria.PageIndex = value - 1
            this.setCriteria(criteria)
            await this.find(criteria)
        },
        async sort (value) {
            console.log('sort', value)

            if (this.oldSort.name === value.name && this.oldSort.orderBy === value.orderBy) return

            let criteria = this.$store.state.trainingCourseSchedule.criteria
            if (value.name) {
                criteria.SortingCriteria = [{
                    Name: value.name,
                    Direction: value.orderBy
                }]

                console.log('criteria', criteria)
            } else {
                criteria.SortingCriteria = []
            }
            
            this.setCriteria(criteria)
            const result = await this.find(criteria)
            this.oldSort = this.sort
        }
    },

    methods: {
        ...mapMutations({
            setCriteria: 'trainingCourse/SET_CRITERIA',
        }),
        async find(criteria) {
            try {
                await this.$store.dispatch('trainingCourseSchedule/FIND', criteria)
            } catch (e) {

            }
        },
        async remove(id) {
            try {
                await this.$store.dispatch('trainingCourseSchedule/REMOVE', id)
                let criteria = this.$store.state.trainingCourseSchedule.criteria
                await this.find(criteria)
            } catch (e) {

            }
        },
        convertJSONDateOnlyToString(value) {
            return moment(value).format('DD/MM/YYYY')
        },
        convertJSONTimeOnlyToString(value) {
            return moment(value, 'YYYY/MM/DDTHH:mm').format('HH:mm')
        },
        customSort (items, index, isDesc) {
            this.sort = { name: index[0] || typeof index[0] !== 'undefined' ? index[0] : null, orderBy: (index[0] || typeof isDesc[0] !== 'undefined') && isDesc[0] === true ? 1 : 0 }
        
            return items
        }
    }
}
</script>
