<template>
    <div style="overflow: auto;" >
        <v-data-table
            :headers="headers"
            :items="employeeItems"
            hide-default-footer
            style="width: 1024;min-height: 400px;text-align: center;"
            :loading="isLoading" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.Grouping" />
                    <td v-text="item.TotalManagerEmployee" />
                    <td v-text="item.TotalMonthlyEmployee"  />
                    <td v-text="item.TotalDailyEmployee"  />
                    <td v-text="item.TotalMigrantWorkers"  />
                </tr>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'ReportTableList',

        data: () => ({
            infoDialog: false,

            code: null,
            name: null,
            position: null,
            startWorkDate: null,
            sickLeaveRights: null,
            personalLeaveRights: null,
            annuallyLeaveRights: null,
            annuallyBroughtForward: null,
            sickLeaveUsing: null,
            personalLeaveUsing: null,
            annuallyLeaveUsing: null,
            sickLeaveBalance: null,
            personalLeaveBalance: null,
            annuallyLeaveBalance: null,
            workingYear: null

        }),
        mounted() {
            // this.getList(0)
        },

        computed: {
            // page : {
                
            // },
            ...mapState(
                'report', 
                [ 
                    'employeeItems',
                    'totalPages',
                    'isLoading' 
                ]
            ),
            headers () {
                return  [
                    {
                        text: this.$t('report-gender'),
                        value: 'Grouping',
                        width: '1%',
                        align: 'center'
                    },
                    {
                        text: this.$t('report-manager'),
                        value: 'TotalManagerEmployee',
                        width: '2%',
                        align: 'center'
                    },
                    {
                        text: this.$t('report-permanent-employee'),
                        value: 'TotalMonthlyEmployee',
                        width: '1%',
                        align: 'center'
                    },
                    {
                        text: this.$t('report-temporary-employee'),
                        value: 'TotalDailyEmployee',
                        width: '1%',
                        align: 'center'
                    },
                    {
                        text: this.$t('report-alien-worker'),
                        value: 'TotalMigrantWorkers',
                        width: '1%',
                        align: 'center',
                        divider : true
                    }
                ]
            }
        },

        
        methods: {
            ...mapMutations({
                setCriteria: 'report/SET_CRITERIA',
            }),
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            },
            async getReport (criteria) {
                try {
                    console.log('svsdv', criteria)
                    const result = await this.$store.dispatch('report/EMPLOYEE', criteria)
                    console.log('result', result)
                } catch (e) {
                    
                }
            },
            displayInfo(item) {
                this.code = item.Code
                this.name = item.Name
                this.position = item.Position
                this.startWorkDate = this.convertJSONDateOnlyToString(item.StartWorkDate)
                this.sickLeaveRights = item.SickLeaveRights
                this.personalLeaveRights = item.PersonalLeaveRights
                this.annuallyLeaveRights = item.AnnuallyLeaveRights
                this.annuallyBroughtForward = item.AnnuallyBroughtForward
                this.sickLeaveUsing = item.SickLeaveUsing
                this.personalLeaveUsing = item.PersonalLeaveUsing
                this.annuallyLeaveUsing = item.AnnuallyLeaveUsing
                this.sickLeaveBalance = item.SickLeaveBalance
                this.personalLeaveBalance = item.PersonalLeaveBalance
                this.annuallyLeaveBalance = item.AnnuallyLeaveBalance
                this.workingYear = item.WorkingYear
                this.infoDialog = true
            }
        }      
    }
</script>
