<template>
    <div>
        <base-material-card icon="mdi-account-multiple">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    {{ $t($router.currentRoute.meta.title) }}
                    <span class="body-1">— {{ $t($router.currentRoute.meta.subtitle) }} </span>
                </div>
            </template>

            <v-form v-model="valid" ref="form" @submit.prevent="submit">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" class="text-right" >
                            <v-btn v-if="this.status || $router.currentRoute.meta.subtitle == 'add'" color="success" class="mr-1" type="submit" :loading="loading" :disabled="loading">
                                {{ $t('save') }}
                            </v-btn>
                            <v-btn v-if="this.status" color="red" class="mr-1" @click="resignDialog = true" :loading="loading" :disabled="loading">
                                {{ $t('resign') }}
                            </v-btn>
                            <span class="body-1" style="color: red;" v-if="$router.currentRoute.meta.subtitle !== 'add' && !this.status">resign date: {{ this.endWorkDate }}</span>
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-text-field :label="$t('label-employee-code')" v-model="code" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-text-field :label="$t('label-employee-full-name')" v-model="name" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                             <v-select 
                                v-model="contractsType" 
                                :items="contractsTypeItems" 
                                :label="$t('label-employee-contract')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <base-date-picker 
                                :label="$t('label-employee-date-employed')" 
                                :dateChangeParent="dateEmployedChangeParent" 
                                :date="dateEmployed"
                                :rules="dateRules" />
                            <!-- <v-text-field
                                v-model="dateEmployed"
                                :label="$t('label-employee-date-employed')"
                                v-mask="mask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" /> -->
                        </v-col>
                         <v-col cols="12" sm="6" md="3" >
                            <v-select 
                                v-model="gender" 
                                :items="genderItems" 
                                :label="$t('label-employee-gender')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-select 
                                v-model="nationality" 
                                :items="nationalityItems" 
                                :label="$t('label-employee-nationality')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <base-date-picker 
                                :label="$t('label-employee-birth-date')" 
                                :dateChangeParent="birthDateChangeParent" 
                                :date="birthDate"
                                :rules="dateRules" />
                            <!-- <v-text-field
                                v-model="birthDate"
                                :label="$t('label-employee-birth-date')"
                                v-mask="mask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" /> -->
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-select 
                                v-model="department" 
                                :items="departmentItems" 
                                :label="$t('label-employee-department')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-autocomplete
                                v-model="leader"
                                :items="leaderItems"
                                :loading="isLeaderLoading"
                                :search-input.sync="leaderSearch"
                                clearable
                                hide-no-data
                                item-text="FullName"
                                item-value="Id"
                                :label="$t('label-employee-leader')" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-autocomplete
                                v-model="foreman"
                                :items="foremanItems"
                                :loading="isForemanLoading"
                                :search-input.sync="foremanSearch"
                                clearable
                                hide-no-data
                                item-text="FullName"
                                item-value="Id"
                                :label="$t('label-employee-foreman')" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-select 
                                v-model="position" 
                                :items="positionItems" 
                                :label="$t('label-employee-position')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-text-field :label="$t('label-employee-address')" v-model="address" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-select 
                                v-model="province" 
                                :items="provinceItems" 
                                item-text="Name"
                                item-value="Id"
                                :label="$t('label-employee-province')" 
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-select 
                                v-model="district" 
                                :items="districtItems" 
                                item-text="Name"
                                item-value="Id"
                                :label="$t('label-employee-district')" 
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-select 
                                v-model="subDistrict" 
                                :items="subDistrictItems" 
                                item-text="Name"
                                item-value="Id"
                                :label="$t('label-employee-sub-district')" 
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="3" >
                            <v-text-field :label="$t('label-employee-zipcode')" v-model="zipcode" disabled />
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-textarea
                                v-model="reason"
                                class="purple-input"
                                label="reason"
                                filled
                                disabled
                            />
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-textarea
                                v-model="remark"
                                class="purple-input"
                                label="remark"
                                filled
                            />
                        </v-col>
                    </v-row>
                    <v-divider />
                    <v-row>
                        <v-col cols="12" >
                            <v-tabs v-model="tabs" >
                                <v-tabs-slider></v-tabs-slider>

                                <v-tab
                                    v-for="item in tabItems"
                                    :key="item"
                                >
                                    {{ item }}
                                </v-tab>
                            </v-tabs>
                            <v-tabs-items v-model="tabs">
                                <v-tab-item>
                                    <v-col cols="12" md="2" align-self="center" class="text-center" >
                                        <v-btn class="mx-0 font-weight-light" block color="success" style="padding: 0px" @click="documentaryDialog = true; documentaryActionType = 'add'" >
                                            <v-icon left>mdi-plus</v-icon> ADD
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" style="overflow: auto;">
                                        <v-data-table
                                            :headers="headers"
                                            :items="personInfoItems"
                                            hide-default-footer >

                                            <template v-slot:item="{ item, index }">
                                                <tr>
                                                    <td v-text="item.TypeDisplay" />
                                                    <td v-text="item.Values" />
                                                    <td>
                                                        <v-btn dark icon min-width="0" @click="editDocumentary(item, index); documentaryActionType = 'edit'" >
                                                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                                                        </v-btn>
                                                        <v-btn dark icon min-width="0" @click="removeDocumentary(index)" >
                                                            <v-icon color="red" v-text="'mdi-delete'" size="25" />
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </template>
                                        </v-data-table>
                                    </v-col>
                                </v-tab-item>
                                <v-tab-item>
                                    <leave-history :employeeId="$route.params.id" />
                                </v-tab-item>
                                <v-tab-item>
                                    <training-history :employeeId="$route.params.id" />
                                </v-tab-item>
                            </v-tabs-items>
                        </v-col>
                        
                    </v-row>
                </v-container>
            </v-form>
            <v-dialog v-model="documentaryDialog" persistent max-width="400px">
                 <v-card>
                    <v-card-title>
                        <span class="headline">{{ $t('employee-documentary') }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-form v-model="documentaryFormValid" ref="documentaryForm">
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-select 
                                            v-model="personInfoContractsType" 
                                            :items="personInfoContractsTypeItems" 
                                            :label="$t('employee-contract-type')" 
                                            item-text="Name"
                                            item-value="Id"
                                            :rules="fieldRules" />
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field :label="$t('employee-info')" v-model="personInfoValue" :rules="fieldRules" />
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn color="blue darken-1" text @click="cancelDocumentary">{{ $t('cancel-button')}}</v-btn>
                        <v-btn 
                            color="blue darken-1" 
                            text 
                            @click="addDocumentary" 
                            :loading="loading" >
                            {{ $t(documentaryActionType === 'add' ? 'add-button' : 'edit-button') }}
                        </v-btn>
                    </v-card-actions>
                 </v-card>
            </v-dialog>
            <v-dialog v-model="resignDialog" persistent max-width="400px">
                 <v-card>
                    <v-card-title>
                        <span class="headline">{{ $t('resign') }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-form v-model="resignFormValid" ref="resignForm">
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field
                                            v-model="resignDate"
                                            :label="$t('label-employee-resign-date')"
                                            v-mask="mask"
                                            placeholder="dd/mm/yyyy"
                                            :rules="dateRules" />
                                    </v-col>
                                     <v-col cols="12" >
                                        <v-textarea
                                            v-model="resignRemark"
                                            class="purple-input"
                                            label="remark"
                                            filled
                                            :rules="fieldRules"
                                        />
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn color="blue darken-1" text @click="cancelResign">{{ $t('cancel-button')}}</v-btn>
                        <v-btn 
                            color="blue darken-1" 
                            text 
                            @click="resign()" 
                            :loading="loading" >
                            {{ $t('resign') }}
                        </v-btn>
                    </v-card-actions>
                 </v-card>
            </v-dialog>
            <v-dialog v-model="loading" hide-overlay persistent width="300" >
                <v-card color="primary" dark >
                    <v-card-text>
                        <div style="color: #FFFFFF;"> {{ $t('loading') }} </div>
                        <v-progress-linear indeterminate color="white" class="mb-0" />
                    </v-card-text>
                </v-card>
            </v-dialog>
        </base-material-card>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    import moment from 'moment'
    import _ from 'lodash'
    import { mask } from 'vue-the-mask'

    export default {
        name: 'EmployeeForm',

        components: {
            LeaveHistory: () => import("./LeaveHistory"),
            TrainingHistory: () => import("./TrainingHistory")
        },

        directives: {
            mask
        },

        data: () => ({
            wasPrepared: false,
            valid: false,
            documentaryFormValid: false,
            resignFormValid: false,
            documentaryDialog: false,
            resignDialog: false,
            documentaryActionType: null,
            mask: '##/##/####',
            code: null,
            name: null,
            status: null,
            remark: null,
            reason: null,

            tabs: null,
            tabItems: [],

            gender: null,
            genderItems: [],

            contract: null,
            isContractLoading: false,
            contractItems: [],
            contractSearch: null,

            dateEmployed: null,
            birthDate: null,

            department: null,
            departmentItems: [],

            contractsType: null,
            contractsTypeItems: [],

            leader: null,
            isLeaderLoading: false,
            leaderItems: [],
            leaderSearch: null,

            foreman: null,
            isForemanLoading: false,
            foremanItems: [],
            foremanSearch: null,

            nationality: null,
            nationalityItems: [],

            position: null,
            positionItems: [],

            province: null,
            provinceItems: [],

            district: null,
            districtItems: [],

            subDistrict: null,
            subDistrictItems: [],

            zipcode: null,

            address: null,

            resignDate: null,
            resignRemark: null,

            endWorkDate: null,

            personInfoIndex: -1,
            personInfoItems: [],
            personInfoContractsType: null,
            personInfoValue: null,
            personInfoContractsTypeItems: [],

            fieldRules: [
                (v) => !!v || 'Field is required.'
            ],
            dateRules: [
                (v) => !!v || 'Field is required.',
                (v) => {
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                        return errMsg
                    else if(inputDate > new Date(year + 100, month, day)){
                        return errMsg
                    }
                    else return true
                }
            ],
            loading: false
        }),
        computed: {
            // tabItems () {
            //     return [ this.$t('employee-documentary'), this.$t('leave-history'), this.$t('training-history') ]
            // },
            headers () {
                return  [
                    {
                        text: this.$t('employee-contract-type'),
                        value: 'EmployeeCode',
                        width: '33%'
                    },
                    {
                        text: this.$t('employee-info'),
                        value: 'EmployeeName',
                        width: '33%'
                    },
                    {
                        sortable: false,
                        text: '#',
                        width: '33%',
                        value: 'action'
                    }
                ]
            }
        },
        async mounted () {
            this.loading = true
            await this.getAllGender()
            await this.findContractsType()
            await this.findNationality()
            await this.findDepartment()
            await this.findPosition()
            await this.findProvince()
            await this.getEmployee()
            await this.getAllContactType()
            this.loading = false
            // await this.getAllProvinces()
            // await this.findDepartment()
        },
        created () {
            this.leaderDebounce = _.debounce(this.findLeader, 500)
            this.foremanDebounce = _.debounce(this.findForeman, 500)
            // this.departmentDebounce = _.debounce(this.findDepartment, 500)
            // this.positionDebounce = _.debounce(this.findPosition, 500)
            // this.provinceDebounce = _.debounce(this.findProvince, 500)
            
            
        },
        
        watch: {
            leaderSearch (value) {
                this.isLeaderLoading = true
                this.leaderDebounce(value)
            },
            foremanSearch (value) {
                this.isForemanLoading = true
                this.foremanDebounce(value)
            },
            province (value) {
                this.findDistrict(value)
                if (this.$route.params.id && !this.wasPrepared) return
                this.district = null
                this.subDistrict = null
                this.zipcode = null
                
            },
            district (value) {
                this.findSubDistrict(value)
                if (this.$route.params.id && !this.wasPrepared) return
                this.subDistrict = null
                this.zipcode = null
            },
            subDistrict (value) {
                if (this.$route.params.id && !this.wasPrepared) {
                    this.wasPrepared = true
                    return
                } else {
                    const subDistrict = this.subDistrictItems.find(item => value === item.Id)
                    if (subDistrict) this.zipcode = subDistrict.ZipCode
                    this.wasPrepared = true
                }
            }
        },

        beforeMount() {
            if (this.$route.params.id) {
                this.tabItems = [ this.$t('employee-documentary'), this.$t('leave-history'), this.$t('training-history') ]
            } else {
                this.tabItems = [ this.$t('employee-documentary') ]
            }
        },

        methods: {
            async getEmployee () {
                if (this.$route.params.id) {
                    try {
                        this.loading = true
                        await this.$store.dispatch('employee/GET', this.$route.params.id)

                        const { 
                            BornDate,
                            NationalityId,
                            DepartmentId,
                            PositionId,
                            ContractTypeId,
                            Address,
                            ProvinceId,
                            DistrictId,
                            ForemanId,
                            Foreman,
                            LeaderId,
                            Leader,
                            SubDistrictId,
                            ZipCode,
                            Code, 
                            Gender, 
                            Nationality,
                            StartWorkDate,
                            EndWorkDate,
                            Id,
                            Name,
                            PersonInfoItems,
                            IsActive,
                            Remark,
                            ResignReason
                        } = this.$store.state.employee.item
                    
                        this.id = Id
                        this.contractsType = ContractTypeId
                        this.nationality = NationalityId
                        this.department = DepartmentId
                        this.position = PositionId
                        this.gender = Gender
                        this.name = Name
                        this.code = Code
                        this.province = ProvinceId
                        this.district = DistrictId
                        this.subDistrict = SubDistrictId
                        this.zipcode = ZipCode
                        this.birthDate = BornDate
                        this.dateEmployed = StartWorkDate
                        this.endWorkDate = this.convertJSONDateOnlyToString(EndWorkDate)
                        this.foreman = ForemanId
                        this.foremanItems = [ { Id: ForemanId, FullName: Foreman } ]
                        this.leader = LeaderId
                        this.leaderItems = [ { Id: LeaderId, FullName: Leader } ]
                        this.personInfoItems = PersonInfoItems
                        this.address = Address
                        this.status = IsActive
                        this.reason = ResignReason
                        this.remark = Remark

                        this.loading = false
                    } catch (error) {
                        this.loading = false
                    }
                }
            },
            dateEmployedChangeParent(value) {
                this.dateEmployed = value
            },
            birthDateChangeParent(value) {
                this.birthDate = value
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const payload = {
                        BornDate: this.birthDate,
                        NationalityId: this.nationality,
                        DepartmentId: this.department,
                        LeaderId: this.leader,
                        ForemanId: this.foreman,
                        PositionId: this.position,
                        ContractTypeId: this.contractsType,
                        Address: this.address,
                        SubDistrictId: this.subDistrict,
                        // ResignReason: this.reason,
                        Remark: this.remark,
                        TranslateItems: [
                            // {
                            //     Id: null,
                            //     RelationId: null,
                            //     RelationTypeValue: 0,
                            //     LanguageID: null,
                            //     TranslateInfo: null
                            // }
                            // e664cffb-9385-4b7e-8dcd-2c621470e688
                            // e664cffb-9385-4b7e-8dcd-2c621470e688
                        ],
                        PersonInfoItems: this.personInfoItems,
                        ContactDataItems: [
                            //{
                            //    Id: null,
                            //    ContactType: null,
                            //    Values: null
                            //}
                        ],
                        // No: null,
                        Gender: this.gender,
                        // Nationality: null,
                        // Department: null,
                        // Position: null,
                        // ContractType: null,
                        // Language: null,
                        StartWorkDate: this.dateEmployed,
                        // EndWorkDate: null,
                        Id: this.id,
                        Code: this.code,
                        Name: this.name
                    }
                    console.log('payload', payload)
                    try {
                        this.loading = true
                        await this.$store.dispatch('employee/SAVE', payload)
                        this.$router.push('/admin/employee')
                    } catch (error) {
                        this.loading = false
                    }
                    this.loading = false
                }
            },
            async getAllGender (value) {
                this.genderItems = await this.$store.dispatch('masterData/GET_ALL_GENDER', { Criteria: { AutoCompleteText: value } } )
            },
            async getAllContactType() {
                if (this.personInfoContractsTypeItems.length > 0) return
                this.personInfoContractsTypeItems = await this.$store.dispatch('masterData/GET_All_CONTRACT_TYPE')
            },
            async findContractsType (value) {
                if (this.contractsTypeItems.length > 0) return
                this.contractsTypeItems = await this.$store.dispatch('masterData/FIND_CONTRACTS_TYPE', { Criteria: { AutoCompleteText: null } } )
                
            },
            async findNationality (value) {
                if (this.nationalityItems.length > 0) return
                this.nationalityItems = await this.$store.dispatch('masterData/FIND_NATIONALITY', { Criteria: { AutoCompleteText: null } } )
            },
            async findDepartment (value) {
                if (this.departmentItems.length > 0) return
                this.departmentItems = await this.$store.dispatch('masterData/FIND_DEPARTMENT', { Criteria: { AutoCompleteText: null } } )
            },
            async findPosition (value) {
                if (this.positionItems.length > 0) return
                this.positionItems = await this.$store.dispatch('masterData/FIND_POSITION', { Criteria: { AutoCompleteText: null } } )
            },
            async findProvince (value) {
                if (this.provinceItems.length > 0) return
                this.provinceItems = await this.$store.dispatch('masterData/FIND_PROVINCE', { Criteria: { AutoCompleteText: null } } )
            },
            async findDistrict (value) {
                this.districtItems = await this.$store.dispatch('masterData/FIND_DISTRICT', value)
            },
            async findSubDistrict (value) {
                this.subDistrictItems = await this.$store.dispatch('masterData/FIND_SUB_DISTRICT', value)
            },
            async findLeader (value) {
                if (value === null || value === '') {
                     this.isLeaderLoading = false
                     this.leaderItems = []
                     return
                }

                try {
                    const text = value.split('-')
                    this.isLeaderLoading = true
                    this.leaderItems = await this.$store.dispatch('employee/FIND_LEADER', { Criteria: { AutoCompleteText: text[0], IgnoreId: this.id } } )
                    this.isLeaderLoading = false
                } catch (e) {
                    this.isLeaderLoading = false
                }
            },
            async findForeman (value) {
                if (value === null || value === '') {
                     this.isForemanLoading = false
                     this.foremanItems = []
                     return
                }

                try {
                    const text = value.split('-')
                    this.isForemanLoading = true
                    this.foremanItems = await this.$store.dispatch('employee/FIND_FOREMAN', { Criteria: { AutoCompleteText: text[0] } } )
                    this.isForemanLoading = false
                } catch (e) {
                    console.log('e', e)
                    this.isForemanLoading = false
                }
            },
            addDocumentary () {
                if (this.$refs.documentaryForm.validate()) {
                    const typeDisplayItems = this.personInfoContractsTypeItems.filter(item => item.Id === this.personInfoContractsType)

                    const item = {
                        // "Id": "string",
                        Type: this.personInfoContractsType,
                        TypeDisplay: typeDisplayItems.length > 0 ? typeDisplayItems[0].Name : '',
                        Values: this.personInfoValue
                    }

                    if (this.documentaryActionType === 'add') {
                        this.personInfoItems.push(item)
                    } else {
                        let personInfoItems = JSON.parse(JSON.stringify(this.personInfoItems))
                        personInfoItems[this.personInfoIndex] = item
                        this.personInfoItems = personInfoItems
                    }
                    
                    // personInfoItems: [],
                    // personInfoContractsType: null,
                    // personInfoValue: null,
                    // personInfoContractsTypeItems: [],

                    this.documentaryDialog = false
                    this.clearFormDocumentary()
                }
            },
            cancelDocumentary () {
                this.documentaryDialog = false
                this.clearFormDocumentary()
            },
            editDocumentary (item, index) {
                this.documentaryDialog = true
                this.personInfoContractsType = item.Type
                this.personInfoValue = item.Values 
                this.personInfoIndex = index
            },
            removeDocumentary(index) {
                const personInfoItems = this.personInfoItems.filter((item, i) => i != index )
                this.personInfoItems = personInfoItems
            },
            clearFormDocumentary () {
                // console.log(this.personInfoValue)
                this.personInfoContractsType = null
                this.personInfoValue = null
                this.$refs.documentaryForm.reset()
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            },
            cancelResign () {
                this.resignDialog = false
                this.resignDate = null
                this.resignRemark = null
            },
            async resign () {
                if (this.$refs.resignForm.validate()) {
                    const payload = {
                        EmployeeId: this.id,
                        EffectiveDate: moment(this.resignDate, 'DD/MM/YYYY').format('YYYY/MM/DD'),
                        Reason: this.resignRemark
                    }
                    
                    try {
                        this.loading = true
                        await this.$store.dispatch('employee/RESIGN', payload)
                        this.$router.push('/admin/employee')
                    } catch (error) {
                        this.loading = false
                    }
                    this.loading = false
                }
            }
        }
    }
</script>

<style>
.v-image__image--cover {
    border-radius: 0px!important;
}
</style>