<template>
    <div>
        <v-col cols="12" md="2" offset-md="10" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            @click="findLeaveHistory"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-refresh</v-icon>
            refresh
          </v-btn>
        </v-col>
        <v-data-table
            :headers="headers"
            :items="items"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >
            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.LeaveDocNo" />
                    <td v-text="item.LeaveTypeName" />
                    <td v-text="convertJSONDateOnlyToString(item.StartLeaveDate)" />
                    <td v-text="convertJSONDateOnlyToString(item.EndLeaveDate)">
                    <td v-text="item.LeaveAmount" />
                </tr>
            </template>
        </v-data-table>

        <v-pagination
                v-model="page"
                :length="totalPages"
                circle />
    </div>
</template>

<script>
    import dayjs from 'dayjs'

    export default {
        inheritAttrs: false,
        props: {
            employeeId: {
                type: String
            },
        },

        data: () => ({
            criteria: {
                Criteria: {
                    LeaveDocNo: null,
                    LeaveTypeId: null,
                    EmployeeId: null,
                    DateFrom: null,
                    DateTo: null,
                    AutoCompleteText: null
                },
                SortingCriteria: [
                    // {
                    //     Name: null,
                    //     Direction: 0
                    // }
                ],
                PagingCriteria: {
                    PageIndex: 0,
                    PageSize: 10
                }
            },
            totalPages: 0,
            isLoading: false,
            items: []
        }),
        async mounted () {
            this.criteria.Criteria.EmployeeId = this.employeeId
            await this.findLeaveHistory()
        },
        computed: {
            page : {
                get () {
                    return this.criteria.PagingCriteria.PageIndex + 1
                },
                set (value) {
                    this.criteria.PagingCriteria.PageIndex = value - 1
                }
            },
            headers () {
                return  [
                    {
                        text: this.$t('leave-doc-number'),
                        value: 'LeaveDocNo',
                        width: '10%'
                    },
                    {
                        text: this.$t('leave-type'),
                        value: 'LeaveTypeName',
                        width: '10%'
                    },
                    {
                        text: this.$t('leave-doc-date-from'),
                        value: 'StartLeaveDate',
                        width: '10%'
                    },
                    {
                        text: this.$t('leave-doc-date-to'),
                        value: 'EndLeaveDate',
                        width: '10%'
                    },
                    {
                        text: this.$t('leave-amount'),
                        value: 'LeaveAmount',
                        width: '10%'
                    }
                ]
            }
        },

        watch: {
            async page (value) {
                this.criteria.PagingCriteria.PageIndex = value - 1
                await this.findLeaveHistory()
            }
        },

        methods: {
            async findLeaveHistory () {
                try {
                    this.isLoading = true
                    const result = await this.$store.dispatch("employee/FIND_LEAVE_HISTORY", this.criteria)
                    console.log('result', result.Items)
                    this.items = result.Items
                    this.totalPages = result.TotalPage
                    this.isLoading = false
                } catch (e) {}
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
        }
    }
</script>