<template>
<div>
    <v-form @submit.prevent="search">
        <v-row>
            <v-col cols="12" md="3" sm="6">
                <v-text-field :label="$t('label-search')" v-model="textSearch" clear-icon="mdi-close-circle" clearable />
            </v-col>
            <v-col cols="12" md="3" sm="6" align-self="center" class="text-center">
                <v-btn color="primary" class="mx-0 font-weight-light" dark block @click="exportReport" style="padding: 0px">
                    <v-icon dark left>mdi-magnify</v-icon>
                    {{ $t('export') }}
                </v-btn>
            </v-col>
            <v-col cols="12" md="3" sm="6" align-self="center" class="text-center">
                <v-btn color="primary" class="mx-0 font-weight-light" dark block type="submit" style="padding: 0px">
                    <v-icon dark left>mdi-magnify</v-icon>
                    {{ $t('label-search') }}
                </v-btn>
            </v-col>
            <v-col cols="12" md="3" sm="6" align-self="center" class="text-center">
                <v-btn color="primary" class="mx-0 font-weight-light" dark block @click="advanceDialog = true" style="padding: 0px">
                    <v-icon dark left>mdi-magnify</v-icon>
                    {{ $t('label-advance-search') }}
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
    <v-dialog v-model="advanceDialog" persistent max-width="600px">

      <v-form v-model="advanceSearchValid" ref="advanceSearchForm" @submit.prevent="searchAdvance">
        <v-card>
          <v-card-title>
            <span class="headline">{{ $t('label-advance-search') }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6">
                    <v-text-field
                        :label="$t('label-employee-code')"
                        v-model="code"
                        clear-icon="mdi-close-circle"
                        clearable
                    />
                </v-col>
                <v-col cols="12" sm="6">
                    <v-text-field
                        :label="$t('label-employee-full-name')"
                        v-model="name"
                        clear-icon="mdi-close-circle"
                        clearable
                    />
                </v-col>
                <v-col cols="12" sm="6">
                    <v-select
                        v-model="contractsType"
                        :items="contractsTypeItems"
                        item-text="Name"
                        item-value="Id"
                        :label="$t('label-employee-contract')"
                        clear-icon="mdi-close-circle"
                        clearable
                    />
                </v-col>
                <v-col cols="12" sm="6">
                    <v-select 
                        v-model="position" 
                        :items="positionItems" 
                        :label="$t('label-employee-position')" 
                        item-text="Name"
                        item-value="Id"
                        clear-icon="mdi-close-circle"
                        clearable />
                </v-col>
                <v-col cols="12" sm="12">
                    <v-select 
                        v-model="workStatus" 
                        :items="workStatusItems" 
                        label="Work status" 
                        item-text="Name"
                        item-value="Value"
                        clear-icon="mdi-close-circle"
                        clearable />
                </v-col>
                <v-col cols="12" sm="6">
                  <base-date-picker 
                    :label="$t('label-employee-date-employed')" 
                    :dateChangeParent="employedDateFromChangeParent" 
                    :date="employedDateFrom"
                    :allowNull="true"
                    :rules="dateRules" />
                  <!-- <v-text-field
                    v-model="employedDateFrom"
                    :label="$t('label-employee-date-employed')"
                    v-mask="mask"
                    placeholder="dd/mm/yyyy"
                    clear-icon="mdi-close-circle"
                    clearable
                    :rules="dateRules" /> -->
                </v-col>
                <v-col cols="12" sm="6">
                  <base-date-picker 
                    :label="$t('label-employee-date-employed-to')" 
                    :dateChangeParent="employedDateToChangeParent" 
                    :date="employedDateTo"
                    :allowNull="true"
                    :rules="dateRules" />
                  <!-- <v-text-field
                    v-model="employedDateTo"
                    :label="$t('label-employee-date-employed-to')"
                    v-mask="mask"
                    placeholder="dd/mm/yyyy"
                    clear-icon="mdi-close-circle"
                    clearable
                    :rules="dateRules" /> -->
                </v-col>
              </v-row>
            </v-container>
            <!-- <small>*indicates required field</small> -->
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click="clearCriteria">Clear</v-btn>
            <v-btn
              color="blue darken-1"
              text
              type="submit"
              :loading="isLoading"
            >{{ $t('label-search')}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
</div>
</template>

<script>
import {
    mapMutations,
    mapState
} from "vuex";
import {
    mask
} from "vue-the-mask";
import moment from "moment";

export default {
    name: "EmployeeSearchBar",

    directives: {
        mask,
    },

    data: () => ({
        advanceSearchValid: false,
        advanceDialog: null,
        mask: "##/##/####",
        textSearch: null,
        code: null,
        name: null,
        contractsType: null,
        position: null,
        employedDateFrom: null,
        employedDateTo: null,
        contractsTypeItems: [],
        positionItems: [],

        workStatus: null,

        workStatusItems: [
            { Name: 'Active', Value: true },
            { Name: 'InActive', Value: false }
        ],
        dateRules: [
            (v) => {
                if (v){
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if(!/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                        return errMsg;
                    else if(inputDate > new Date(year + 100, month, day))
                        return errMsg
                    else return true;
                }
                else return true;
            },
        ],
    }),
    
    async mounted() {
        await this.findContractsType();
        await this.findPosition()
        
        if (this.items.length === 0) {
            let criteria = {
            Criteria: {
                ContractTypeId: this.contractsType,
                Code: this.code,
                Name: this.name,
                DateFrom: this.employedDateFrom,
                DateTo: this.employedDateTo,
                AutoCompleteText: this.textSearch,
                IsActive: this.workStatus
            },
            SortingCriteria: [],
            PagingCriteria: { PageIndex: 0, PageSize: 10 }

            };
            
            // console.log('mounted-criteria==>', criteria)

            this.setCriteria(criteria)
            await this.findEmployee(criteria)
        } else {
            this.textSearch = this.criteria.Criteria.AutoCompleteText
            this.code = this.criteria.Criteria.Code
            this.name = this.criteria.Criteria.Name
            this.employedDateFrom = this.criteria.Criteria.DateFrom
            this.employedDateTo = this.criteria.Criteria.DateTo
            this.contractsType = this.criteria.Criteria.ContractTypeId
            this.workStatus = this.criteria.Criteria.IsActive === true ? true : this.criteria.Criteria.IsActive === false ? false : null

            if (this.$route.params.breadcrumb === true) await this.findEmployee(this.criteria)
        }


    },

    computed: {
        ...mapState("employee", ["isLoading", "items", "criteria"]),
    },

    methods: {
      async search() {
          let criteria = {
              Criteria: {
                  ContractTypeId: null,
                  Id: null,
                  DateFrom: null,
                  DateTo: null,
                  AutoCompleteText: this.textSearch,
                  IsActive: null
              },
              SortingCriteria: [],
              PagingCriteria: {
                  PageIndex: 0,
                  PageSize: 10
              },
          };
        //   console.log('methods-criteria==>', criteria)
          this.setCriteria(criteria);
          await this.findEmployee(criteria);
      },
      async searchAdvance() {
          if (this.$refs.advanceSearchForm.validate()) {
              let criteria = {
                  Criteria: {
                      ContractTypeId: this.contractsType,
                      PositionId: this.position,
                      Code: this.code,
                      Name: this.name,
                      DateFrom: this.employedDateFrom,
                      DateTo: this.employedDateTo,
                      AutoCompleteText: null,
                      IsActive: this.workStatus
                  },
                  SortingCriteria: [],
                  PagingCriteria: {
                      PageIndex: 0,
                      PageSize: 10
                  },
              };
            //   console.log('searchAdvance-criteria==>', criteria)
            //   console.log('employedDateFrom==>', this.employedDateFrom)
              this.setCriteria(criteria);
              await this.findEmployee(criteria);
              this.advanceDialog = false;
          }
      },
      async findEmployee(criteria) {
          try {
              const result = await this.$store.dispatch("employee/FIND", criteria);
          } catch (e) {}
      },
      ...mapMutations({
          setCriteria: "employee/SET_CRITERIA",
      }),
      async findContractsType(value) {
          this.contractsTypeItems = await this.$store.dispatch(
              "masterData/FIND_CONTRACTS_TYPE", {
                  Criteria: {
                      AutoCompleteText: null
                  }
              }
          );
        //   console.log('ct', this.contractsTypeItems)
      },
      async findPosition(value) {
          this.positionItems = await this.$store.dispatch(
              "masterData/FIND_POSITION", {
                  Criteria: {
                      AutoCompleteText: null
                  }
              }
          );
      },
      async exportReport() {
          try {
              const response = await this.$store.dispatch(
                  "employee/EMPLOYEE_EXPORT",
                  this.$store.state.employee.criteria.Criteria
              );
              const url = window.URL.createObjectURL(
                  new Blob([this.s2ab(atob(response.FileContents))], {
                      type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                  })
              );
              const link = document.createElement("a");
              link.href = url;
              link.setAttribute("download", response.FileDownloadName); //or any other extension
              document.body.appendChild(link);
              link.click();
          } catch (error) {
              console.log("error", error);
          }
      },
      s2ab(s) {
          var buf = new ArrayBuffer(s.length);
          var view = new Uint8Array(buf);
          for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
          return buf;
      },
      clearCriteria() {
          this.code = null;
          this.name = null;
          this.contractsType = null;
          this.position = null;
          this.employedDateFrom = null;
          this.employedDateTo = null;
          this.workStatus = null;
      },
      employedDateFromChangeParent(value) {
        if (value) this.employedDateFrom = value
      },
      employedDateToChangeParent(value) {
        if (value) this.employedDateTo = value
      }
    },  
  }
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 0px 30px !important;
}
</style>
