<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading"
            :custom-sort="customSort" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.Code" />
                    <td v-text="item.Name" />
                    <!-- <td v-text="item.ContractType" /> -->
                    <!-- <td v-text="item.Department" /> -->
                    <td v-text="item.Position" />
                    <td v-text="convertJSONDateOnlyToString(item.StartWorkDate)">
                    <td v-text="item.IsActive === true ? 'Acive' : 'Inactive'" />
                    <td v-text="item.YearExperience + ' ' + $t('table-column-name-employee-year') + ', ' + item.MonthExperience + ' ' + $t('table-column-name-employee-month')" />
                    <td v-text="item.CurrentAge" />
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'admin-employee-edit', params: { id: item.Id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalPages"
            circle />
            
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'EmployeeTableList',

        data: () => ({
            search: undefined,
            sort: {},
            oldSort: {}
        }),

        mounted() {
            this.getMemberList(0)
        },

        computed: {
            // page : {
                
            // },
            ...mapState(
                'employee', 
                [ 
                    'items',
                    'totalPages',
                    'isLoading' 
                ]
            ),
            page : {
                get () {
                    return this.$store.state.employee.criteria.PagingCriteria.PageIndex + 1
                },
                set (value) {
                    let criteria = this.$store.state.employee.criteria
                    criteria.PagingCriteria.PageIndex = value - 1
                    this.setCriteria(criteria)
                }
            },
            headers () {
                return  [
                    {
                        text: this.$t('table-column-name-employee-code'),
                        value: 'Code',
                        width: '10%'
                    },
                    {
                        text: this.$t('table-column-name-employee-full-name'),
                        value: 'Name',
                        width: '20%'
                    },
                    // {
                    //     text: this.$t('table-column-name-employee-contract'),
                    //     value: 'ContractType',
                    //     width: '15%'
                    // },
                    // {
                    //     text: this.$t('table-column-name-employee-department'),
                    //     value: 'Department',
                    //     width: '15%'
                    // },
                    {
                        text: this.$t('table-column-name-employee-position'),
                        value: 'Position',
                        width: '15%'
                    },
                    {
                        text: this.$t('table-column-name-employee-date-employed'),
                        value: 'StartWorkDate',
                        width: '10%'
                    },
                    {
                        text: this.$t('table-column-name-employee-status'),
                        value: 'IsActive',
                        width: '10%'
                    },
                    {
                        text: this.$t('table-column-name-employee-experience'),
                        value: 'YearExperience',
                        width: '20%'
                    },
                     {
                        text: this.$t('table-column-name-employee-age'),
                        value: 'CurrentAge',
                        width: '15%'
                    },
                    {
                        sortable: false,
                        text: '#',
                        width: '10%',
                        value: 'action'
                    }
                ]
            }
        },

        mounted() {
            // this.getQRCodeSetList(this.page - 1)
        },

        watch: {
            async page (value) {
                let criteria = this.$store.state.employee.criteria
                criteria.PagingCriteria.PageIndex = value - 1
                this.setCriteria(criteria)
                await this.find(criteria)
            },
            async sort (value) {
                console.log('sort', value)

                if (this.oldSort.name === value.name && this.oldSort.orderBy === value.orderBy) return

                let criteria = this.$store.state.employee.criteria
                if (value.name) {
                    criteria.SortingCriteria = [{
                        Name: value.name,
                        Direction: value.orderBy
                    }]

                    console.log('criteria', criteria)
                } else {
                    criteria.SortingCriteria = []
                }
                
                this.setCriteria(criteria)
                const result = await this.find(criteria)
                this.oldSort = this.sort
            }
        },

        methods: {
            ...mapMutations({
                setCriteria: 'employee/SET_CRITERIA',
            }),
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            },
            async find (criteria) {
                try {
                    const result = await this.$store.dispatch('employee/FIND', criteria)
                } catch (e) {
                    
                }
            },
            customSort (items, index, isDesc) {
                console.log('custom sort', items, index[0], isDesc)
                this.sort = { name: index[0] || typeof index[0] !== 'undefined' ? index[0] : null, orderBy: (index[0] || typeof isDesc[0] !== 'undefined') && isDesc[0] === true ? 1 : 0 }
    
                return items
            }
        }
    }
</script>
