<template>
  <v-container id="panels" fluid tag="section">
    <base-material-card
      color="success"
      icon="mdi-file-document"
      inline
      :title="`${$t($router.currentRoute.meta.title)}`"
      class="px-5 py-3"
    >
      <v-row>
        <v-col cols="12" md="2" sm="6" align-self="center">
          <v-btn
            v-if="status !== 'Commit' && status !== 'Cancel'"
            class="mx-0 font-weight-light"
            block
            color="success"
            style="padding: 0px"
            @click="
              formDialog = true;
              actionType = 'add';
            "
          >
            <v-icon left>mdi-plus</v-icon>
            {{ $t("add") }}
          </v-btn>
        </v-col>
        <v-col
          cols="12"
          md="3"
          sm="6"
          offset-md="7"
          align-self="right"
          v-if="id"
        >
          <div style="text-align: right">
            {{ $t("leave-doc-number") }} : {{ docCode }}
          </div>
          <div style="text-align: right">{{ $t("status") }} : {{ status }}</div>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" style="overflow: auto">
          <v-data-table
            :headers="headers"
            :items="items"
            style="min-height: 400px"
          >
            <template v-slot:item="{ item, index }">
              <tr>
                <td v-text="item.Employee.Code" />
                <td v-text="item.Employee.Name" />
                <td v-text="item.LeaveType.Name" />
                <td v-text="item.LeaveAmount" />
                <td v-text="convertJSONDateOnlyToString(item.StartLeaveDate)" />
                <td v-text="convertJSONDateOnlyToString(item.EndLeaveDate)" />
                <td>
                  <v-icon
                    v-if="item.AdvanceUse === true"
                    color="primary"
                    v-text="'mdi-check'"
                    size="25"
                  />
                </td>
                <!-- <td v-text="item.LeaveAmount" /> -->
                <!-- <td v-text="item.Remaining" /> -->
                <td>
                  <v-btn
                    dark
                    icon
                    min-width="0"
                    @click="findItem(item, index)"
                    v-if="status !== 'Commit' && status !== 'Cancel'"
                  >
                    <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                  </v-btn>
                  <v-btn
                    dark
                    icon
                    min-width="0"
                    @click="remove(item.Id)"
                    v-if="status !== 'Commit' && status !== 'Cancel'"
                  >
                    <v-icon color="red" v-text="'mdi-delete'" size="25" />
                  </v-btn>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-col>
        <v-col cols="12" align-self="center" class="text-right">
          <!-- {{ status }} -->
          <v-btn
            v-if="status !== 'Cancel' && status !== 'Commit'"
            class="mx-0 font-weight-light"
            color="success"
            style="padding: 0px"
            @click="draftOrApprove('draft')"
            :loading="isLoading"
            :disabled="submitDisabled"
            >{{ $t("draft") }}</v-btn
          >

          <v-btn
            v-if="status !== 'Cancel' && status !== 'Commit'"
            class="mx-0 font-weight-light"
            color="success"
            style="padding: 0px; margin-left: 5px !important"
            @click="draftOrApprove('approve')"
            :loading="isLoading"
            :disabled="submitDisabled"
            >{{ $t("approve") }}</v-btn
          >
          <v-btn
            v-if="id && status === 'Commit'"
            class="mx-0 font-weight-light"
            color="info"
            style="padding: 0px; margin-left: 5px !important"
            @click="cancelOrRollback('rollback')"
            :loading="isLoading"
            :disabled="submitDisabled"
            >{{ $t("rollback") }}</v-btn
          >
          <v-btn
            v-if="id && status === 'Commit'"
            class="mx-0 font-weight-light"
            color="red"
            style="padding: 0px; margin-left: 5px !important"
            @click="cancelOrRollback('cancel')"
            :loading="isLoading"
            :disabled="submitDisabled"
            >{{ $t("cancel") }}</v-btn
          >
        </v-col>
      </v-row>
    </base-material-card>
    <v-dialog v-model="formDialog" persistent max-width="800px">
      <v-form v-model="formValid" ref="addForm" @submit.prevent="add">
        <v-card>
          <v-card-title>
            <span class="headline">{{ $t("leave-form") }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="employee"
                    :items="employeeItems"
                    :loading="isEmployeeLoading"
                    :search-input.sync="employeeSearch"
                    clearable
                    hide-no-data
                    item-text="FullName"
                    item-value="Id"
                    :label="$t('leave-employee-name')"
                    :rules="fieldRules"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6">
                  <v-select
                    v-model="leaveType"
                    :items="leaveTypeItems"
                    :label="$t('leave-type')"
                    item-text="Name"
                    item-value="Id"
                    :rules="fieldRules"
                  />
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    :label="$t('leave-amount')"
                    v-model="amount"
                    @paste="onPaste"
                    maxlength="5"
                    :rules="decimalRules"
                  />
                </v-col>
              </v-row>
              <!-- <v-row>
                                <v-col cols="6">
                                    <v-text-field 
                                        :label="$t('leave-remain')" 
                                        v-model="amount" 
                                        @paste="onPaste"
                                        maxLength="5"
                                        :rules="decimalRules" />
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field 
                                        :label="$t('brought-forward-balance')" 
                                        v-model="amount" 
                                        @paste="onPaste"
                                        maxLength="5"
                                        :rules="decimalRules" />
                                </v-col>
              </v-row>-->
              <v-row>
                <v-col cols="6">
                  <base-date-picker
                    :label="$t('leave-start-date')"
                    :dateChangeParent="startDateChangeParent"
                    :date="startDate"
                    :rules="dateRules"
                  />
                  <!-- <v-text-field
                    :label="$t('leave-start-date')"
                    v-model="startDate"
                    v-mask="dateMask"
                    placeholder="dd/mm/yyyy"
                    :rules="dateRules"
                  /> -->
                </v-col>
                <v-col cols="6">
                  <base-date-picker
                    :label="$t('leave-end-date')"
                    :dateChangeParent="endDateChangeParent"
                    :date="endDate"
                    :rules="dateRules"
                  />
                  <!-- <v-text-field
                    :label="$t('leave-end-date')"
                    v-model="endDate"
                    v-mask="dateMask"
                    placeholder="dd/mm/yyyy"
                    :rules="dateRules"
                  /> -->
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-textarea
                    v-model="remark"
                    class="purple-input"
                    :label="$t('leave-remark')"
                    filled
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" class="text-center">
                  <div style="color: red">{{ addErrorMessage }}</div>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-checkbox
              style="margin-left: 30px"
              v-model="ignoreValidate"
              :label="$t('ignore-validate')"
            />
            <v-spacer />
            <v-btn color="blue darken-1" text @click="cancel">{{
              $t("cancel-button")
            }}</v-btn>
            <v-btn
              color="blue darken-1"
              text
              type="submit"
              :loading="isLoading"
              >{{ $t("add-button") }}</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog v-model="isLoading" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          <div style="color: #ffffff">{{ $t("loading") }}</div>
          <v-progress-linear indeterminate color="white" class="mb-0" />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import dayjs from "dayjs";
import moment from "moment";
import _ from "lodash";
import { mask } from "vue-the-mask";

export default {
  name: "LeaveRequest",

  directives: {
    mask,
  },

  components: {
    SearchBar: () => import("./components/SearchBar"),
    // TableList: () => import('./components/TableList')
  },

  data: () => ({
    formDialog: false,
    formValid: false,
    submitDisabled: true,
    dateMask: "##/##/####",
    timeMask: "##:##",

    addErrorMessage: null,
    id: null,
    docCode: null,
    status: null,
    leaveItemId: null,

    employee: null,
    isEmployeeLoading: false,
    employeeItems: [],
    employeeSearch: null,

    leaveType: null,
    amount: "",
    startDate: null,
    endDate: null,

    broughtForwardBalance: null,
    remark: null,
    ignoreValidate: false,

    items: [],
    leaveTypeItems: [],

    actionType: null,
    index: null,

    fieldRules: [(v) => !!v || "Field is required."],

    decimalRules: [
      (v) => !!v || "Field is required.",
      (v) => /^\d{0,4}(?:[.,]\d{1,3})?$/.test(v) || "format is invalid",
    ],

    dateRules: [
      (v) => !!v || "Field is required.",
      (v) => {
        const errMsg = "Date format is invalids";
        let inputDate = new Date(moment(v, "DD/MM/YYYY").format("YYYY-MM-DD"));
        var d = new Date();
        var year = d.getFullYear();
        var month = d.getMonth();
        var day = d.getDate();

        if (
          v &&
          !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(
            v
          )
        )
          return errMsg;
        else if (inputDate > new Date(year + 100, month, day)) {
          return errMsg;
        } else return true;
      },
    ],
  }),

  created() {
    this.employeeDebounce = _.debounce(this.findEmployee, 500)
  },

  async mounted() {
    await this.getLeave()
  },

  watch: {
    employeeSearch(value) {
      this.isEmployeeLoading = true;
      this.employeeDebounce(value);
    },
    items() {
      if (this.items.length > 0) this.submitDisabled = false;
      else this.submitDisabled = true;
    },
    employee(value) {
      if (value) {
        this.getEmployeeRights(value, this.startDate);
      }
    },
  },

  computed: {
    ...mapState("leave", ["isLoading"]),

    headers() {
      return [
        {
          text: this.$t("leave-employee-code"),
          value: "EmployeeCode",
          width: "6%",
        },
        {
          text: this.$t("leave-employee-name"),
          value: "EmployeeName",
          width: "9%",
        },
        {
          text: this.$t("leave-type"),
          value: "LeaveTypeName",
          width: "9%",
        },
        {
          text: this.$t("leave-amount"),
          value: "LeaveAmount",
          width: "6%",
        },
        {
          text: this.$t("leave-start-date"),
          value: "StartLeaveDate",
          width: "10%",
        },
        {
          text: this.$t("leave-end-date"),
          value: "EndLeaveDate",
          width: "9%",
        },
        {
          text: this.$t("leave-borrow"),
          value: "AdvanceUse",
          width: "9%",
        },
        // {
        //     text: this.$t('leave-entitled-days-leave'),
        //     value: 'LeaveRight',
        //     width: '13%'
        // },
        // {
        //     text: this.$t('leave-entitled-days-leave-remaining'),
        //     value: 'Remaining',
        //     width: '13%'
        // },
        {
          sortable: false,
          text: "#",
          width: "9%",
          value: "action",
        },
      ];
    },
  },

  methods: {
    async getLeave(idSaved) {
      let leaveDocId = this.$route.params.id ? this.$route.params.id: idSaved ;
      if (leaveDocId) {
        try {
          const result = await this.$store.dispatch(
            "leave/GET",
            leaveDocId
          );
          this.docCode = result.DocNo;
          this.id = result.Id;
          this.status = result.Status;
          this.items = result.LeaveRecordItems;
          // console.log("xxx", result);
        } catch (error) {}
      }
    },
    clearForm() {
      this.leaveItemId = null;
      this.employee = null;
      this.leaveType = null;
      this.amount = null;
      // this.startDate = null
      // this.endDate = null
      this.startDate = new dayjs().format("YYYY-MM-DD");
      this.endDate = new dayjs().format("YYYY-MM-DD");
      this.ignoreValidate = false;
      this.addErrorMessage = null;
    },
    async add() {
      this.addErrorMessage = null;

      if (this.$refs.addForm.validate()) {
        const item = {
          Id: this.leaveItemId,
          EmployeeId: this.employee,
          LeaveTypeId: this.leaveType,
          StartLeaveDate: this.startDate,
          EndLeaveDate: this.endDate,
          LeaveAmount: this.amount,
          Remark: this.remark,
          AdvanceUse: this.ignoreValidate,
        };

        // console.log("item sss", item);

        if (item.Id === null) delete item.Id;

        try {
          let result = await this.$store.dispatch("leave/VALIDATE", item);
          result = {
            ...result,
            EmployeeCode: result.Employee.Code,
            EmployeeName: result.Employee.Name,
            LeaveTypeName: result.LeaveType.Name,
          };

          if (this.leaveItemId !== null) {
            const index = this.items.findIndex(
              (item) => item.Id === this.leaveItemId
            );
            let items = JSON.parse(JSON.stringify(this.items));
            items[index] = result;
            // this.items = []
            this.items = items;
          } else {
            if (this.actionType === "edit") {
              let items = JSON.parse(JSON.stringify(this.items));
              items[this.index] = result;
              this.items = items;
            } else {
              this.items.push(result);
            }
          }

          this.clearForm();
          // this.$refs.addForm.reset();
          this.formDialog = false;
        } catch (error) {
          this.addErrorMessage = error;
        }
      }
    },
    remove(recordId) {
      const items = this.items.filter((item) => item.Id != recordId);
      this.items = items;
    },
    cancel() {
      this.formDialog = false;
      // this.$refs.addForm.reset();
      this.clearForm();
    },
    async draftOrApprove(method) {
      if (this.items.length > 0) {
        const payload = {
          Id: this.$route.params.id,
          LeaveRecordItems: this.items,
        };

        try {
          if (method === "draft") {
            let idSaved = await this.$store.dispatch("leave/DRAFT", payload);
            this.$router.push({  name: 'admin-leave-request-edit', params: { id: idSaved } });
            // console.log("draft-idSaved==>",idSaved);
            await this.getLeave(idSaved);
          } else {
            let idSaved =await this.$store.dispatch("leave/APPROVE", payload);
            this.$router.push({  name: 'admin-leave-request-edit', params: { id: idSaved } });
            // console.log("approve-idSaved==>",idSaved);
            await this.getLeave(idSaved);
          }
        } catch (error) {}
      }
    },
    async cancelOrRollback(method) {
      try {
        if (method === "cancel") {
          await this.$store.dispatch("leave/CANCEL", this.id);
          // this.$router.push({ path: "/admin/leave" });
          await this.getLeave();
        } else {
          await this.$store.dispatch("leave/ROLLBACK", this.id);
          // this.$router.push({ path: "/admin/leave" });
          await this.getLeave();
        }
      } catch (error) {
        console.log("error", error);
      }
    },
    async findEmployee(value) {
      if (value === null || value === "") {
        this.leaveType = null;
        this.leaveTypeItems = [];
        this.isEmployeeLoading = false;
        this.employeeItems = [];
        return;
      }

      try {
        const text = value.split("-");
        this.isEmployeeLoading = true;
        this.employeeItems = await this.$store.dispatch("employee/FIND", {
          Criteria: { AutoCompleteText: text[0] },
        });
        this.isEmployeeLoading = false;
      } catch (e) {
        this.isEmployeeLoading = false;
      }
    },
    async findItem(item, index) {
      try {
        this.clearForm();
        // this.$refs.addForm.reset()

        this.formDialog = true;
        if (item.Id !== "00000000-0000-0000-0000-000000000000") {
          const result = await this.$store.dispatch("leave/FIND_ITEM", {
            Criteria: { Id: item.Id },
          });
          this.employeeItems = [
            {
              Id: result.Employee.Id,
              Name: result.Employee.Name,
              FullName: result.Employee.FullName,
            },
          ];
          this.leaveItemId = result.Id;
        } else {
          this.employeeItems = [
            {
              Id: item.EmployeeId,
              Name: item.EmployeeName,
              FullName: item.FullName,
            },
          ];
        }

        // console.log("employeeItems", this.employeeItems);

        this.actionType = "edit";
        this.index = index;

        this.employee = item.EmployeeId;
        this.leaveType = item.LeaveTypeId;
        this.amount = item.LeaveAmount;
        this.startDate = item.StartLeaveDate;
        this.endDate = item.EndLeaveDate;
        this.remark = item.Remark;

        // console.log('result', result)
      } catch (e) {
        console.log("e", e);
      }
    },
    // async findLeaveType () {
    //     if (this.leaveTypeItems.length > 0) return
    //     try {
    //         this.leaveTypeItems = await this.$store.dispatch('masterData/FIND_LEAVE_TYPE', { Criteria: { AutoCompleteText: null } } )
    //     } catch (e) {

    //     }
    // },
    async getEmployeeRights(employeeId, startDate) {
      try {
        // console.log("employeeId==>", employeeId);
        // console.log("startDate==>", startDate);
        if (employeeId !== null && startDate !== null) {
          const res = await this.$store.dispatch("leave/GET_EMPLOYEE_RIGHTS", {
            id: employeeId,
            dateFrom: startDate,
          });
          this.leaveTypeItems = res.map((item) => ({
            Id: item.LeaveId,
            Name: `${item.LeaveType} คงเหลือ ${item.LeaveRight} วัน ${
              item.BroughtForwardBalance
                ? "ยกมา" + item.BroughtForwardBalance + " วัน"
                : ""
            }`,
          }));
        }
      } catch (e) {}
    },
    convertJSONDateOnlyToString(value) {
      return moment(value).format("DD/MM/YYYY");
    },
    convertJSONTimeOnlyToString(value) {
      return moment(value, "YYYY/MM/DDTHH:mm").format("HH:mm");
    },
    onPaste(evt) {
      evt.preventDefault();
    },
    startDateChangeParent(value) {
      this.startDate = value;
      this.getEmployeeRights(this.employee, value);
    },
    endDateChangeParent(value) {
      this.endDate = value;
    },
  },
};
</script>