<template>
  <div style="overflow: auto;">
    <v-data-table
      :headers="headers"
      :items="trainingAgeGroupingItems"
      hide-default-footer
      style="width: 1024;min-height: 400px; text-align: center;"
      :loading="isLoading"
    >
      <template v-slot:item="{ item }">
        <tr>
          <td v-text="item.Grouping" />
          <td v-text="item.MaleAmount" />
          <td v-text="item.FemaleAmount" />
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import dayjs from "dayjs";

export default {
  name: "ReportTableList",

  data: () => ({
    infoDialog: false,

    code: null,
    name: null,
  }),
  mounted() {
    // this.getList(0)
  },

  computed: {
    // page : {

    // },
    ...mapState("report", ["trainingAgeGroupingItems", "isLoading"]),
    headers() {
      return [
        {
          text: this.$t("report-age-range"),
          value: "Grouping",
          width: "40%",
          align: "center",
        },
        {
          text: this.$t("report-man"),
          value: "MaleAmount",
          width: "20%",
          align: "center",
        },
        {
          text: this.$t("report-woman"),
          value: "FemaleAmount",
          width: "20%",
          align: "center",
        },
        // {
        //   text: this.$t("report-temporary-employee"),
        //   value: "TotalDailyEmployee",
        //   width: "1%",
        //   align: "center",
        // },
        // {
        //   text: this.$t("report-alien-worker"),
        //   value: "TotalMigrantWorkers",
        //   width: "1%",
        //   align: "center",
        //   divider: true,
        // },
      ];
    },
  },

  methods: {
    convertJSONDateOnlyToString(value) {
      return dayjs(value).format("DD/MM/YYYY");
    },
    async getReport(criteria) {
      try {
        console.log("svsdv", criteria);
        const result = await this.$store.dispatch(
          "report/LEAVE_HISTORY_TYPE_GROUPING",
          criteria
        );
        console.log("result", result);
      } catch (e) {}
    },
  },
};
</script>
