<template>
<div>
    <base-material-card icon="mdi-av-timer" :title="$t('training-notification')">
        <v-row>
            <v-col cols="6" md="6" />
            <v-col cols="6" md="6">
                <v-row>
                    <v-col cols="4" md="4">
                        <v-select
                            v-model="month"
                            :items="generateMonths()"
                            clear-icon="mdi-close-circle"
                            label="Month"
                            item-text="label"
                            item-value="value"
                            />
                    </v-col>
                    <v-col cols="4" md="4">
                        <v-select
                            v-model="year"
                            :items="years"
                            clear-icon="mdi-close-circle"
                            label="Year"
                            />
                    </v-col>
                    <v-col cols="4" md="4" align-self="center" class="text-center">
                        <v-btn
                            color="primary"
                            class="mx-0 font-weight-light"
                            dark
                            block
                            style="padding: 0px"
                            @click="onNextMonthSearch"
                        >
                            <v-icon dark left>mdi-magnify</v-icon>
                            {{ $t('label-search') }}
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="6" class="mt-10">
                <span>{{ $t('training-notification-current-month') }}</span>
                <v-data-table
                :headers="trainingNotifocationHeaders"
                :items="presentMonthItems"
                hide-default-footer
                style="min-height: 400px;"
                :items-per-page="-1"
                :loading="$store.state.trainingNotification.isLoading"
                no-data-text="There are no records"
                >
                <template v-slot:item="{ item }">
                    <tr>
                    <td v-text="convertJSONDateOnlyToString(item.DueDate)" />
                    <td v-text="item.TotalAmount" style="text-align: right;" />
                    <td>
                        <v-btn dark icon min-width="0" @click="getCourseByDate(item.DueDate)">
                        <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                    </tr>
                </template>
                </v-data-table>
            </v-col>
            <v-col cols="6" class="mt-10">
                <span>{{ $t('training-notification-next-month') }}</span>
                <v-data-table
                :headers="trainingNotifocationHeaders"
                :items="nextMonthItems"
                hide-default-footer
                style="min-height: 400px;"
                :items-per-page="-1"
                :loading="$store.state.trainingNotification.isLoading"
                no-data-text="There are no records"
                >
                <template v-slot:item="{ item }">
                    <tr>
                    <td v-text="convertJSONDateOnlyToString(item.DueDate)" />
                    <td v-text="item.TotalAmount" style="text-align: right;" />
                    <td>
                        <v-btn dark icon min-width="0" @click="getCourseByDate(item.DueDate)">
                        <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                    </tr>
                </template>
                </v-data-table>
            </v-col>
        </v-row>
    </base-material-card>
    <v-dialog v-model="departmentDialog" persistent max-width="90%">
        <v-card>
            <v-toolbar dark color="blue">
                <v-spacer></v-spacer>
                <v-toolbar-title>{{ trainingDate }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn icon dark @click="departmentDialog = false">
                    <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-row>
                    <v-col cols="5">
                        <span>{{ $t('training-notification-group') }}</span>
                        <v-data-table
                            :headers="groupHeaders"
                            :items="courseItems"
                            hide-default-footer
                            style="min-height: 500px;"
                            :items-per-page="-1"
                            :loading="$store.state.trainingNotification.isCourseLoading"
                        >
                            <template v-slot:item="{ item }">
                            <tr @click="getEmployeeBy(item.GroupId)" style="cursor: pointer;">
                                <td v-text="item.GroupName" />
                                <td v-text="item.TotalAmount" style="text-align: right;" />
                                <td>
                                <!-- <v-btn dark icon small @click="getEmployeeBy(item.GroupId)" style="border: 1px solid red;margin: 0px!important;" > -->
                                <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                                <!-- </v-btn> -->
                                </td>
                            </tr>
                            </template>
                    </v-data-table>
                    </v-col>
                    <v-col cols="7">
                        <span>{{ $t('training-notification-detail') }}</span>
                        <v-data-table
                            :headers="employeeHeaders"
                            :items="employeeItems"
                            hide-default-footer
                            style="min-height: 400px;"
                            :items-per-page="-1"
                            :loading="$store.state.trainingNotification.isEmployeeLoading"
                            no-data-text="Choose Group for get detail"
                        >
                            <template v-slot:item="{ item }">
                            <tr>
                                <td v-text="item.Employee" />
                                <td v-text="item.Department" />
                                <td v-text="item.Foreman" />
                                <td v-text="item.Leader" />
                                <td v-text="convertJSONDateOnlyToString(item.DueDate)" />
                            </tr>
                            </template>
                        </v-data-table>
                        <v-pagination v-model="employeePageIndex" :length="employeeTotalPages" circle />
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
</div>  
</template>

<script>
import {
    mapMutations,
    mapState
} from "vuex";
import moment from "moment";

export default {
    name: "EmployeeSearchBar",


    data: () => ({
        year: null,
        years: [],
        month: null,
        departmentDialog: false,
        trainingDate: null,
        employeeTotalPages: 0,
        employeePageIndex: 1,
        departmentCriteria: {
            Criteria: {
                DueDate: null,
                DepartmentId: null,
            },
            SortingCriteria: [
                // {
                //   Name: null,
                //   Direction: 0
                // }
            ],
            PagingCriteria: {
                PageIndex: 0,
                PageSize: 10,
            },
        },
        monthArr: [
            { label: 'January', value: '01' },
            { label: 'February', value: '02' },
            { label: 'March', value: '03' },
            { label: 'April', value: '04' },
            { label: 'May', value: '05' },
            { label: 'June', value: '06' },
            { label: 'July', value: '07' },
            { label: 'August', value: '08' },
            { label: 'September', value: '09' },
            { label: 'October', value: '10' },
            { label: 'November', value: '11' },
            { label: 'December', value: '12' }
        ]
    }),
    
    async mounted() {
        this.setPresentMonthItems([])
        this.setNextMonthItems([])
        await this.generateYears()
        this.getCurrentTrainingPlan()
        // this.getTrainingPlan()
    },

    computed: {
        ...mapState("trainingNotification", [
            "presentMonthItems",
            "nextMonthItems",
            "courseItems",
            "employeeItems",
        ]),
        ...mapState("masterData", [
            "annuallyItems",
        ]),
        trainingNotifocationHeaders() {
            return [
                {
                    text: this.$t("training-notification-date"),
                    value: "DueDate",
                    width: "70%",
                },
                {
                    text: this.$t("training-notification-persons"),
                    value: "TotalAmount",
                    width: "10%",
                },
                {
                    sortable: false,
                    text: "#",
                    width: "20%",
                    value: "action",
                },
            ];
        },
        employeeHeaders() {
            return [
                {
                    text: this.$t("training-notification-employee"),
                    value: "Employee",
                    width: "25%",
                },
                {
                    text: this.$t("training-notification-department"),
                    value: "Department",
                    width: "20%",
                },
                {
                    text: this.$t("training-notification-foreman"),
                    value: "Foreman",
                    width: "20%",
                },
                {
                    text: this.$t("training-notification-leader"),
                    value: "Leader",
                    width: "20%",
                },
                {
                    text: this.$t("training-notification-date"),
                    value: "DueDate",
                    width: "15%",
                },
            ];
        },
        groupHeaders() {
            return [
                {
                    text: this.$t("training-notification-course-name"),
                    value: "GroupName",
                    width: "65%",
                },
                {
                    text: this.$t("training-notification-persons"),
                    value: "TotalAmount",
                    width: "15%",
                },
                {
                    sortable: false,
                    text: "#",
                    width: "15%",
                    value: "action",
                },
            ];
        }
    },

    watch: {
        async employeePageIndex(value) {
            this.departmentCriteria.PagingCriteria.PageIndex = value - 1;
            const res = await this.$store.dispatch(
                "trainingNotification/GET_EMPLOYEES",
                this.departmentCriteria
            );
            this.employeePageIndex = value;
            this.employeeTotalPages = res.TotalPage;
        },
    },

    methods: {
        ...mapMutations({
            setPresentMonthItems: "trainingNotification/SET_PESENT_MONTH_ITEMS",
            setNextMonthItems: "trainingNotification/SET_NEXT_MONTH_ITEMS",
            setDepartmentItems: "trainingNotification/SET_COURSE_ITEMS",
            setEmployeeItems: "trainingNotification/SET_EMPLOYEE_ITEMS",
        }),
        async getCurrentTrainingPlan() {
            try {
                const result = await this.$store.dispatch("trainingNotification/GET_CURRENR_TRAINING_PLAN")
            } catch (e) {
                console.log('error', e)
            }
        },
        async getTrainingPlan() {
            try {
                const duedate = moment(`01/${this.month}/${this.year}`, 'DD/MM/YYYY').format('YYYY/MM/DD') 
                const result = await this.$store.dispatch("trainingNotification/GET_TRAINING_PLAN", duedate)
            } catch (e) {
                console.log('error', e)
            }
        },
        async getCourseByDate(date) {
            try {
                this.setDepartmentItems([]);
                this.setEmployeeItems([]);
                this.trainingDate = this.convertJSONDateOnlyToString(date);
                this.departmentDialog = true;
                await this.$store.dispatch("trainingNotification/GET_COURSE", date);
            } catch (e) {
                console.log("e", e);
            }
        },
        async getEmployeeBy(groupId) {
            try {
                this.setEmployeeItems([]);
                const date = moment(this.trainingDate, "DD/MM/YYYY").format(
                    "YYYY/MM/DD"
                );
                this.departmentCriteria.Criteria.DueDate = date;
                this.departmentCriteria.Criteria.CourseId = groupId;
                this.departmentCriteria.PagingCriteria.PageIndex = 0;
                console.log("xxx", this.departmentCriteria);
                const res = await this.$store.dispatch(
                    "trainingNotification/GET_EMPLOYEES",
                    this.departmentCriteria
                );
                this.employeePageIndex = 1;
                this.employeeTotalPages = res.TotalPage;
            } catch (e) {
                console.log("e", e);
            }
        },
        convertJSONDateOnlyToString(value) {
            return moment(value).format("DD/MM/YYYY");
        },
        async generateYears () {
            const year = []
            const criteria = {
                Criteria: {
                    Id: null,
                    Year: null,
                    IsPublish: true
                },
                SortingCriteria: [],
                PagingCriteria: {
                    PageIndex: 0,
                    PageSize: 0
                }
            }

            const res = await this.$store.dispatch("masterData/FIND_ANUALLY", criteria);

            this.years = res.map((item, index) => (item.Year.substring(0, 4)))
            const dt = new Date
            this.year = dt.getFullYear() + ''
            let mnt = (dt.getMonth() + 2) + ''
            if (mnt === '13') {
                this.year = (dt.getFullYear() + 1) + ''
                mnt = '01'
            }
            this.month = mnt.length === 1 ? '0' + mnt : mnt

            // for (var i = 2020; i <= 2030; i++) {
            //     year.push(i + "")
            // }
        },
        generateMonths () {
            const month = []
            
            for (var i = 0; i <= 11; i++) {
                month.push(this.monthArr[i])
            }
            return month
        },
        async onNextMonthSearch () {
            const index = this.monthArr.findIndex((item) => item.value === this.month)
            this.month = this.monthArr[index].value
            await this.getTrainingPlan()
        }
    }
}
</script>

