<template>
  <div>
    <v-form @submit.prevent="search">
      <v-row>
        <v-col cols="10" md="4">
          <v-text-field
            :label="$t('label-search')"
            v-model="textSearch"
            clear-icon="mdi-close-circle"
            clearable
          />
        </v-col>
        <v-col cols="12" md="4" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            @click="search"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-search') }}
          </v-btn>
        </v-col>
        <v-col cols="12" md="4" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            @click="advanceDialog = true"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-advance-search') }}
          </v-btn>
        </v-col>
        <v-dialog v-model="advanceDialog" persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ $t('label-advance-search') }}</span>
            </v-card-title>
            <v-card-text>
              <v-form v-model="advanceSearchValid" ref="advanceSearchForm">
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field :label="$t('label-employee-code')" v-model="code" />
                    </v-col>
                    <v-col cols="12">
                      <v-text-field :label="$t('label-employee-full-name')" v-model="name" />
                    </v-col>
                    <v-col cols="12" sm="12">
                      <v-select
                        v-model="contractsType"
                        :items="contractsTypeItems"
                        item-text="Name"
                        item-value="Id"
                        :label="$t('label-employee-contract')"
                      />
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-select
                        v-model="department"
                        :items="departmentItems"
                        :label="$t('label-employee-department')"
                        item-text="Name"
                        item-value="Id"
                      />
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-select
                        v-model="position"
                        :items="positionItems"
                        :label="$t('label-employee-position')"
                        item-text="Name"
                        item-value="Id"
                      />
                    </v-col>
                    <v-col cols="12" sm="6">
                      <base-date-picker 
                        :label="$t('report-start-work-date-from')"
                        :dateChangeParent="startWorkDateFromChangeParent" 
                        :date="startWorkDateFrom"
                        :rules="dateRules" />
                      <!-- <v-text-field
                        v-model="startWorkDateFrom"
                        :label="$t('report-start-work-date-from')"
                        v-mask="mask"
                        placeholder="dd/mm/yyyy"
                        clear-icon="mdi-close-circle"
                        clearable
                        :rules="dateRules"
                      /> -->
                    </v-col>
                    <v-col cols="12" sm="6">
                      <base-date-picker 
                        :label="$t('report-start-work-date-to')"
                        :dateChangeParent="startWorkDateToChangeParent" 
                        :date="startWorkDateTo"
                        :rules="dateRules" />
                      <!-- <v-text-field
                        v-model="startWorkDateTo"
                        :label="$t('report-start-work-date-to')"
                        v-mask="mask"
                        placeholder="dd/mm/yyyy"
                        clear-icon="mdi-close-circle"
                        clearable
                        :rules="dateRules"
                      /> -->
                    </v-col>
                    <v-col cols="12" sm="6">
                      <base-date-picker 
                        :label="$t('report-end-work-date-from')"
                        :dateChangeParent="endWorkDateFromChangeParent" 
                        :date="endWorkDateFrom"
                        :rules="dateRules" />
                      <!-- <v-text-field
                        v-model="endWorkDateFrom"
                        :label="$t('report-end-work-date-from')"
                        v-mask="mask"
                        placeholder="dd/mm/yyyy"
                        clear-icon="mdi-close-circle"
                        clearable
                        :rules="dateRules"
                      /> -->
                    </v-col>
                    <v-col cols="12" sm="6">
                      <base-date-picker 
                        :label="$t('report-end-work-date-to')"
                        :dateChangeParent="endWorkDateToChangeParent" 
                        :date="endWorkDateTo"
                        :rules="dateRules" />
                      <!-- <v-text-field
                        v-model="endWorkDateTo"
                        :label="$t('report-end-work-date-to')"
                        v-mask="mask"
                        placeholder="dd/mm/yyyy"
                        clear-icon="mdi-close-circle"
                        clearable
                        :rules="dateRules"
                      /> -->
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
              <!-- <small>*indicates required field</small> -->
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
              <v-btn color="blue darken-1" text @click="clearCriteria">Clear</v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="searchAdvance"
                :loading="isLoading"
              >{{ $t('label-search')}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { mask } from "vue-the-mask";
import moment from "moment";

export default {
  name: "ReportSearchBar",

  directives: {
    mask,
  },

  data: () => ({
    mask: "##/##/####",
    advanceSearchValid: false,
    advanceDialog: null,
    textSearch: null,
    code: null,
    name: null,
    contractsType: null,
    employedDateFrom: null,
    employedDateTo: null,
    contractsTypeItems: [],

    startWorkDateFrom: null,
    startWorkDateTo: null,
    endWorkDateFrom: null,
    endWorkDateTo: null,

    department: null,
    departmentItems: [],

    position: null,
    positionItems: [],

    dateRules: [
        (v) => {
            if (v){
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if(!/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                        return errMsg;
                    else if(inputDate > new Date(year + 100, month, day))
                        return errMsg
                    else return true;
                }
            else return true;
        },
    ],
  }),

  async mounted() {
    this.setItems([]);
    let criteria = {
      Criteria: {
        Code: null,
        Name: null,
        ContractTypeId: null,
        DepartmentId: null,
        PositionId: null,
        IgnoreId: null,
        IsActive: true,
        EndWorkDateFrom: null,
        EndWorkDateTo: null,
        Id: null,
        DateFrom: null,
        DateTo: null,
        AutoCompleteText: null,
      },
      SortingCriteria: [],
      PagingCriteria: { PageIndex: 0, PageSize: 10 },
    };

    this.setCriteria(criteria);
    await this.getReport(criteria);
    await this.findContractsType();
    await this.findDepartment();
    await this.findPosition();
  },

  computed: {
    ...mapState("report", ["isLoading"]),
  },

  methods: {
    async search() {
      let criteria = {
        Criteria: {
          Code: null,
          Name: null,
          ContractTypeId: null,
          DepartmentId: null,
          PositionId: null,
          IgnoreId: null,
          IsActive: true,
          EndWorkDateFrom: null,
          EndWorkDateTo: null,
          Id: null,
          DateFrom: null,
          DateTo: null,
          AutoCompleteText: this.textSearch,
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 },
      };

      this.setCriteria(criteria);
      await this.getReport(criteria);
    },
    async searchAdvance() {
      if (this.$refs.advanceSearchForm.validate()) {
        let criteria = {
          Criteria: {
            Code: this.code,
            Name: this.name,
            ContractTypeId: this.contractsType,
            DepartmentId: this.department,
            PositionId: this.position,
            IgnoreId: null,
            IsActive: true,
            DateFrom: this.startWorkDateFrom,
            DateTo: this.startWorkDateTo,
            EndWorkDateFrom: this.endWorkDateFrom,
            EndWorkDateTo: this.endWorkDateTo,
            Id: null,
            AutoCompleteText: null,
          },
          SortingCriteria: [],
          PagingCriteria: { PageIndex: 0, PageSize: 10 },
        };

        this.setCriteria(criteria);
        await this.getReport(criteria);
        this.advanceDialog = false;
      }
    },
    async getReport(criteria) {
      try {
        const result = await this.$store.dispatch(
          "report/LEAVE_BALANCE",
          criteria
        );
      } catch (e) {}
    },
    ...mapMutations({
      setItems: "report/SET_LEAVE_BALANCE_ITEMS",
      setCriteria: "report/SET_CRITERIA",
    }),
    async findContractsType(value) {
      if (this.contractsTypeItems.length > 0) return;
      this.contractsTypeItems = [{ Id: null, Name: "Choose" }];
      const items = await this.$store.dispatch(
        "masterData/FIND_CONTRACTS_TYPE",
        { Criteria: { AutoCompleteText: null } }
      );
      this.contractsTypeItems = [...this.contractsTypeItems, ...items];
    },
    startWorkDateFromChangeParent(value) {
      this.startWorkDateFrom = value;
    },
    startWorkDateToChangeParent(value) {
      this.startWorkDateTo = value;
    },
    endWorkDateFromChangeParent(value) {
      this.endWorkDateFrom = value;
    },
    endWorkDateToChangeParent(value) {
      this.endWorkDateTo = value;
    },
    async findDepartment(value) {
      if (this.departmentItems.length > 0) return;
      this.departmentItems = [{ Id: null, Name: "Choose" }];
      const items = await this.$store.dispatch("masterData/FIND_DEPARTMENT", {
        Criteria: { AutoCompleteText: null },
      });
      this.departmentItems = [...this.departmentItems, ...items];
    },
    async findPosition(value) {
      if (this.positionItems.length > 0) return;
      this.positionItems = [{ Id: null, Name: "Choose" }];
      const items = await this.$store.dispatch("masterData/FIND_POSITION", {
        Criteria: { AutoCompleteText: null },
      });
      this.positionItems = [...this.positionItems, ...items];
    },
    clearCriteria() {
      this.code = null;
      this.name = null;
      this.contractsType = null;
      this.employedDateFrom = null;
      this.employedDateTo = null;
      this.startWorkDateFrom = null;
      this.startWorkDateTo = null;
      this.endWorkDateFrom = null;
      this.endWorkDateTo = null;
    }
  },
};
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 0px 30px !important;
}
</style>