<template>
  <div style="overflow: auto;">
    <v-data-table
      :items="leaveBalanceItems"
      hide-default-footer
      hide-default-header
      style="width: 1024;min-height: 400px;"
      :loading="isLoading"
    >
      <template v-slot:header>
        <thead>
          <tr>
            <th style="text-align: center;font-weight: bold;">{{$t("report-no")}}</th>
            <th style="text-align: center;font-weight: bold;">{{$t("report-full-name")}}</th>
            <th style="text-align: center;font-weight: bold;">{{$t("report-position")}}</th>
            <th style="text-align: center;font-weight: bold;">{{$t("report-starting-date")}}</th>
            <th style="text-align: center;font-weight: bold;">{{$t("report-years-experiance")}}</th>
            <th :colspan="3">
              <tr>
                <th
                  :colspan="3"
                  style="text-align: center;font-weight: bold;"
                >{{$t('report-leave-balance')}}</th>
              </tr>
              <tr>
                <th
                  style="text-align: center;font-weight: bold;"
                >{{$t('report-sick-leave-balance')}}</th>
                <th
                  style="text-align: center;font-weight: bold;"
                >{{$t('report-personal-leave-balance')}}</th>
                <th
                  style="text-align: center;font-weight: bold;"
                >{{$t('report-vacation-leave-balance')}}</th>
              </tr>
            </th>
          </tr>
        </thead>
      </template>

      <template v-slot:item="{ item }">
        <tr>
          <td v-text="item.Code" />
          <td v-text="item.Name" />
          <td v-text="item.Position" />
          <td v-text="convertJSONDateOnlyToString(item.StartWorkDate)" />
          <td v-text="item.WorkingYear" style="text-align: center;" />
          <td v-text="item.SickLeaveBalance" style="text-align: center;" />
          <td v-text="item.PersonalLeaveBalance" style="text-align: center;" />
          <td v-text="item.AnnuallyLeaveBalance" style="text-align: center;" />
          <td>
            <v-btn dark icon min-width="0" @click="displayInfo(item)">
              <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>

    <v-pagination v-model="page" :length="totalPages" circle />

    <v-dialog v-model="infoDialog" hide-overlay persistent width="800">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t($router.currentRoute.meta.title) }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" md="3">
                <v-text-field readonly :label="$t('report-no')" v-model="code" />
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field readonly :label="this.$t('report-full-name')" v-model="name" />
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field readonly :label="this.$t('report-position')" v-model="position" />
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field
                  readonly
                  :label="this.$t('report-starting-date')"
                  v-model="startWorkDate"
                />
              </v-col>

              <v-col cols="12" style="margin-left: -10px; margin-top: -20px; padding-bottom: 0px">
                <v-card outlined>
                  <v-list-item-content>
                    <v-list-item-subtitle
                      style="padding-left: 10px;"
                    >{{this.$t('report-sick-leave')}}</v-list-item-subtitle>
                  </v-list-item-content>
                  <v-card-text>
                    <v-row style="margin-top: -20px; margin-bottom: -30px">
                      <v-col cols="12" md="4">
                        <v-text-field
                          readonly
                          :label="this.$t('report-rights')"
                          v-model="sickLeaveRights"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <v-text-field
                          readonly
                          :label="this.$t('report-used')"
                          v-model="sickLeaveUsing"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <v-text-field
                          readonly
                          :label="this.$t('report-balance')"
                          v-model="sickLeaveBalance"
                        />
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-col>

              <v-col cols="12" style="margin-left: -10px; margin-top: 0px; padding-bottom: 0px">
                <v-card outlined>
                  <v-list-item-content>
                    <v-list-item-subtitle
                      style="padding-left: 10px;"
                    >{{this.$t('report-personal-leave')}}</v-list-item-subtitle>
                  </v-list-item-content>
                  <v-card-text>
                    <v-row style="margin-top: -20px; margin-bottom: -30px">
                      <v-col cols="12" md="4">
                        <v-text-field
                          readonly
                          :label="this.$t('report-rights')"
                          v-model="personalLeaveRights"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <v-text-field
                          readonly
                          :label="this.$t('report-used')"
                          v-model="personalLeaveUsing"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <v-text-field
                          readonly
                          :label="this.$t('report-balance')"
                          v-model="personalLeaveBalance"
                        />
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-col>

              <v-col cols="12" style="margin-left: -10px; margin-top: 0px; padding-bottom: 0px">
                <v-card outlined>
                  <v-list-item-content>
                    <v-list-item-subtitle
                      style="padding-left: 10px;"
                    >{{this.$t('report-vacation-leave')}}</v-list-item-subtitle>
                  </v-list-item-content>
                  <v-card-text>
                    <v-row style="margin-top: -20px; margin-bottom: -30px">
                      <v-col cols="12" md="3">
                        <v-text-field
                          readonly
                          :label="this.$t('report-brought-forward')"
                          v-model="annuallyBroughtForward"
                        />
                      </v-col>
                      <v-col cols="12" md="3">
                        <v-text-field
                          readonly
                          :label="this.$t('report-rights')"
                          v-model="annuallyLeaveRights"
                        />
                      </v-col>
                      <v-col cols="12" md="3">
                        <v-text-field
                          readonly
                          :label="this.$t('report-used')"
                          v-model="annuallyLeaveUsing"
                        />
                      </v-col>
                      <v-col cols="12" md="3">
                        <v-text-field
                          readonly
                          :label="this.$t('report-balance')"
                          v-model="annuallyLeaveBalance"
                        />
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-col>

              <v-col cols="12" md="4">
                <v-text-field
                  readonly
                  :label="this.$t('report-years-experiance')"
                  v-model="workingYear"
                />
              </v-col>
            </v-row>
          </v-container>
          <!-- <small>*indicates required field</small> -->
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="blue darken-1" text @click="infoDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import dayjs from "dayjs";

export default {
  name: "ReportTableList",

  data: () => ({
    infoDialog: false,

    code: null,
    name: null,
    position: null,
    startWorkDate: null,
    sickLeaveRights: null,
    personalLeaveRights: null,
    annuallyLeaveRights: null,
    annuallyBroughtForward: null,
    sickLeaveUsing: null,
    personalLeaveUsing: null,
    annuallyLeaveUsing: null,
    sickLeaveBalance: null,
    personalLeaveBalance: null,
    annuallyLeaveBalance: null,
    workingYear: null
  }),
  mounted() {
    // this.getList(0)
  },

  computed: {
    // page : {

    // },
    ...mapState("report", ["leaveBalanceItems", "totalPages", "isLoading"]),
    page: {
      get() {
        // console.log("get-criteria==>", this.$store.state.report.criteria);
        return this.$store.state.report.criteria.PagingCriteria.PageIndex + 1;
      },
      set(value) {
        let criteria = this.$store.state.report.criteria;      
        // console.log("criteria==>", criteria);
        criteria.PagingCriteria.PageIndex = value - 1;
        this.setCriteria(criteria);
      }
    },
    headers() {
      return [
        {
          text: this.$t("report-no"),
          value: "Code",
          width: "1%",
          style: "text-align: center;font-weight: bold;"
        },
        {
          text: this.$t("report-full-name"),
          value: "Name",
          width: "2%"
        },
        {
          text: this.$t("report-position"),
          value: "Position",
          width: "1%"
        },
        {
          text: this.$t("report-starting-date"),
          value: "StartWorkDate",
          width: "1%"
        },
        {
          text: this.$t("report-years-experiance"),
          value: "WorkingYear",
          width: "1%"
        },
        // {
        //   text: "Leave Balance",
        //   sortable: false,
        //   children: [

        {
          text: this.$t("report-leave-balance"),
          value: "Group",
          width: "3%",
          sortable: false
        },
        {
          text: this.$t("report-sick-leave-balance"),
          value: "SickLeaveBalance",
          width: "1%"
        },
        {
          text: this.$t("report-personal-leave-balance"),
          value: "PersonalLeaveBalance",
          width: "1%"
        },
        {
          text: this.$t("report-vacation-leave-balance"),
          value: "AnnuallyLeaveBalance",
          width: "1%"
        },
        //   ]
        // },
        {
          sortable: false,
          text: "#",
          width: "1%",
          value: "action"
        }
      ];
    }
  },

  watch: {
    async page(value) {
      let criteria = this.$store.state.report.criteria;
      // console.log("criteria==>", criteria);
      criteria.PagingCriteria.PageIndex = value - 1;
      // console.log("criteria", criteria);
      this.setCriteria(criteria);
      await this.getReport(criteria);
    }
  },

  methods: {
    ...mapMutations({
      setCriteria: "report/SET_CRITERIA"
    }),
    convertJSONDateOnlyToString(value) {
      return dayjs(value).format("DD/MM/YYYY");
    },
    async getReport(criteria) {
      try {
        console.log("svsdv", criteria);
        const result = await this.$store.dispatch(
          "report/LEAVE_BALANCE",
          criteria
        );
        console.log("result", result);
      } catch (e) {}
    },
    displayInfo(item) {
      this.code = item.Code;
      this.name = item.Name;
      this.position = item.Position;
      this.startWorkDate = this.convertJSONDateOnlyToString(item.StartWorkDate);
      this.sickLeaveRights = item.SickLeaveRights;
      this.personalLeaveRights = item.PersonalLeaveRights;
      this.annuallyLeaveRights = item.AnnuallyLeaveRights;
      this.annuallyBroughtForward = item.AnnuallyBroughtForward;
      this.sickLeaveUsing = item.SickLeaveUsing;
      this.personalLeaveUsing = item.PersonalLeaveUsing;
      this.annuallyLeaveUsing = item.AnnuallyLeaveUsing;
      this.sickLeaveBalance = item.SickLeaveBalance;
      this.personalLeaveBalance = item.PersonalLeaveBalance;
      this.annuallyLeaveBalance = item.AnnuallyLeaveBalance;
      this.workingYear = item.WorkingYear;
      this.infoDialog = true;
    }
  }
};
</script>
