<template>
  <v-container id="panels" fluid tag="section">
    <base-material-card
      color="success"
      icon="mdi-rotate-right-variant"
      inline
      :title="`${$t($router.currentRoute.meta.title)}`"
      class="px-5 py-3"
    >
      <v-form
        v-model="formGenerateValid"
        ref="generateForm"
        @submit.prevent="generate"
      >
        <v-row>
          <v-col cols="12" md="2" sm="6">
            <v-select
              v-model="year"
              :items="generateYears()"
              clear-icon="mdi-close-circle"
              label="Year"
              :rules="fieldRules"
            />
          </v-col>
          <v-col cols="12" md="2" sm="6">
            <v-select
              v-model="leaveType"
              :items="leaveTypeItems"
              clear-icon="mdi-close-circle"
              item-text="Name"
              item-value="Id"
              label="Leave type"
              :rules="fieldRules"
            />
          </v-col>
          <v-col cols="12" md="2" sm="6">
            <v-text-field label="remark" v-model="remarkForm" />
          </v-col>
          <v-col cols="12" md="2" sm="6" align-self="center">
            <v-btn
              class="mx-0 font-weight-light"
              block
              color="success"
              style="padding: 0px"
              @click="generateConfirm"
            >
              <v-icon left>mdi-sync</v-icon>
              {{ $t("generate") }}
            </v-btn>
          </v-col>
          <v-col cols="12" md="4" sm="6" align-self="center" v-if="id">
            <div style="text-align: right">
              {{ $t("leave-doc-number") }} : {{ docCode }}
            </div>
            <div style="text-align: right">
              {{ $t("status") }} : {{ status }}
            </div>
          </v-col>
        </v-row>
      </v-form>

      <v-row>
        <v-col cols="12" md="4" sm="6" align-self="center">
          <v-text-field
            :label="$t('label-search')"
            v-model="search"
            append-icon="mdi-magnify"
            single-line
            hide-details
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" style="overflow: auto">
          <v-data-table
            :headers="headers"
            :items="employeeItems"
            :search="search"
            style="min-height: 400px"
          >
            <template v-slot:item="{ item, index }">
              <tr>
                <td v-text="item.EmployeeNo" />
                <td v-text="item.Employee" />
                <td v-text="convertJSONDateOnlyToString(item.EmployeeDate)" />
                <td v-text="item.RightsQty" />
                <td v-text="item.BroughtForwardBalance" />
                <td v-text="item.BroughtForwardActually" />
                <td v-text="item.RightsUnit" />
                <td>
                  <v-btn
                    dark
                    icon
                    min-width="0"
                    @click="setEmployeeFormDialog(item, index)"
                  >
                    <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                  </v-btn>
                  <v-btn
                    dark
                    icon
                    min-width="0"
                    @click="remove(item.EmployeeId)"
                  >
                    <v-icon color="red" v-text="'mdi-delete'" size="25" />
                  </v-btn>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-col>
        <v-col cols="12" align-self="center" class="text-right">
          <!-- {{ status }} -->

          <v-btn
            v-if="status !== 'Cancel' && status !== 'Commit'"
            class="mx-0 font-weight-light"
            color="success"
            style="padding: 0px"
            @click="draftOrApprove('draft')"
            :loading="isLoading"
            >{{ $t("draft") }}</v-btn
          >

          <v-btn
            v-if="status !== 'Cancel' && status !== 'Commit'"
            class="mx-0 font-weight-light"
            color="success"
            style="padding: 0px; margin-left: 5px !important"
            @click="draftOrApprove('approve')"
            :loading="isLoading"
            :disabled="submitDisabled"
            >{{ $t("approve") }}</v-btn
          >

          <v-btn
            v-if="id && status === 'Commit'"
            class="mx-0 font-weight-light"
            color="info"
            style="padding: 0px; margin-left: 5px !important"
            @click="cancelOrRollback('rollback')"
            :loading="isLoading"
            :disabled="submitDisabled"
            >rollback</v-btn
          >
          <v-btn
            v-if="id && status === 'Commit'"
            class="mx-0 font-weight-light"
            color="red"
            style="padding: 0px; margin-left: 5px !important"
            @click="cancelOrRollback('cancel')"
            :loading="isLoading"
            :disabled="submitDisabled"
            >{{ $t("cancel") }}</v-btn
          >
        </v-col>
      </v-row>
    </base-material-card>
    <v-dialog v-model="employeeFormDialog" persistent max-width="800px">
      <v-form ref="employeeDialogForm" @submit.prevent="editEmployee">
        <v-card>
          <v-card-title>
            <span class="headline"
              >{{ $t("employee") }} ({{ employeeName }})</span
            >
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    :label="$t('leave-carry-forward-carry-forward')"
                    v-model="broughtForwardActually"
                    @paste="onPaste"
                    v-on:keypress="isNumber($event)"
                    maxlength="5"
                    :rules="decimalRules"
                  />
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    :label="$t('leave-carry-forward-unit')"
                    v-model="rightsUnit"
                    disabled
                    :rules="decimalRules"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-textarea
                    v-model="remark"
                    class="purple-input"
                    :label="$t('leave-remark')"
                    filled
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="blue darken-1" text @click="cancel">{{
              $t("cancel-button")
            }}</v-btn>
            <v-btn
              color="blue darken-1"
              text
              type="submit"
              :loading="isLoading"
              >{{ $t("submit-button") }}</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog v-model="isLoading" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          <div style="color: #ffffff">{{ $t("loading") }}</div>
          <v-progress-linear indeterminate color="white" class="mb-0" />
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="generateConfirmDialog"
      hide-overlay
      persistent
      width="300"
    >
      <v-card>
        <v-card-text style="text-align: center">{{
          `Generating will remove data?\nAre you sure to generate?`
        }}</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="white" @click="generateConfirmDialog = false">{{
            $t("cancel")
          }}</v-btn>
          <v-btn color="red darken-1" @click="generate">{{
            $t("confirm")
          }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import dayjs from "dayjs";
import moment from "moment";
import _ from "lodash";
import { mask } from "vue-the-mask";

export default {
  name: "LeaveCarryForwardRequest",

  directives: {
    mask,
  },

  components: {
    SearchBar: () => import("./components/SearchBar"),
    // TableList: () => import('./components/TableList')
  },

  data: () => ({
    year: null,
    search: null,

    submitDisabled: true,

    formGenerateValid: false,
    employeeFormDialog: false,
    generateConfirmDialog: false,

    id: null,
    docCode: null,
    status: null,
    leaveItemId: null,

    employeeId: null,
    employeeName: null,
    broughtForwardActually: null,
    rightsUnit: null,
    remark: null,

    remarkForm: null,
    leaveType: null,
    leaveTypeId: null,
    leaveTypeItems: [],
    employeeItems: [],

    fieldRules: [(v) => !!v || "Field is required."],
    decimalRules: [
      (v) => !!v || "Field is required.",
      (v) => /^-?\d{0,4}(?:[.,]\d{1,3})?$/.test(v) || "format is invalid",
    ],

    loading: false,
  }),

  computed: {
    ...mapState("leaveCarryForward", ["isLoading"]),
    headers() {
      return [
        {
          text: this.$t("leave-carry-forward-employee-code"),
          value: "EmployeeNo",
          width: "15%",
        },
        {
          text: this.$t("leave-carry-forward-employee-name"),
          value: "Employee",
          width: "15%",
        },
        {
          text: this.$t("label-employee-date-employed"),
          value: "EmployeeDate",
          width: "15%",
        },
        {
          text: this.$t("leave-carry-forward-right-qty"),
          value: "RightsQty",
          width: "10%",
        },
        {
          text: this.$t("leave-carry-forward-carry-forward"),
          value: "BroughtForwardBalance",
          width: "15%",
        },
        {
          text: this.$t("leave-carry-forward-cf-actual"),
          value: "BroughtForwardActually",
          width: "10%",
        },
        {
          text: this.$t("leave-carry-forward-unit"),
          value: "RightsUnit",
          width: "10%",
        },
        {
          sortable: false,
          text: "#",
          width: "15%",
          value: "action",
        },
      ];
    },
  },

  async mounted() {
    var d = new Date();
    this.year = d.getFullYear() + "";
    await this.findLeaveType();

    await this.getLeave();
  },

  watch: {
    employeeItems() {
      if (this.employeeItems.length > 0) this.submitDisabled = false;
      else this.submitDisabled = true;
    },
  },
  methods: {
    async getLeave(idSaved) {
      let leaveCFId = this.$route.params.id ? this.$route.params.id : idSaved;
      if (leaveCFId) {
        try {
          const result = await this.$store.dispatch(
            "leaveCarryForward/GET",
            leaveCFId
          );
          this.docCode = result.No;
          this.id = result.Id;
          this.status = result.Status;
          this.employeeItems = result.LeaveCFEmployeeItems;
          console.log("employeeItems", this.employeeItems);
          this.leaveTypeId = result.LeaveTypeId;
          this.leaveType = result.LeaveTypeId;
          this.remarkForm = result.Remark;
        } catch (error) {}
      }
    },
    async findLeaveType() {
      try {
        this.leaveTypeItems = await this.$store.dispatch(
          "masterData/FIND_LEAVE_TYPE",
          { Criteria: { AutoCompleteText: null } }
        );
        console.log(" this.leaveTypeItems ", this.leaveTypeItems);
      } catch (e) {}
    },
    async generateConfirm() {
      if (this.$refs.generateForm.validate()) {
        this.generateConfirmDialog = true;
      }
    },
    async generate() {
      this.generateConfirmDialog = false;
      this.leaveTypeId = this.leaveType;
      this.employeeItems = await this.$store.dispatch(
        "leaveCarryForward/GENERATE",
        {
          leaveTypeId: this.leaveType,
          annual: moment(`01/01/${this.year}`, "DD/MM/YYYY").format(
            "YYYY/MM/DD"
          ),
        }
      );
    },
    generateYears() {
      const year = [];
      for (var i = 2020; i <= 2030; i++) {
        year.push(i + "");
      }
      return year;
    },
    async setEmployeeFormDialog(item, index) {
      this.employeeFormDialog = true;
      this.employeeId = item.EmployeeId;
      this.employeeName = item.Employee;
      this.broughtForwardActually = item.BroughtForwardActually;
      this.rightsUnit = item.RightsUnit;
      this.remark = item.Remark;
    },
    cancel() {
      this.employeeFormDialog = false;
      // this.$refs.addForm.reset();
      this.clearForm();
    },
    editEmployee() {
      this.employeeFormDialog = false;
      const index = this.employeeItems.findIndex(
        (item) => item.EmployeeId === this.employeeId
      );
      // console.log(
      //   "broughtForwardActually",
      //   index,
      //   this.employeeId,
      //   this.broughtForwardActually
      // );
      this.employeeItems[index].BroughtForwardActually = this
        .broughtForwardActually
        ? parseFloat(this.broughtForwardActually)
        : 0;
      this.employeeItems[index].remark = this.remark;
      // console.log("ccc", this.employeeItems[index]);
      this.clearForm();
    },
    clearForm() {
      this.employeeId = null;
      this.employeeName = null;
      this.broughtForwardActually = null;
      this.rightsUnit = null;
      this.remark = null;
    },
    async draftOrApprove(method) {
      if (this.employeeItems.length > 0) {
        const payload = {
          Id: this.$route.params.id,
          LeaveCFEmployeeItems: this.employeeItems,
          LeaveTypeId: this.leaveTypeId,
          Remark: this.remarkForm,
          Annaul: moment(`01/01/${this.year}`, "DD/MM/YYYY").format(
            "YYYY/MM/DD"
          ),
        };

        console.log("payloaf", payload);

        console.log("draftOrApprove", payload);
        try {
          if (method === "draft") {
            let idSaved = await this.$store.dispatch(
              "leaveCarryForward/DRAFT",
              payload
            );
            this.$router.push({
              name: "admin-leave-carry-forward-request-edit",
              params: { id: idSaved },
            });
            await this.getLeave(idSaved);
          } else {
            let idSaved = await this.$store.dispatch(
              "leaveCarryForward/APPROVE",
              payload
            );
            this.$router.push({
              name: "admin-leave-carry-forward-request-edit",
              params: { id: idSaved },
            });
            await this.getLeave(idSaved);
          }
        } catch (error) {}
      }
    },
    async cancelOrRollback(method) {
      try {
        if (method === "cancel") {
          await this.$store.dispatch("leaveCarryForward/CANCEL", this.id);
          await this.getLeave();
        } else {
          await this.$store.dispatch("leaveCarryForward/ROLLBACK", this.id);
          await this.getLeave();
        }
      } catch (error) {
        console.log("error", error);
      }
    },
    remove(recordId) {
      const items = this.employeeItems.filter(
        (item) => item.EmployeeId != recordId
      );
      this.employeeItems = items;
    },
    onPaste(evt) {
      evt.preventDefault();
    },
    isNumber(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (charCode >= 45 && charCode <= 57) {
        return true;
      } else {
        evt.preventDefault();
      }
    },
    convertJSONDateOnlyToString(value) {
      return value ? moment(value).format("DD/MM/YYYY") : null;
    },
  },
};
</script>