<template>
    <v-container id="extended-tables" fluid tag="section" >
        <base-material-card icon="mdi-account-check">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    {{ $t($router.currentRoute.meta.title) }}
                </div>
            </template>

            
            <v-container class="py-0">
                <v-row>
                    <v-col cols="12" md="4" >
                        {{ $t('training-course-schedule-period-number') }} : {{ periodNo }}
                    </v-col>
                    <v-col cols="12" md="4" >
                        {{ $t('training-course-schedule-period-name') }} : {{ periodName }}
                    </v-col>
                    <v-col cols="12" md="4" >
                        {{ $t('training-course-schedule-type') }} : {{ type }}
                    </v-col>
                    <v-col cols="12" md="4" >
                        {{ $t('training-course-schedule-start-date-time') }} : {{ startDate }}, {{ startTime }}
                    </v-col>
                    <v-col cols="12" md="8" >
                        {{ $t('training-course-schedule-end-date-time') }} : {{ endDate }}, {{ endTime }}
                    </v-col>
                    <v-col cols="12" md="4" >
                        {{ $t('training-course-schedule-place') }} : {{ place }}
                    </v-col>
                    <v-col cols="12" md="8" >
                        {{ $t('training-course-schedule-lecturer') }} : {{ lecturer }}
                    </v-col>
                    <v-col cols="12" >
                        <v-data-table
                            :headers="headers"
                            :items="items"
                            :loading="isLoading"
                        >
                            <template v-slot:item="{ item }">
                                <tr>
                                    <td v-text="item.Employee" />
                    
                                    <td v-for="(child, i) in signRecordItems" :key="`single-record-${i}`" align-self="center" class="text-center" >
                                        <v-checkbox :input-value="checkAttendance(item.EmployeeId, i)" @change="checkBoxChange($event, item.EmployeeId, i)" />
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-col>
                    <v-col cols="12" class="text-right" >
                        <v-btn color="success" class="mr-1" @click="submit" :loading="isLoading" :disabled="isLoading">
                            {{ $t('submit-button') }}
                        </v-btn>
                    </v-col>
                </v-row>
                <v-snackbar
                    type="success"
                    v-model="message"
                    top
                    color="green" >
                    {{ message }}
                    <v-btn color="#FFFFFF" text @click="message = false" >
                        Close
                    </v-btn>
                </v-snackbar>
            </v-container>
        </base-material-card>
    </v-container>
</template>

<script>
    import dayjs from 'dayjs'
    import moment from 'moment'

    export default {
        name: 'Leave',
        
        data: () => ({
            isLoading: false,

            endDate: null,
            endTime: null,
            id: null,
            lecturer: null,
            periodName: null,
            periodNo: null,
            place: null,
            signRecordItems: [],
            startDate: null,
            startTime: null,
            trainingCourseId: null,
            type: null,
            message: 'Save successful.',
            headers: [
                
            ],
            items: []

        }),

        async mounted () {
            this.find()
        },

        methods: {
            async find () {
                if (this.$route.params.id) {
                    

                    try {
                        this.isLoading = true
                        await this.$store.dispatch('trainingCourseSchedule/GET', this.$route.params.id)
                        console.log('xxs', this.$store.state.trainingCourseSchedule.item)

                        this.headers = [{
                            text: this.$t('training-course-schedule-employee-name'),
                            value: 'name',
                            width: '20%',
                            sortable: false
                        }]

                        const { 
                            EndDate,
                            EndTime,
                            Id,
                            Lecturer,
                            PeriodName,
                            PeriodNo,
                            Place,
                            SignRecordItems,
                            StartDate,
                            StartTime,
                            TrainingCourseId,
                            Type } = this.$store.state.trainingCourseSchedule.item
                        
                        const column = 80 / SignRecordItems.length 
                        

                        SignRecordItems.map(item => {
                            this.headers.push({
                                text: this.convertJSONDateOnlyToString(item.SignDate),
                                value: this.convertJSONDateOnlyToString(item.SignDate), 
                                width: `${column}%`,
                                sortable: false
                            })
                        })
                        
                        this.items = SignRecordItems.length > 0 ? JSON.parse(JSON.stringify(SignRecordItems[0].EmployeeItems)) : []
                        console.log('items', this.items)
                        this.endDate = this.convertJSONDateOnlyToString(EndDate)
                        this.endTime = this.convertJSONTimeOnlyToString(EndTime)
                        this.id = Id
                        this.lecturer = Lecturer
                        this.periodName = PeriodName
                        this.periodNo = PeriodNo
                        this.place = Place
                        this.signRecordItems = SignRecordItems
                        this.startDate = this.convertJSONDateOnlyToString(StartDate)
                        this.startTime = this.convertJSONTimeOnlyToString(StartTime)
                        this.trainingCourseId = TrainingCourseId
                        this.type = Type
                        
                        this.isLoading = false
                    } catch (error) {
                        this.isLoading = false
                    }
                }
            },
            checkAttendance (id, index) {
                // console.log(Object.keys(object1))
                this.signRecordItems[index]
                const employeeItems = this.signRecordItems[index].EmployeeItems
                const employee = employeeItems.find(employee => employee.EmployeeId === id)                

                return employee.IsSigned
            },
            checkBoxChange (e, id, index) {
                const indexVM = this.signRecordItems[index].EmployeeItems.findIndex(employee => employee.EmployeeId === id)
                this.signRecordItems[index].EmployeeItems[indexVM].IsSigned = e
            },
            async submit () {
                try {
                    this.isLoading = true

                    const payload = {
                        SignRecordItems: this.signRecordItems,
                        Id: this.id,
                        // TrainingCourseId: null,
                        // PeriodNo: null,
                        // PeriodName: null,
                        // Type: null,
                        // TypeDisplay: null,
                        // StartDate: null,
                        // StartTime: null,
                        // EndDate: null,
                        // EndTime: null,
                        // Place: null,
                        // Lecturer: null
                    }

                    await this.$store.dispatch('trainingCourseSchedule/SAVE_SIGN_RECORD', payload)
                    this.isLoading = false
                    this.message = 'Save successful.'
                } catch (error) {
                    console.log('error', error)
                    this.isLoading = false
                }
                
            },
            convertJSONDateOnlyToString (value) {
                return moment(value).format('DD/MM/YYYY')
            },
            convertJSONTimeOnlyToString (value) {
                return moment(value, 'YYYY/MM/DDTHH:mm').format('HH:mm')
            }
        }
    }
</script>
