<template>
    <v-container id="extended-tables" fluid tag="section" >
        <base-material-card
            color="success"
            icon="mdi-table"
            inline
            :title="$t($router.currentRoute.meta.title)"
            class="px-5 py-3" >
            
                <v-row>
                    <v-col cols="12" md="8" offset-md="4" >
                        <add-bar />
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="12" >
                        <table-list />
                    </v-col>
                </v-row>

        </base-material-card>
    </v-container>
</template>

<script>
    export default {
        name: 'Leave',
        
        components: {
            AddBar: () => import('./components/AddBar'),
            TableList: () => import('./components/GenerateTableList')
        }
    }
</script>
