<template>
    <v-menu
        :close-on-content-click="false"
        v-model="menu"
        transition="scale-transition"
        offset-y
        :nudge-right="40"
        max-width="290px"
        min-width="290px"
        class="v-menu_custom" >
        
        <template v-slot:activator="{  }">
            <v-text-field
                v-mask="mask"
                placeholder="dd/mm/yyyy"
                :label="label"
                v-model="dateDisplay"
                :append-icon="appendIcon"
                @click:append="menu = true"
                @keypress="updateFrom = 'input'"
                :outlined="outlined"
                :rules="rules"
                :persistent-hint="persistentHint"
                :hint="hint" />
        </template>
        <v-date-picker class="date-picker-custom" :min="minDate" :max="maxDate" v-model="value" @input="menu = false;updateFrom = 'picker';"  color="primary" />
    </v-menu>
</template>

<script>
    import dayjs from 'dayjs'
    import moment from 'moment'
    import { mask } from 'vue-the-mask'
    
    export default {
        inheritAttrs: false,
        props: {
            label: {
                type: String
            },
            appendIcon: {
                type: String,
                default: 'mdi-calendar'
            },
            dateChangeParent: {
                type: Function,
            },
            date: {
                type: String,
                default: new dayjs().format('YYYY-MM-DD')
            },
            rules: {
                type: Array,
                default: () => ([])
            },
            outlined: {
                type: Boolean,
                default: false
            },
            hint: {
                type: String
            },
            persistentHint: {
                type: Boolean,
                default: false
            },
            allowNull: {
                type: Boolean,
                default: false
            }
        },
        directives: {
            mask
        },
        data: () => ({
            dateDisplay: null,
            mask: '##/##/####',
            value: dayjs().format('YYYY-MM-DD'),
            minDate: dayjs().add(-100, 'year').toISOString(),
            maxDate: dayjs().add(100, 'year').toISOString(),
            menu: false,
            modal: false,
            updateFrom: null,
            isUpdate: false,
        }),
        computed: {
            // computedDateFormatted: {
            //     get() {
            //         console.log('computedDateFormatted', this.value)
            //         return this.formatDate(this.value)
            //     },
            //     set(value) {
            //         if (moment(value, 'DD/MM/YYYY').format('DD/MM/YYYY') === value) {
            //             // console.log('value', value, moment(value, 'DD/MM/YYYY').format('YYYY-MM-DD') )
            //             this.value = this.formatDate(moment(value, 'DD/MM/YYYY').format('YYYY-MM-DD'))
            //         }
                    
            //     }
            // }
        },
        mounted () {
            this.value = this.date ? this.date : (this.allowNull ? null :new dayjs().format('YYYY-MM-DD'));
            this.dateDisplay = this.formatDate(this.value)
            console.log('sss', this.dateDisplay)
            this.dateChangeParent(this.exportDate(this.value))
        },
        watch: {
            date (value) {
                // console.log('watch-date==>', value)
                if(value){
                    const removeTimeOut = value.split('T')
                    const [year, month, day] = removeTimeOut[0].split('-')
                    
                    this.value = `${parseInt(year)}-${month}-${day}`                    
                }
                else { this.value = null; }

                this.updateFrom = 'picker';
            },
            value (value) {
                if (this.updateFrom !== null) {
                    if (this.updateFrom === 'input') {
                        this.updateFrom = null
                        return
                    }
                    
                    this.dateDisplay = this.formatDate(value)
                    this.dateChangeParent(this.exportDate(value))
                }
                else
                    this.dateChangeParent(this.exportDate(null))
                // console.log('value', this.updateFrom)
            },
            dateDisplay (value) {
                if (this.updateFrom !== null) {
                    if (this.updateFrom === 'picker') {
                        this.updateFrom = null
                        return
                    }

                    if (moment(value, 'DD/MM/YYYY').format('DD/MM/YYYY') !== value) return 
                    this.value = moment(value, 'DD/MM/YYYY').format('YYYY-MM-DD')
                    this.dateChangeParent(this.exportDate(this.value))
                }
                else
                    this.dateChangeParent(this.exportDate(null))
                // console.log('dateDisplay', this.updateFrom, this.value)
            }
        },
        methods: {
            formatDate (date) {
                if (!date) return null
                const [year, month, day] = date.split('-')
                return `${day}/${month}/${year}`

            },
            exportDate(date) {
                // console.log('exportDate', date)
                if (!date) return null
                    console.log('exportDate', this.value, date)
                const [year, month, day] = date.split('-')
                return `${parseInt(year)}-${month}-${day}`
            },
            consol(){
                alert(this.value)
            }
        }
    }
</script>
