<template>
    <v-text-field
        v-model="value"
        :append-icon="appendIcon"
        clear-icon="mdi-close-circle"
        clearable
        :label="label"
        v-mask="mask"
        :placeholder="placeholder"
        type="text"
        :rules="isRequired ? fieldRules : fieldRulesWithoutRequired" />
</template>

<script>
    import moment from 'moment'
    import { mask } from 'vue-the-mask'

    export default {
        inheritAttrs: false,
        props: {
            label: {
                type: String
            },
            placeholder: {
                type: String,
                default: 'dd/mm/yyyy'
            },
            appendIcon: {
                type: String,
                default: 'mdi-calendar'
            },
            dateChangeParent: {
                type: Function,
            },
            isRequired: {
                type: Boolean,
                default: false
            }
        },
        directives: {
            mask
        },
        data: () => ({
            mask: '##/##/####',
            value: null,
            fieldRules: [
                (v) => !!v || 'Field is required.',
                (v) => {
                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v)) return 'Date format is invalid'
                    else return true
                }
            ],
            fieldRulesWithoutRequired: [
                (v) => {
                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v)) return 'Date format is invalid'
                    else return true
                }
            ]
        }),
        watch: {
            value() {
                // console.log('value', this.value)
                if (moment(this.value, 'DD/MM/YYYY').format('DD/MM/YYYY') === this.value) {
                    this.dateChangeParent(moment(this.value, 'DD/MM/YYYY').format('YYYY/MM/DD'))
                } else {
                    this.dateChangeParent(null)
                }
            }
        }
    }
</script>