<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    :dark="barColor !== 'rgba(228, 226, 226, 1), rgba(255, 255, 255, 0.7)'"
    :expand-on-hover="expandOnHover"
    :right="$vuetify.rtl"
    :src="barImage"
    mobile-break-point="960"
    app
    mini-variant-width="80"
    width="260"
    v-bind="$attrs"
  >
    <template v-slot:img="props">
      <v-img
        :gradient="`to bottom, ${barColor}`"
        v-bind="props"
      />
    </template>

    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="text-uppercase font-weight-regular display-2">
          <span class="logo-mini">HRM</span>
          <span class="logo-normal">MANAGEMENT</span>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider class="mb-1" />

    <!-- <v-list
      dense
      nav
    >
      <base-item-group :item="profile" />
    </v-list> -->

    <!-- <v-divider class="mb-2" /> -->

    <v-list
      expand
      nav
    >
      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />

      <template v-for="(item, i) in computedItems">
        <base-item-group
          v-if="item.children"
          :key="`group-${i}`"
          :item="item"
        >
          <!--  -->
        </base-item-group>

        <base-item
          v-else
          :key="`item-${i}`"
          :item="item"
        />
      </template>
      
      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />
      <v-list-item link @click="logout" >
        <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
            <v-list-item-title>{{ $t('logout') }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <!-- <v-list-item
        :href="href"
        :rel="href && href !== '#' ? 'noopener' : undefined"
        :target="href && href !== '#' ? '_blank' : undefined"
        :to="item.to"
        :active-class="`primary ${!isDark ? 'black' : 'white'}--text`"
      >
        <v-list-item-icon
          v-if="text"
          class="v-list-item__icon--text"
          v-text="computedText"
        />

        <v-list-item-icon v-else-if="item.icon">
          <v-icon v-text="item.icon" />
        </v-list-item-icon>

        <v-list-item-content v-if="item.title || item.subtitle">
          <v-list-item-title v-text="item.title" />

          <v-list-item-subtitle v-text="item.subtitle" />
        </v-list-item-content>
      </v-list-item> -->
  </v-navigation-drawer>
</template>

<script>
  // Utilities
  import {
    mapState,
  } from 'vuex'

  export default {
    name: 'DashboardCoreDrawer',

    props: {
      expandOnHover: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      items: [
        {
          icon: 'mdi-view-dashboard',
          title: 'dashboard',
          to: '/admin/dashboard',
        },
        {
          icon: 'mdi-database',
          title: 'common-information',
          to: '/admin/common-information',
        },
        {
          icon: 'mdi-account-multiple',
          title: 'employee',
          to: '/admin/employee',
        },
        {
          icon: 'mdi-file-document',
          title: 'leave',
          to: '/admin/leave',
        },
        {
          icon: 'mdi-rotate-right-variant',
          title: 'leave-carry-forward',
          to: '/admin/leave-carry-forward',
        },
        {
          icon: 'mdi-book-open-page-variant',
          title: 'training-course',
          to: '/admin/training-course',
        },
        {
          icon: 'mdi-table',
          title: 'training-course-schedule',
          to: '/admin/training-course-schedule',
        },
        {
          group: '/admin',
          icon: 'mdi-file-account',
          title: 'employee-report',
          children: [
            {
              title: 'report-age-range',
              to: 'report/age-range', 
            },
            {
              title: 'report-year-experience',
              to: 'report/year-experience',
            },
            {
              title: 'report-turn-over-rate',
              to: 'report/turn-over-rate'
            },
            {
              title: 'report-employee',
              to: 'report/employee'
            },
            {
              title: 'report-resignation-employee',
              to: 'report/resignation-employee'
            },
          ],
        },

        {
          group: '/admin',
          icon: 'mdi-calendar-search ',
          title: 'leave-report-group',
          children: [
            {
              title: 'report-leave-history-type-grouping',
              to: 'report/leave-history-type-grouping',
            },
            {
              title: 'report-leave-balance',
              to: 'report/leave-balance',
            },
          ],
        },
      
        {
          group: '/admin',
          icon: 'mdi-file-chart',
          title: 'training-report',
          children: [
            {
              title: 'report-training-history',
              to: 'report/training-history', 
            },
            {
              title: 'report-training-age-range',
              to: 'report/training-age-range', 
            },
            {
              title: 'report-training-summary',
              to: 'report/training-summary', 
            }
          ],
        }

      ],
    }),

    computed: {
      ...mapState('app', ['barColor', 'barImage']),
      drawer: {
        get () {
          return this.$store.state.drawer
        },
        set (val) {
          this.$store.commit('app/SET_DRAWER', val)
        },
      },
      computedItems () {
        return this.items.map(this.mapItem)
      },
      profile () {
        return {
          avatar: true,
          group: '',
          title: this.$t('avatar'),
          children: [
            {
              href: '',
              title: this.$t('my-profile'),
            },
            {
              to: '',
              title: this.$t('edit-profile'),
            },
            {
              to: '',
              title: this.$t('settings'),
            },
          ],
        }
      },
    },

    watch: {
      '$vuetify.breakpoint.smAndDown' (val) {
        this.$emit('update:expandOnHover', !val)
      },
    },

    methods: {
      mapItem (item) {
        return {
          ...item,
          children: item.children ? item.children.map(this.mapItem) : undefined,
          title: this.$t(item.title),
        }
      },
      async logout () {
        await this.$store.dispatch('admin/AUTH_LOGOUT')
        this.$router.push({ path: '/admin/login' })
      }
    },
  }
</script>

<style lang="sass">
  @import '~vuetify/src/styles/tools/_rtl.sass'

  #core-navigation-drawer
    &.v-navigation-drawer--mini-variant
      .v-list-item
        justify-content: flex-start !important

      .v-list-group--sub-group
        display: block !important

    .v-list-group__header.v-list-item--active:before
      opacity: .24

    .v-list-item
      &__icon--text,
      &__icon:first-child
        justify-content: center
        text-align: center
        width: 20px

        +ltr()
          margin-right: 24px
          margin-left: 12px !important

        +rtl()
          margin-left: 24px
          margin-right: 12px !important

    .v-list--dense
      .v-list-item
        &__icon--text,
        &__icon:first-child
          margin-top: 10px

    .v-list-group--sub-group
      .v-list-item
        +ltr()
          padding-left: 8px

        +rtl()
          padding-right: 8px

      .v-list-group__header
        +ltr()
          padding-right: 0

        +rtl()
          padding-right: 0

        .v-list-item__icon--text
          margin-top: 19px
          order: 0

        .v-list-group__header__prepend-icon
          order: 2

          +ltr()
            margin-right: 8px

          +rtl()
            margin-left: 8px
</style>
