<template>
  <v-content>
    <breadcrumbs />
    <v-fade-transition mode="out-in">
      <router-view />
    </v-fade-transition>

    <v-snackbar
      type="error"
      v-model="errorMessage"
      top
      color="red" >
      {{ errorMessage }}
      <v-btn color="#FFFFFF" text @click="errorMessage = false" >
          Close
      </v-btn>
    </v-snackbar>
            
    <footer />
  </v-content>
</template>

<script>
  import { mapState, mapMutations } from 'vuex'

  export default {
    name: 'DashboardCoreView',

    components: {
      Breadcrumbs: () => import('./Breadcrumbs'),
      Footer: () => import('./Footer')
    },

    computed: {
      errorMessage: {
          get () {
              return this.$store.state.app.errorMessage
          },
          set (value) {
              if (value === false) this.$store.commit('app/SET_ERROR_MESSAGE', null)
          }
      }
    }
    
  }
</script>
