<template>
  <v-container id="dashboard" fluid tag="section">
    <v-row>
      <v-col cols="12">
        <training-course />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6">
        <base-material-card icon="mdi-newspaper" :title="$t('report-age-range')">
          <v-row>
            <v-col cols="12" class="mt-10">
              <v-data-table
                :headers="ageRangeHeaders"
                :items="ageRangeItems"
                hide-default-footer
                style="min-height: 400px;text-align: center;"
                :items-per-page="-1"
                :loading="$store.state.report.isLoading"
              >
                <template v-slot:item="{ item, index }">
                  <tr v-if="ageRangeItems.length - 1 === index">
                    <td v-text="item.Grouping" />
                    <td v-text="item.FemaleAmount" colspan="2" style="font-weight: bold;" />
                  </tr>
                  <tr v-else-if="ageRangeItems.length - 2 === index">
                    <td v-text="item.Grouping" style="font-weight: bold;" />
                    <td v-text="item.MaleAmount" style="font-weight: bold;" />
                    <td v-text="item.FemaleAmount" style="font-weight: bold;" />
                  </tr>
                  <tr v-else>
                    <td v-text="item.Grouping" />
                    <td v-text="item.MaleAmount" />
                    <td v-text="item.FemaleAmount" />
                  </tr>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </base-material-card>
      </v-col>
      <v-col cols="12" md="6">
        <base-material-card icon="mdi-newspaper" :title="$t('report-year-experience')">
          <v-row>
            <v-col cols="12" class="mt-10">
              <v-data-table
                :headers="yearExperienceHeaders"
                :items="yeasExperienceItems"
                hide-default-footer
                style="min-height: 400px;text-align: center;"
                :items-per-page="-1"
                :loading="$store.state.report.isLoading"
              >
                <template v-slot:item="{ item, index }">
                  <tr v-if="yeasExperienceItems.length - 1 === index">
                    <td v-text="item.Grouping" />
                    <td v-text="item.FemaleAmount" colspan="2" style="font-weight: bold;" />
                  </tr>
                  <tr v-else-if="yeasExperienceItems.length - 2 === index">
                    <td v-text="item.Grouping" style="font-weight: bold;" />
                    <td v-text="item.MaleAmount" style="font-weight: bold;" />
                    <td v-text="item.FemaleAmount" style="font-weight: bold;" />
                  </tr>
                  <tr v-else>
                    <td v-text="item.Grouping" />
                    <td v-text="item.MaleAmount" />
                    <td v-text="item.FemaleAmount" />
                  </tr>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  name: "DashboardDashboard",

  components: {
    TrainingCourse: () => import('./components/TrainingCourse'),
  },

  data() {
    return {

    };
  },

  mounted() {
    this.setAgeRangeItems([]);
    this.setYearsExperienceItems([]);
    let criteria = {
      ContractTypeId: null,
      Id: null,
      DateFrom: null,
      DateTo: null,
      AutoCompleteText: null,
    };

    this.setCriteria(criteria);
    this.getAgeRangeReport(criteria);
    this.getYearsExperienceReport(criteria);
  },

  computed: {
    ...mapState("report", [
      "ageRangeItems",
      "yeasExperienceItems",
      "isLoading",
    ]),
    ageRangeHeaders() {
      return [
        {
          text: this.$t("report-age-range"),
          value: "Name",
          width: "33%",
          align: "center",
        },
        {
          text: this.$t("report-man"),
          value: "Name",
          width: "33%",
          align: "center",
        },
        {
          text: this.$t("report-woman"),
          value: "ContractType",
          width: "33%",
          align: "center",
          divider: true,
        },
      ];
    },
    yearExperienceHeaders() {
      return [
        {
          text: this.$t("report-year-experience"),
          value: "Name",
          width: "50%",
          align: "center",
        },
        {
          text: this.$t("report-man"),
          value: "Name",
          width: "25%",
          align: "center",
        },
        {
          text: this.$t("report-woman"),
          value: "ContractType",
          width: "25%",
          align: "center",
          divider: true,
        },
      ];
    },
  },

  methods: {
    ...mapMutations({
      setAgeRangeItems: "report/SET_AGE_ITEMS",
      setYearsExperienceItems: "report/SET_YEAR_EXPERIENCE_ITEMS",
      setCriteria: "report/SET_CRITERIA_DASHBOARD",
    }),
    async getAgeRangeReport(criteria) {
      try {
        const result = await this.$store.dispatch("report/AGE_RANGE", criteria);
      } catch (e) {}
    },
    async getYearsExperienceReport(criteria) {
      try {
        const result = await this.$store.dispatch(
          "report/YEAR_EXPERIENCE",
          criteria
        );
      } catch (e) {}
    },
    async getTrainingNotification() {
      try {
        const result = await this.$store.dispatch(
          "trainingNotification/GET_TRAINING_NOTIFICATION"
        );
      } catch (e) {}
    }
  },
};
</script>
