<template>
  <v-container id="extended-tables" fluid tag="section">
    <base-material-card
      color="success"
      icon="mdi-account-multiple"
      inline
      :title="$t($router.currentRoute.meta.title)"
      class="px-5 py-3"
    >
      <v-row>
        <v-col cols="12" md="2" sm="4" align-self="center">
          <v-btn
            class="mx-0 font-weight-light"
            block
            color="success"
            style="padding: 0px"
            :to="{ path: 'employee/add' }"
          >
            <v-icon left>mdi-plus</v-icon>ADD
          </v-btn>
        </v-col>
        <v-col cols="12" md="9" offset-md="1">
          <search-bar />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="12">
          <table-list />
        </v-col>
      </v-row>
    </base-material-card>
  </v-container>
</template>

<script>
export default {
  name: "Employee",
  components: {
    SearchBar: () => import("./components/SearchBar"),
    TableList: () => import("./components/TableList"),
  },
};
</script>
