<template>
<v-row>
    <v-col cols="10" md="4">
        <v-autocomplete v-model="employee" :items="employeeItems" :loading="isEmployeeLoading" :search-input.sync="employeeSearch" return-object clearable hide-no-data item-text="FullName" item-value="Id" :label="$t('leave-employee-name')" />
    </v-col>
    <v-col cols="12" md="4" align-self="center" class="text-center">
        <v-btn color="primary" class="mx-0 font-weight-light" dark block @click="search" style="padding: 0px">

            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-search') }}
        </v-btn>
    </v-col>
    <v-col cols="12" md="4" align-self="center" class="text-center">
        <v-btn color="primary" class="mx-0 font-weight-light" dark block @click="advanceDialog = true" style="padding: 0px">

            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-advance-search') }}
        </v-btn>
    </v-col>
    <v-dialog v-model="advanceDialog" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">{{ $t('label-advance-search') }}</span>
            </v-card-title>
            <v-card-text>
                <v-form v-model="advanceSearchValid" ref="advanceSearchForm">
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-autocomplete v-model="employeeAV" :items="employeeAVItems" :loading="isEmployeeAVLoading" :search-input.sync="employeeAVSearch" clearable return-object hide-no-data item-text="FullName" item-value="Id" :label="$t('leave-employee-name')" />
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-select v-model="department" :items="departmentItems" :label="$t('label-employee-department')" item-text="Name" item-value="Id" />
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-autocomplete v-model="course" :items="courseItems" :loading="isCourseLoading" :search-input.sync="courseSearch" return-object clearable hide-no-data item-text="Name" item-value="Id" :label="$t('training-course-schedule-name')" />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <base-date-picker 
                                    :label="$t('report-due-date-from')"
                                    :dateChangeParent="dueDateFromChangeParent" 
                                    :date="dueDateFrom"
                                    :rules="dateRules" />
                                <!-- <v-text-field v-model="dueDateFrom" :label="$t('report-due-date-from')" v-mask="mask" placeholder="dd/mm/yyyy" clear-icon="mdi-close-circle" clearable :rules="dateRules" /> -->
                            </v-col>
                            <v-col cols="12" sm="6">
                                <base-date-picker 
                                    :label="$t('report-due-date-to')"
                                    :dateChangeParent="dueDateToChangeParent" 
                                    :date="dueDateTo"
                                    :rules="dateRules" />
                                <!-- <v-text-field v-model="dueDateTo" :label="$t('report-due-date-to')" v-mask="mask" placeholder="dd/mm/yyyy" clear-icon="mdi-close-circle" clearable :rules="dateRules" /> -->
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
                <!-- <small>*indicates required field</small> -->
            </v-card-text>
            <v-card-actions>
                <v-spacer />
                <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="clearCriteria">Clear</v-btn>
                <v-btn color="blue darken-1" text @click="searchAdvance" :loading="isLoading">{{ $t('label-search')}}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-row>
</template>

<script>
import {
    mapMutations,
    mapState
} from 'vuex'
import {
    mask
} from 'vue-the-mask'
import moment from 'moment'
import _ from "lodash"

export default {
    name: 'ReportSearchBar',

    directives: {
        mask
    },

    data: () => ({
        mask: '##/##/####',
        advanceSearchValid: false,
        advanceDialog: null,
        textSearch: null,
        code: null,
        name: null,
        contractsType: null,
        employedDateFrom: null,
        employedDateTo: null,
        contractsTypeItems: [],

        employee: null,
        isEmployeeLoading: false,
        employeeItems: [],
        employeeSearch: null,
        isEmployeeSearch: false,

        employeeAV: null,
        isEmployeeAVLoading: false,
        employeeAVItems: [],
        employeeAVSearch: null,

        course: null,
        isCourseLoading: false,
        courseItems: [],
        courseSearch: null,

        dueDateFrom: null,
        dueDateTo: null,

        department: null,
        departmentItems: [],

        position: null,
        positionItems: [],

        dateRules: [
            (v) => {
                if (v){
                        const errMsg =  'Date format is invalids';
                        let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                        var d = new Date();
                        var year = d.getFullYear();
                        var month = d.getMonth();
                        var day = d.getDate();

                        if(!/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                            return errMsg;
                        else if(inputDate > new Date(year + 100, month, day))
                            return errMsg
                        else return true;
                    }
                else return true;
            },
        ],
    }),

    async mounted() {
        this.setItems([])
        this.setTotalPages(0)
        let criteria = {
            Criteria: {
                DateFrom: null,
                DateTo: null,
                Status: null,
                EmployeeId: null,
                DepartmentId: null,
                CourseId: null

            },
            SortingCriteria: [],
            PagingCriteria: {
                PageIndex: 0,
                PageSize: 10
            }
        }

        this.setCriteria(criteria)
        await this.getReport(criteria)
        await this.findContractsType()
        await this.findDepartment()
        await this.findPosition()
    },

    created() {
        this.employeeDebounce = _.debounce(this.findEmployee, 500);
        this.employeeAVDebounce = _.debounce(this.findEmployeeAV, 500);
        this.courseDebounce = _.debounce(this.findCourse, 500)
    },

    computed: {
        ...mapState(
            'report',
            ['isLoading']
        )
    },

    watch: {
        employee(value) {
            this.employee = typeof value !== "undefined" ? value : null
        },
        employee(value) {
            this.employeeAV = typeof value !== "undefined" ? value : null
        },
        course(value) {
            this.course = typeof value !== "undefined" ? value : null
        },
        employeeSearch(value) {
            if (this.employee && (value === this.employee.FullName)) {
                return
            }
            this.isEmployeeLoading = true;
            this.employeeDebounce(value);
        },
        employeeAVSearch(value) {
            if (this.employeeAV && (value === this.employeeAV.FullName)) {
                return
            }
            this.isEmployeeAVLoading = true;
            this.employeeAVDebounce(value);
        },
        courseSearch(value) {
            if (this.course && (value === this.course.Name)) {
                return
            }
            this.isCourseLoading = true
            this.courseDebounce(value)
        }
    },

    methods: {
        ...mapMutations({
            setTotalPages: "report/SET_TOTAL_PAGES"
        }),
        async findCourse(value) {
            if (value === null || value === '') {
                this.isCourseLoading = false
                this.courseItems = []
                return
            }
            try {
                this.isCourseLoading = true
                this.courseItems = await this.$store.dispatch('trainingCourse/FIND', {
                    Criteria: {
                        AutoCompleteText: value
                    }
                })
                this.isCourseLoading = false
            } catch (e) {
                this.isCourseLoading = false
            }
        },
        async findEmployee(value) {
            if (value === null || value === "") {
                this.isEmployeeLoading = false;
                this.employeeItems = [];
                return;
            }

            try {
                const text = value.split("-");
                this.isEmployeeLoading = true;
                this.employeeItems = await this.$store.dispatch("employee/FIND", {
                    Criteria: {
                        AutoCompleteText: text[0]
                    }
                });
                this.isEmployeeLoading = false;
            } catch (e) {
                this.isEmployeeLoading = false;
            }
        },
        async findEmployeeAV(value) {
            if (value === null || value === "") {
                this.isEmployeeAVLoading = false;
                this.employeeAVItems = [];
                return;
            }

            try {
                const text = value.split("-");
                this.isEmployeeAVLoading = true;
                this.employeeAVItems = await this.$store.dispatch("employee/FIND", {
                    Criteria: {
                        AutoCompleteText: text[0]
                    }
                });
                this.isEmployeeAVLoading = false;
            } catch (e) {
                this.isEmployeeAVLoading = false;
            }
        },
        async search() {
            this.setItems([])
            this.setTotalPages(0)
            let criteria = {
                Criteria: {
                    DateFrom: null,
                    DateTo: null,
                    Status: null,
                    EmployeeId: this.employee ? this.employee.Id : null,
                    DepartmentId: null,
                    CourseId: null

                },
                SortingCriteria: [],
                PagingCriteria: {
                    PageIndex: 0,
                    PageSize: 10
                }
            }

            this.setCriteria(criteria)
            await this.getReport(criteria)
        },
        async searchAdvance() {
            if (this.$refs.advanceSearchForm.validate()) {
                let criteria = {
                    Criteria: {
                        DateFrom: this.dueDateFrom,
                        DateTo: this.dueDateTo,
                        Status: null,
                        EmployeeId: this.employeeAV ? this.employeeAV.Id : null,
                        DepartmentId: this.department,
                        CourseId: this.course ? this.course.Id : null
                    },
                    SortingCriteria: [],
                    PagingCriteria: {
                        PageIndex: 0,
                        PageSize: 10
                    }
                }
                console.log("sdsdv", criteria)
                this.setCriteria(criteria)
                await this.getReport(criteria)
                this.advanceDialog = false
            }
        },
        async getReport(criteria) {
            try {
                const result = await this.$store.dispatch('report/TRAINING_HISTORY', criteria)
            } catch (e) {

            }
        },
        ...mapMutations({
            setItems: 'report/SET_TRAINING_HISTORY_ITEMS',
            setCriteria: 'report/SET_CRITERIA'
        }),
        async findContractsType(value) {
            if (this.contractsTypeItems.length > 0) return
            this.contractsTypeItems = [{
                Id: null,
                Name: 'Choose'
            }]
            const items = await this.$store.dispatch('masterData/FIND_CONTRACTS_TYPE', {
                Criteria: {
                    AutoCompleteText: null
                }
            })
            this.contractsTypeItems = [...this.contractsTypeItems, ...items]
        },
        dueDateFromChangeParent(value) {
            this.dueDateFrom = value
        },
        dueDateToChangeParent(value) {
            this.dueDateTo = value
        },
        async findDepartment(value) {
            if (this.departmentItems.length > 0) return
            this.departmentItems = [{
                Id: null,
                Name: 'Choose'
            }]
            const items = await this.$store.dispatch('masterData/FIND_DEPARTMENT', {
                Criteria: {
                    AutoCompleteText: null
                }
            })
            this.departmentItems = [...this.departmentItems, ...items]
        },
        async findPosition(value) {
            if (this.positionItems.length > 0) return
            this.positionItems = [{
                Id: null,
                Name: 'Choose'
            }]
            const items = await this.$store.dispatch('masterData/FIND_POSITION', {
                Criteria: {
                    AutoCompleteText: null
                }
            })
            this.positionItems = [...this.positionItems, ...items]
        },
        clearCriteria() {
            this.course = null
            this.courseSearch = null
            this.employeeAV = null
            this.dueDateFrom = null
            this.dueDateTo = null
            this.department = null
        },
        validateDateAndReturnDate(value) {
            if (moment(value, 'DD/MM/YYYY').format('DD/MM/YYYY') === value) return moment(value, 'DD/MM/YYYY').format('YYYY/MM/DD')
            else return null
        }
    }
}
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 0px 30px !important;
}
</style>
