<template>
<div style="overflow: auto;">
    <v-data-table :headers="headers" :items="trainingHistoryItems" hide-default-footer style="width: 1024;min-height: 400px;" :loading="isLoading">
        <template v-slot:item="{ item }">
            <tr>
                <td v-text="'[' + item.EmployeeCode + '] ' + item.Employee" />
                <td v-text="item.Position" />
                <td v-text="convertJSONDateOnlyToString(item.StartWorkDate)" />
                <td v-text="item.Leader" />
                <td v-text="item.Foreman" />
                <td v-text="convertJSONDateOnlyToString(item.DueDate)" />
                <td v-text="item.CourseName" />
                <td>
                    <v-btn dark icon min-width="0" @click="
                infoDialog = true;
                getInfo(item);
              ">
                        <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                    </v-btn>
                </td>
            </tr>
        </template>
    </v-data-table>

    <v-pagination v-model="page" :length="totalPages" circle />

    <v-dialog v-model="infoDialog" hide-overlay persistent width="800">
        <v-card>
            <v-card-title>
                <span class="headline">{{ infoDialogTitle }}</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <h4>{{ courseTitle }}</h4>
                    <v-data-table :headers="infoHeaders" :items="trainingHistoryInfoItems" hide-default-footer style="width: 1024;min-height: 400px;" :loading="isInfoLoading">
                        <template v-slot:item="{ item }">
                            <tr>
                                <td v-text="convertJSONDateOnlyToString(item.DueDate)" />
                                <td v-text="convertJSONDateOnlyToString(item.TrainingDate)" />
                                <td v-text="item.TrainingHours" />
                                <td v-text="item.HoursRequired" />
                                <td v-text="item.StatusText" />
                            </tr>
                        </template>
                    </v-data-table>
                </v-container>
                <!-- <small>*indicates required field</small> -->
            </v-card-text>
            <v-card-actions>
                <v-spacer />
                <v-btn color="blue darken-1" text @click="infoDialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
</template>

<script>
import {
    mapMutations,
    mapState
} from "vuex";
import dayjs from "dayjs";

export default {
    name: "ReportTableList",

    data: () => ({
        infoDialog: false,
        isInfoLoading: false,
        infoDialogTitle: null,
        courseTitle: null
    }),
    mounted() {
        // this.getList(0)
    },

    computed: {
        // page : {

        // },
        ...mapState("report", [
            "trainingHistoryItems",
            "trainingHistoryInfoItems",
            "totalPages",
            "isLoading"
        ]),
        page: {
            get() {
                return this.$store.state.report.criteria.PagingCriteria.PageIndex + 1;
            },
            set(value) {
                let criteria = this.$store.state.report.criteria;
                criteria.PagingCriteria.PageIndex = value - 1;
                this.setCriteria(criteria);
            }
        },

        headers() {
            return [{
                    text: this.$t("report-training-history-employee"),
                    value: "EmployeeCode",
                    width: "18%"
                },
                {
                    text: this.$t("report-training-history-position"),
                    value: "PositionName",
                    width: "13%"
                },
                {
                    text: this.$t("report-training-history-start-date"),
                    value: "StartWorkDate",
                    width: "12%"
                },
                {
                    text: this.$t("report-training-history-leader"),
                    value: "Leader",
                    width: "10%"
                },
                {
                    text: this.$t("report-training-history-foreman"),
                    value: "Foreman",
                    width: "10%"
                },
                {
                    text: this.$t("report-training-history-due-date"),
                    value: "DueDate",
                    width: "12%"
                },
                {
                    text: this.$t("report-training-history-course"),
                    value: "CourseName",
                    width: "20%"
                },
                {
                    sortable: false,
                    text: "#",
                    width: "5%",
                    value: "action"
                }
            ];
        },
        infoHeaders() {
            return [{
                    text: this.$t("report-training-history-due-date"),
                    value: "DueDate",
                    width: "5%",
                    style: "text-align: center;font-weight: bold;"
                },
                {
                    text: this.$t("report-training-history-trained-date"),
                    value: "TrainingDate",
                    width: "5%",
                    style: "text-align: center;font-weight: bold;"
                },
                {
                    text: this.$t("report-training-history-hour"),
                    value: "TrainingHours",
                    width: "5%",
                    style: "text-align: center;font-weight: bold;"
                },
                {
                    text: this.$t("report-training-history-required"),
                    value: "HoursRequired",
                    width: "5%",
                    style: "text-align: center;font-weight: bold;"
                },
                {
                    text: this.$t("report-training-history-status"),
                    value: "StatusText",
                    width: "5%",
                    style: "text-align: center;font-weight: bold;"
                }
            ];
        }
    },

    watch: {
        async page(value) {
            let criteria = this.$store.state.report.criteria;
            criteria.PagingCriteria.PageIndex = value - 1;
            this.setCriteria(criteria);
            await this.getReport(criteria);
        }
    },

    methods: {
        ...mapMutations({
            setCriteria: "report/SET_CRITERIA"
        }),
        convertJSONDateOnlyToString(value) {
            return value !== null ? dayjs(value).format("DD/MM/YYYY") : "-";
        },
        async getReport(criteria) {
            try {
                const result = await this.$store.dispatch(
                    "report/TRAINING_HISTORY",
                    criteria
                );
                console.log("result", result);
            } catch (e) {}
        },
        async getInfo(item) {
            const payload = {
                employeeId: item.EmployeeId,
                courseId: item.CourseId
            };

            try {
                this.isInfoLoading = true;
                this.courseTitle = item.CourseName;
                this.infoDialogTitle = item.Employee;
                const result = await this.$store.dispatch(
                    "report/TRAINING_HISTORY_INFO",
                    payload
                );
                this.isInfoLoading = false;
            } catch (e) {}
        }
    }
};
</script>
