<template>
    <div>
        <base-material-card icon="mdi-account-multiple">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    {{ $t($router.currentRoute.meta.title) }}
                    <span class="body-1">— {{ $t($router.currentRoute.meta.subtitle) }} </span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" md="6" v-if="documentNo" >
                            <v-text-field :label="$t('training-course-document-number')" v-model="documentNo" disabled  />
                        </v-col>
                        <v-col cols="12" md="6" v-if="documentNo && $vuetify.breakpoint.mdAndUp" />
                        <v-col cols="12" md="3" >
                            <v-text-field :label="$t('training-course-name')" v-model="courseName" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-select 
                                v-model="trainingType" 
                                :items="trainingTypeItems" 
                                :label="$t('training-course-type')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="6" v-if="$vuetify.breakpoint.mdAndUp" />
                        <v-col cols="12" md="3" >
                            <v-text-field
                                v-model="dateStart"
                                :label="$t('training-course-date-start')"
                                v-mask="dateMask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" />
                        </v-col>
                        <v-col cols="12" md="3">
                            <v-text-field 
                                :label="$t('training-course-time-start')" 
                                v-model="startTime" 
                                v-mask="timeMask" 
                                placeholder="hh:mm" 
                                :rules="timeRules" />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-text-field
                                v-model="dateEnd"
                                :label="$t('training-course-date-end')"
                                v-mask="dateMask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" />
                        </v-col>
                        <v-col cols="12" md="3">
                            <v-text-field 
                                :label="$t('training-course-time-end')" 
                                v-model="endTime" 
                                v-mask="timeMask" 
                                placeholder="hh:mm" 
                                :rules="timeRules" />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-text-field 
                                :label="$t('training-course-period-value')" 
                                v-model="periodValue"
                                @paste="onPaste"
                                maxLength="2" 
                                v-on:keypress="isNumber($event)"
                                :rules="fieldRules"  />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-select 
                                v-model="periodType" 
                                :items="periodTypeItems" 
                                :label="$t('training-course-period-type')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-text-field :label="$t('training-course-location')" v-model="location" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-text-field :label="$t('training-course-lecturer')" v-model="lecturer" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-select 
                                v-model="status" 
                                :items="statusItems" 
                                :label="$t('training-course-status')" 
                                item-text="Name"
                                item-value="Value"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                {{ $t($router.currentRoute.meta.subtitle) }}
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-text-field :label="$t('label-employee-code')" v-model="employeeCode" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-text-field :label="$t('label-employee-full-name')" v-model="employeeName" />
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-select 
                                v-model="contractsType" 
                                :items="contractsTypeItems" 
                                item-text="Name"
                                item-value="Id"
                                :label="$t('label-employee-contract')"  />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="department" 
                                :items="departmentItems" 
                                :label="$t('label-employee-department')" 
                                item-text="Name"
                                item-value="Id" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="position" 
                                :items="positionItems" 
                                :label="$t('label-employee-position')" 
                                item-text="Name"
                                item-value="Id" />
                        </v-col>
                        <v-col cols="12" md="4" align-self="center" >
                            <v-btn color="success" class="mr-1" @click="searchEmployee" :loading="loading" :disabled="loading" >
                                {{ $t('search') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-btn color="success" class="mr-1" @click="addAttendee" :loading="loading" :disabled="loading">
                                {{ $t('add') }}
                            </v-btn>
                            <v-data-table
                                :headers="headersEmployee"
                                :items="employeeItems"
                                v-model="employeeItemsSelected"
                                item-key="Id"
                                hide-default-footer
                                show-select
                                :items-per-page="-1" >

                                <template v-slot:item="{ item, select, isSelected }">
                                    <tr>
                                        <td style="width: 10%;">
                                            <v-checkbox
                                                :value="isSelected" @change="select($event)"
                                                color="gray" />
                                        </td>
                                        <td v-text="item.Department" />
                                        <td v-text="item.Position" />
                                        <td v-text="item.Name" />
                                    </tr>
                                </template>
                            </v-data-table>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-btn color="success" class="mr-1" @click="removeAttendee" :loading="loading" :disabled="loading">
                                {{ $t('remove') }}
                            </v-btn>
                            <v-data-table
                                :headers="headersEmployee"
                                :items="attendeeItems"
                                v-model="attendeeItemsSelected"
                                item-key="Id"
                                hide-default-footer
                                show-select
                                :items-per-page="100000" >

                                <template v-slot:item="{ item, select, isSelected }">
                                    <tr>
                                        <td style="width: 10%;">
                                            <v-checkbox
                                                :value="isSelected" @change="select($event)"
                                                color="gray" />
                                        </td>
                                        <td v-text="item.Department" />
                                        <td v-text="item.Position" />
                                        <td v-text="item.Name" />
                                    </tr>
                                </template>
                            </v-data-table>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
        </base-material-card>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    import moment from 'moment'
    import _ from 'lodash'
    import { mask } from 'vue-the-mask'

    export default {
        name: 'TrainingCourseForm',

        directives: {
            mask
        },

        data: () => ({
            valid: false,
            attendeeValid: false,
            dateMask: '##/##/####',
            timeMask: '##:##',
            
            //employee
            employeeCode: null,
            employeeName: null,
            contractsType: null,
            contractsTypeItems: [],
            department: null,
            departmentItems: [],
            position: null,
            positionItems: [],

            //training course
            id: null,
            documentNo: null,
            courseName: null,
            dateStart: null,
            startTime: null,
            dateEnd: null,
            endTime: null,
            trainingType: null,
            periodValue: null,
            periodType: null,
            location: null,
            lecturer: null,
            status: null,
            attendeeItems: [],
            attendeeItemsSelected: [],

            employeeItems: [],
            employeeItemsSelected: [],

            trainingTypeItems: [],
            periodTypeItems: [],
            statusItems: [
                { Name: 'Publish', Value: 1 },
                { Name: 'Unpublish', Value: 2 }
            ],

            fieldRules: [
                (v) => !!v || 'Field is required.'
            ],
            dateRules: [
                (v) => !!v || 'Field is required.',
                (v) => {
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                    return errMsg
                    else if(inputDate > new Date(year + 100, month, day)){
                    return errMsg
                    }
                    else return true
                }
            ],
            timeRules: [
                (v) => !!v || 'Field is required.',
                (v) => /^([01]\d|2[0-3]):?([0-5]\d)$/.test(v) || 'Time format is invalid'
            ],
            loading: false
        }),
       
        computed: {
            ...mapState(
                'leave', 
                [ 'isLoading' ]
            ),
            
            headersEmployee () {
                return  [
                    {
                        text: this.$t('label-employee-department'),
                        value: 'Department',
                        width: '30%'
                    },
                    {
                        text: this.$t('label-employee-position'),
                        value: 'Position',
                        width: '30%'
                    },
                    {
                        text: this.$t('label-employee-full-name'),
                        value: 'Employee',
                        width: '30%'
                    }
                ]
            },

            headers () {
                return  [
                    {
                        text: this.$t('label-employee-department'),
                        value: 'Department',
                        width: '25%'
                    },
                    {
                        text: this.$t('label-employee-position'),
                        value: 'Position',
                        width: '25%'
                    },
                    {
                        text: this.$t('label-employee-full-name'),
                        value: 'Employee',
                        width: '25%'
                    }
                ]
            }
        },

        async mounted () {
            await this.getAllTrainingCourseType()
            await this.getAllPeriodType()
            await this.getTrainingCourse()
            await this.findContractsType()
            await this.findDepartment()
            await this.findPosition()
        },

        watch: {
            attendeeItems () {
                const employeeItemsSelected = this.employeeItemsSelected.filter(select => this.attendeeItems.filter(item => item.Id === select.Id).length === 1)
                this.employeeItemsSelected = employeeItemsSelected
                this.attendeeItemsSelected = []
            },
            employeeItems () {
                
                this.employeeItemsSelected = []
                
                setTimeout(() => {
                    const employeeItemsSelected = this.employeeItems.filter(select => this.attendeeItems.filter(item => item.Id === select.Id).length === 1)
                    this.employeeItemsSelected = employeeItemsSelected
                }, 50)
                // console.log('xxx', this.employeeItemsSelected,)
                // console.log('rrr', this.employeeItems,)
            }
        },

        methods: {
            async getTrainingCourse () {
                if (this.$route.params.id) {
                    try {
                        this.loading = true
                        await this.$store.dispatch('trainingCourse/GET', this.$route.params.id)

                        const {
                            AssignItems,
                            Type,
                            BeginDate,
                            BeginTime,
                            FinishedDate,
                            FinishedTime,
                            PeriodValue,
                            PeriodType,
                            Place,
                            Lecturer,
                            IsPublish,
                            Id,
                            Code,
                            Name } = this.$store.state.trainingCourse.item
                        
                        this.attendeeItems = AssignItems
                        this.id = Id
                        this.documentNo = Code
                        this.courseName = Name
                        this.trainingType = Type
                        this.dateStart = this.convertJSONDateOnlyToString(BeginDate)
                        this.startTime = this.convertJSONTimeOnlyToString(BeginTime)
                        this.dateEnd = this.convertJSONDateOnlyToString(FinishedDate)
                        this.endTime = this.convertJSONTimeOnlyToString(FinishedTime)
                        this.periodValue = PeriodValue
                        this.periodType = PeriodType
                        this.location = Place
                        this.lecturer = Lecturer
                        this.status = IsPublish ? 1 : 2
                        
                        this.loading = false
                    } catch (error) {
                        
                        this.loading = false
                    }
                }
            },
            dateEmployedChangeParent(value) {
                this.dateEmployed = value
            },
            birthDateChangeParent(value) {
                this.birthDate = value
            },
            addAttendee () {
                const employeeItemsSelected = this.employeeItemsSelected.filter(select => this.attendeeItems.filter(item => select.Id === item.Id).length == 0)
                const employeeItemsNotSelected = this.employeeItems.filter(item => this.employeeItemsSelected.filter(select => select.Id === item.Id).length == 0)
                const attendeeItems = this.attendeeItems.filter(item => this.employeeItemsSelected.filter(select => select.Id === item.Id).length == 0)
                const result = this.attendeeItems.filter(item => employeeItemsNotSelected.filter(select => select.Id === item.Id).length == 0)
                this.attendeeItems = result.concat(employeeItemsSelected)
            },
            removeAttendee (index) {
                this.attendeeItems = this.attendeeItems.filter(item => this.attendeeItemsSelected.filter(selected => selected.Id === item.Id).length == 0)
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const attendeeItems = this.attendeeItems.map(item => ({ EmployeeId: item.Id }))
                    
                    const payload = {
                        AssignItems: attendeeItems,
                        Type: this.trainingType,
                        BeginDate: moment(this.dateStart, 'DD/MM/YYYY').format('YYYY/MM/DD'),
                        BeginTime: this.startTime,
                        FinishedDate: moment(this.dateEnd, 'DD/MM/YYYY').format('YYYY/MM/DD'),
                        FinishedTime: this.endTime,
                        PeriodValue: this.periodValue,
                        PeriodType: this.periodType,
                        Place: this.location,
                        Lecturer: this.lecturer,
                        IsPublish: this.status === 1 ? true : false,
                        Id: this.id,
                        Name: this.courseName
                    }

                    if (payload.Id === null) delete payload.Id

                    try {
                        this.loading = true
                        await this.$store.dispatch('trainingCourse/SAVE', payload)
                        this.loading = false
                        this.$router.push('/admin/training-course')
                    } catch (error) {
                        console.log('error', error)
                        this.loading = false
                    }
                }
            },
            async getAllTrainingCourseType () {
                this.trainingTypeItems = await this.$store.dispatch('masterData/GET_ALL_TRAINING_COURSE_TYPE', { Criteria: { AutoCompleteText: null } } )
            },
            async getAllPeriodType () {
                this.periodTypeItems = await this.$store.dispatch('masterData/GET_ALL_PERIOD_TYPE', { Criteria: { AutoCompleteText: null } } )
            },
            async findContractsType (value) {
                if (this.contractsTypeItems.length > 0) return
                this.contractsTypeItems = [ { Id: null, Name: 'เลือก' } ]
                const contractsTypeItems = await this.$store.dispatch('masterData/FIND_CONTRACTS_TYPE', { Criteria: { AutoCompleteText: null } } )
                this.contractsTypeItems = this.contractsTypeItems.concat(contractsTypeItems)
            },
            async findDepartment (value) {
                if (this.departmentItems.length > 0) return
                this.departmentItems = [ { Id: null, Name: 'เลือก' } ]
                const departmentItems = await this.$store.dispatch('masterData/FIND_DEPARTMENT', { Criteria: { AutoCompleteText: null } } )
                this.departmentItems = this.departmentItems.concat(departmentItems)
            },
            async findPosition (value) {
                if (this.positionItems.length > 0) return
                this.positionItems = [ { Id: null, Name: 'เลือก' } ]
                const positionItems = await this.$store.dispatch('masterData/FIND_POSITION', { Criteria: { AutoCompleteText: null } } )
                this.positionItems = this.positionItems.concat(positionItems)
            },
            async searchEmployee () {   
                // if (this.$refs.attendeeForm.validate()) {
                    
                    let criteria = {
                        Criteria: {
                            ContractTypeId: this.contractsType,
                            DepartmentId: this.department,
                            PositionId: this.position,
                            Code: this.employeeCode,
                            Name: this.employeeName,
                            DateFrom: this.employedDateFrom,
                            DateTo: this.employedDateTo,
                            AutoCompleteText: null
                        },
                        SortingCriteria: [],
                        PagingCriteria: { PageIndex: 0, PageSize: 1000 }
                    }

                    this.setCriteria(criteria)
                    await this.findEmployee(criteria)
                // }
            },
            async findEmployee (criteria) {
                try {
                    this.employeeItems = await this.$store.dispatch('employee/FIND', criteria)
                    console.log('employeeItems', this.employeeItems)
                } catch (e) {
                    
                }
            },
            onPaste (evt) {
                evt.preventDefault()
            },
            isNumber (evt) {
                evt = (evt) ? evt : window.event
                var charCode = (evt.which) ? evt.which : evt.keyCode
                
                if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                    evt.preventDefault()
                } else {
                    return true
                }
            },
            convertJSONDateOnlyToString (value) {
                return moment(value).format('DD/MM/YYYY')
            },
            convertJSONTimeOnlyToString (value) {
                return moment(value, 'YYYY/MM/DDTHH:mm').format('HH:mm')
            },
            ...mapMutations({
                setCriteria: 'employee/SET_CRITERIA',
            })
        }
    }
</script>

<style>
.v-image__image--cover {
    border-radius: 0px!important;
}
</style>