<template>
    <div>
        <base-material-card icon="mdi-account-multiple">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    {{ $t($router.currentRoute.meta.title) }}
                    <span class="body-1">— {{ $t($router.currentRoute.meta.subtitle) }} </span>
                </div>
            </template>

            <v-container class="py-0">
                <v-form v-model="valid" ref="form" @submit.prevent="submit">
                    <v-row>
                        <v-col cols="10" class="text-right" />
                        <v-col cols="2" >
                            <v-btn color="success" class="mr-1" type="submit" :loading="loading" :disabled="loading" block >
                                {{ $t('save') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="documentNo" >
                            <v-text-field :label="$t('training-course-document-number')" v-model="documentNo" disabled  />
                        </v-col>
                        <v-col cols="12" sm="6" md="8" v-if="documentNo && $vuetify.breakpoint.mdAndUp" />
                        <v-col cols="12" sm="6" md="4" >
                            <v-text-field :label="$t('training-course-name')" v-model="courseName" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <v-select 
                                v-model="trainingType" 
                                :items="trainingTypeItems" 
                                :label="$t('training-course-type')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <!-- <v-col cols="12" md="6" v-if="$vuetify.breakpoint.mdAndUp" /> -->
                        <!-- <v-col cols="12" md="3" >
                            <v-text-field
                                v-model="dateStart"
                                :label="$t('training-course-date-start')"
                                v-mask="dateMask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" />
                        </v-col>
                        <v-col cols="12" md="3">
                            <v-text-field 
                                :label="$t('training-course-time-start')" 
                                v-model="startTime" 
                                v-mask="timeMask" 
                                placeholder="hh:mm" 
                                :rules="timeRules" />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-text-field
                                v-model="dateEnd"
                                :label="$t('training-course-date-end')"
                                v-mask="dateMask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" />
                        </v-col>
                        <v-col cols="12" md="3">
                            <v-text-field 
                                :label="$t('training-course-time-end')" 
                                v-model="endTime" 
                                v-mask="timeMask" 
                                placeholder="hh:mm" 
                                :rules="timeRules" />
                        </v-col> -->
                        <v-col cols="12" sm="6" md="4" >
                            <v-text-field 
                                :label="$t('training-course-period-value')" 
                                v-model="periodValue"
                                @paste="onPaste"
                                maxLength="2" 
                                v-on:keypress="isNumber($event)"
                                :rules="fieldRules"  />
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <v-select 
                                v-model="periodType" 
                                :items="periodTypeItems" 
                                :label="$t('training-course-period-type')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <v-select 
                                v-model="courseGroup" 
                                :items="courseGroupItems" 
                                :label="$t('training-course-group')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" sm="6" md="4" >
                            <v-select 
                                v-model="courseRole" 
                                :items="courseRoleItems" 
                                label="Training course role" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        
                        <v-col cols="12" sm="6" md="4" >
                            <v-text-field 
                                :label="$t('training-course-duration')" 
                                v-model="duration"
                                @paste="onPaste"
                                v-on:keypress="isNumber($event)"
                                :rules="fieldRules"  />
                        </v-col>
                        <!-- <v-col cols="12" md="3" >
                            <v-text-field :label="$t('training-course-location')" v-model="location" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="3" >
                            <v-text-field :label="$t('training-course-lecturer')" v-model="lecturer" :rules="fieldRules" />
                        </v-col> -->
                        <v-col cols="12" sm="6" md="4" >
                            <v-select 
                                v-model="status" 
                                :items="statusItems" 
                                :label="$t('training-course-status')" 
                                item-text="Name"
                                item-value="Value"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="3">
                            <v-checkbox
                                v-model="ignoreNotification"
                                label="Ignore notification" />
                        </v-col>
                    </v-row>

                </v-form>
                <v-divider />
                <v-row>
                    <v-col cols="12" >
                        <div class="font-weight-light card-title mt-2">
                            {{ $t('training-course-add-attendee') }}
                        </div>
                    </v-col>
                    <v-col cols="12" md="3" >
                        <v-select 
                            v-model="department" 
                            :items="departmentItems" 
                            :label="$t('label-employee-department')" 
                            item-text="Name"
                            item-value="Id" />
                    </v-col>
                    <v-col cols="12" md="3" >
                        <v-select 
                            v-model="position" 
                            :items="positionItems" 
                            :label="$t('label-employee-position')" 
                            item-text="Name"
                            item-value="Id" />
                    </v-col>
                    <v-col cols="12" md="3" >
                        <v-autocomplete
                            v-model="employee"
                            :items="employeeItems"
                            :loading="isEmployeeLoading"
                            :search-input.sync="employeeSearch"
                            clearable
                            hide-no-data
                            item-text="FullName"
                            item-value="Id"
                            :label="$t('employee')" />
                    </v-col>
                    <v-col cols="12" offset-md="1" md="2" align-self="center" >
                        <v-btn color="success" class="mr-1" @click="addAttendee" :loading="loading" :disabled="loading" block >
                            {{ $t('add') }}
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="12">
                        <v-data-table
                            :headers="headers"
                            :items="attendeeItems"
                            :items-per-page="-1"
                            item-key="Id" >

                            <template v-slot:item="{ item, index }">
                                <tr>
                                    <td v-text="item.Department" />
                                    <td v-text="item.Position" />
                                    <td v-text="item.Employee" />
                                    <td>
                                        <v-btn dark icon min-width="0" @click="removeAttendee(index)" >
                                            <v-icon color="red" v-text="'mdi-delete'" size="25" />
                                        </v-btn>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-container>
            <v-dialog v-model="loading" hide-overlay persistent width="300" >
                <v-card color="primary" dark >
                    <v-card-text>
                        <div style="color: #FFFFFF;"> {{ $t('loading') }} </div>
                        <v-progress-linear indeterminate color="white" class="mb-0" />
                    </v-card-text>
                </v-card>
            </v-dialog>
        </base-material-card>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import moment from 'moment'
    import _ from 'lodash'
    import { mask } from 'vue-the-mask'

    export default {
        name: 'TrainingCourseForm',

        directives: {
            mask
        },

        data: () => ({
            valid: false,
            attendeeValid: false,
            dateMask: '##/##/####',
            timeMask: '##:##',
            
            //employee
            employee: null,
            isEmployeeLoading: false,
            employeeItems: [],
            employeeSearch: null,
            department: null,
            departmentItems: [],
            position: null,
            positionItems: [],

            //training course
            id: null,
            documentNo: null,
            courseName: null,
            dateStart: null,
            startTime: null,
            dateEnd: null,
            endTime: null,
            trainingType: null,
            periodValue: null,
            periodType: null,
            location: null,
            lecturer: null,
            status: null,
            attendeeItems: [],
            courseGroup: null,
            courseRole: null,
            duration: null,
            ignoreNotification: false,

            trainingTypeItems: [],
            periodTypeItems: [],
            courseGroupItems: [],
            courseRoleItems: [],
            statusItems: [
                { Name: 'Publish', Value: 1 },
                { Name: 'Unpublish', Value: 2 }
            ],

            fieldRules: [
                (v) => !!v || 'Field is required.'
            ],
            dateRules: [
                (v) => !!v || 'Field is required.',
                (v) => {
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                    return errMsg
                    else if(inputDate > new Date(year + 100, month, day)){
                    return errMsg
                    }
                    else return true
                }
            ],
            timeRules: [
                (v) => !!v || 'Field is required.',
                (v) => /^([01]\d|2[0-3]):?([0-5]\d)$/.test(v) || 'Time format is invalid'
            ],
            loading: false,
            isEmployeeLoading: false
        }),

        created () {
            this.employeeDebounce = _.debounce(this.findEmployee, 500)
            
        },

        watch: {
            employeeSearch (value) {
                this.isEmployeeLoading = true
                this.employeeDebounce(value)
            },
            department (value) {
                this.findPosition(value)
                this.position = null
                this.employee = null
            },
            position (value) {
                this.employee = null
            }
        },

        computed: {
            ...mapState(
                'leave', 
                [ 'isLoading' ]
            ),
            
            headers () {
                return  [
                    {
                        text: this.$t('label-employee-department'),
                        value: 'Department',
                        width: '25%'
                    },
                    {
                        text: this.$t('label-employee-position'),
                        value: 'Position',
                        width: '25%'
                    },
                    {
                        text: this.$t('employee'),
                        value: 'Employee',
                        width: '25%'
                    },
                    {
                        sortable: false,
                        text: '#',
                        width: '25%',
                        value: 'action'
                    }
                ]
            }
        },

        async mounted () {
            this.loading = true
            await this.getAllTrainingCourseType()
            await this.getAllPeriodType()
            await this.findDepartment()
            await this.findPosition()
            await this.getTrainingCourse()
            await this.findCourseGroup()
            await this.findCourseRole()
            this.loading = false
        },

        methods: {
            async getTrainingCourse () {
                if (this.$route.params.id) {
                    try {
                        this.loading = true
                        await this.$store.dispatch('trainingCourse/GET', this.$route.params.id)

                        const {
                            AssignItems,
                            Type,
                            BeginDate,
                            BeginTime,
                            FinishedDate,
                            FinishedTime,
                            PeriodValue,
                            PeriodType,
                            Place,
                            Lecturer,
                            IsPublish,
                            Id,
                            Code,
                            Name,
                            TrainingHoursRequired,
                            CourseGroupId,
                            CourseRoleId,
                            IgnoreNotification
                        } = this.$store.state.trainingCourse.item
                        console.log('cxx', this.$store.state.trainingCourse.item)
                        this.attendeeItems = AssignItems
                        this.id = Id
                        this.documentNo = Code
                        this.courseName = Name
                        this.trainingType = Type
                        // this.dateStart = this.convertJSONDateOnlyToString(BeginDate)
                        // this.startTime = this.convertJSONTimeOnlyToString(BeginTime)
                        // this.dateEnd = this.convertJSONDateOnlyToString(FinishedDate)
                        // this.endTime = this.convertJSONTimeOnlyToString(FinishedTime)
                        this.duration = TrainingHoursRequired
                        this.courseGroup = CourseGroupId
                        this.courseRole = CourseRoleId
                        this.periodValue = PeriodValue
                        this.periodType = PeriodType
                        // this.location = Place
                        // this.lecturer = Lecturer
                        this.status = IsPublish ? 1 : 2
                        this.ignoreNotification = IgnoreNotification
                        
                        this.loading = false
                    } catch (error) {
                        
                        this.loading = false
                    }
                }
            },
            dateEmployedChangeParent(value) {
                this.dateEmployed = value
            },
            birthDateChangeParent(value) {
                this.birthDate = value
            },
            addAttendee () {

                if (this.department !== null || this.position !== null || this.employee !== null) {
                    const departmentName = this.department ? this.departmentItems.filter(item => item.Id === this.department)[0].Name : null
                    const positionName = this.position ? this.positionItems.filter(item => item.Id === this.position)[0].Name : null
                    const employeeName = this.employee ? this.employeeItems.filter(item => item.Id === this.employee)[0].Name : null

                    const addAttendee = {
                        Department: departmentName,
                        DepartmentId: this.department,
                        Employee: employeeName,
                        EmployeeId: this.employee,
                        Id: null,
                        Position: positionName,
                        PositionId: this.position,
                    }

                    this.attendeeItems.push(addAttendee)
                }

                this.department = null
                this.position = null
                this.employee = null
            },
            removeAttendee (index) {
                this.attendeeItems.splice(index, 1)
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    
                    const payload = {
                        AssignItems: this.attendeeItems,
                        Type: this.trainingType,
                        // BeginDate: moment(this.dateStart, 'DD/MM/YYYY').format('YYYY/MM/DD'),
                        // BeginTime: this.startTime,
                        // FinishedDate: moment(this.dateEnd, 'DD/MM/YYYY').format('YYYY/MM/DD'),
                        // FinishedTime: this.endTime,
                        PeriodValue: this.periodValue,
                        PeriodType: this.periodType,
                        // Place: this.location,
                        // Lecturer: this.lecturer,
                        TrainingHoursRequired: this.duration,
                        CourseGroupId: this.courseGroup,
                        CourseRoleId: this.courseRole,
                        IsPublish: this.status === 1 ? true : false,
                        Id: this.id,
                        Name: this.courseName,
                        IgnoreNotification: this.ignoreNotification
                    }

                    if (payload.Id === null) delete payload.Id

                    try {
                        this.loading = true
                        await this.$store.dispatch('trainingCourse/SAVE', payload)
                        this.loading = false
                        this.$router.push('/admin/training-course')
                    } catch (error) {
                        console.log('error', error)
                        this.loading = false
                    }
                }
            },
            async getAllTrainingCourseType () {
                this.trainingTypeItems = await this.$store.dispatch('masterData/GET_ALL_TRAINING_COURSE_TYPE', { Criteria: { AutoCompleteText: null } } )
            },
            async getAllPeriodType () {
                this.periodTypeItems = await this.$store.dispatch('masterData/GET_ALL_PERIOD_TYPE', { Criteria: { AutoCompleteText: null } } )
            },
            async findDepartment (value) {
                if (this.departmentItems.length > 0) return
                this.departmentItems = [ { Id: null, Name: this.$t('choose') } ]
                const departmentItems = await this.$store.dispatch('masterData/FIND_DEPARTMENT', { Criteria: { AutoCompleteText: null } } )
                this.departmentItems = this.departmentItems.concat(departmentItems)
            },
            async findPosition (value) {
                // if (this.positionItems.length > 0) return
                this.positionItems = [ { Id: null, Name: this.$t('choose') } ]
                const positionItems = await this.$store.dispatch('masterData/FIND_POSITION', { Criteria: { DepartmentId: this.department } } )
                this.positionItems = this.positionItems.concat(positionItems)
            },
            async findEmployee (value) {
                if (value === null || value === '') {
                     this.isEmployeeLoading = false
                     this.employeeItems = []
                     return
                }

                try {
                    this.isEmployeeLoading = true
                    this.employeeItems = await this.$store.dispatch('employee/FIND', { Criteria: { DepartmentId: this.department, PositionId: this.position, AutoCompleteText: value } } )
                    this.isEmployeeLoading = false
                } catch (e) {
                    this.isEmployeeLoading = false
                }
            },
            async findCourseGroup (value) {
                // if (this.positionItems.length > 0) return
                this.courseGroupItems = [ { Id: null, Name: this.$t('choose') } ]
                const courseGroupItems = await this.$store.dispatch('masterData/FIND_COURSE_GROUP', { Criteria: { AutoCompleteText: null } } )
                this.courseGroupItems = this.courseGroupItems.concat(courseGroupItems)
            },
            async findCourseRole (value) {
                // if (this.positionItems.length > 0) return
                this.courseRoleItems = [ { Id: null, Name: this.$t('choose') } ]
                const courseRoleItems = await this.$store.dispatch('masterData/FIND_COURSE_ROLE', { Criteria: { AutoCompleteText: null } } )
                this.courseRoleItems = this.courseRoleItems.concat(courseRoleItems)
            },
            onPaste (evt) {
                evt.preventDefault()
            },
            isNumber (evt) {
                evt = (evt) ? evt : window.event
                var charCode = (evt.which) ? evt.which : evt.keyCode
                if ((charCode > 31 && (charCode < 48 || charCode > 57) && charCode !== 46)) {
                    evt.preventDefault()
                } else {
                    return true
                }
            },
            convertJSONDateOnlyToString (value) {
                return moment(value).format('DD/MM/YYYY')
            },
            convertJSONTimeOnlyToString (value) {
                return moment(value, 'YYYY/MM/DDTHH:mm').format('HH:mm')
            },
            ...mapMutations({
                setCriteria: 'employee/SET_CRITERIA',
            })
        }
    }
</script>

<style>
.v-image__image--cover {
    border-radius: 0px!important;
}
</style>