<template>
  <div>
    <v-form @submit.prevent="search" >
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            :label="$t('label-search')"
            v-model="textSearch"
            clear-icon="mdi-close-circle"
            clearable
          />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            type="submit"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-search') }}
          </v-btn>
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            @click="advanceDialog = true"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-advance-search') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="advanceDialog" persistent max-width="600px">
      <v-form v-model="advanceSearchValid" ref="advanceSearchForm" @submit.prevent="searchAdvance">
        <v-card>
          <v-card-title>
            <span class="headline">{{ $t('label-advance-search') }}</span>
          </v-card-title>
          <v-card-text>
            
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6">
                    <v-text-field
                      :label="$t('training-course-document-number')"
                      v-model="code"
                      clear-icon="mdi-close-circle"
                      clearable
                    />
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field
                      :label="$t('training-course-name')"
                      v-model="courseName"
                      clear-icon="mdi-close-circle"
                      clearable
                    />
                  </v-col>
                  <v-col cols="12">
                    <v-select
                      v-model="courseGroup"
                      :items="courseGroupItems"
                      :label="$t('training-course-group')"
                      item-text="Name"
                      item-value="Id"
                      clear-icon="mdi-close-circle"
                      clearable
                    />
                  </v-col>
                </v-row>
              </v-container>
            <!-- <small>*indicates required field</small> -->
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click="clearCriteria">Clear</v-btn>
            <v-btn
              color="blue darken-1"
              text
              type="submit"
              :loading="isLoading"
            >{{ $t('label-search')}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  name: "TrainingCourseSearchBar",

  data: () => ({
    advanceSearchValid: false,
    advanceDialog: null,
    textSearch: null,
    code: null,
    courseName: null,
    dateFrom: null,
    dateTo: null,
    status: null,
    courseGroupItems: [],
    courseGroup: null
  }),

  mounted() {
    console.log('items', this.items)
    this.findCourseGroup()
    if (this.items.length === 0) {
      let criteria = {
        Criteria: {
          Code: null,
          Name: null,
          Id: null,
          DateFrom: null,
          DateTo: null,
          AutoCompleteText: this.textSearch
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      }

      this.setCriteria(criteria)
      this.findTrainCourse(criteria)
    } else {
      this.code = this.criteria.Criteria.Code
      this.courseName = this.criteria.Criteria.Name
      this.courseGroup = this.criteria.Criteria.CourseGroupId
      this.textSearch = this.criteria.Criteria.AutoCompleteText

      if (this.$route.params.breadcrumb === true) this.findTrainCourse(this.criteria)
    }
  },

  computed: {
    ...mapState("trainingCourse", ["isLoading", "items", "criteria"])
  },

  methods: {
    async search() {
      let criteria = {
        Criteria: {
          Code: null,
          Name: null,
          CourseGroupId: null,
          AutoCompleteText: this.textSearch
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };

      this.setCriteria(criteria);

      await this.findTrainCourse(criteria);
    },
    async searchAdvance() {
      if (this.$refs.advanceSearchForm.validate()) {
        let criteria = {
          Criteria: {
            Code: this.code,
            Name: this.courseName,
            CourseGroupId: this.courseGroup,
            AutoCompleteText: null
          },
          SortingCriteria: [],
          PagingCriteria: { PageIndex: 0, PageSize: 10 }
        };

        this.setCriteria(criteria);
        await this.findTrainCourse(criteria);
        this.advanceDialog = false;
      }
    },
    async findTrainCourse(criteria) {
      try {
        const result = await this.$store.dispatch(
          "trainingCourse/FIND",
          criteria
        );
      } catch (e) {}
    },
    ...mapMutations({
      setCriteria: "trainingCourse/SET_CRITERIA"
    }),
    dateFromChangeParent(value) {
      if (value) this.dateFrom = value;
    },
    dateToChangeParent(value) {
      if (value) this.dateTo = value;
    },
    async findCourseGroup() {
      const courseGroupItems = await this.$store.dispatch(
        "masterData/FIND_COURSE_GROUP",
        { Criteria: { AutoCompleteText: null } }
      );
      this.courseGroupItems = this.courseGroupItems.concat(courseGroupItems);
    },
    clearCriteria() {
      this.code = null
      this.courseName = null
      this.courseGroup = null
    }
  }
};
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 0px 30px !important;
}
</style>