<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading"
            :custom-sort="customSort" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.Code" />
                    <td v-text="item.Name" />
                    <td v-text="item.TypeDisplay" />
                    <!-- <td v-text="item.Place" />
                    <td v-text="convertJSONDateOnlyToString(item.BeginDate)" />
                    <td v-text="convertJSONTimeOnlyToString(item.BeginTime)" />
                    <td v-text="convertJSONDateOnlyToString(item.FinishedDate)" />
                    <td v-text="convertJSONTimeOnlyToString(item.FinishedTime)" /> -->
                    <td v-text="item.IsPublish === true ? 'Publish' : 'Unpublish'" />
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'admin-training-course-edit', params: { id: item.Id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                        <v-btn dark icon min-width="0" @click="remove(item.Id)" >
                            <v-icon color="red" v-text="'mdi-delete'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalPages"
            circle />
            
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import moment from 'moment'
    
    export default {
        name: 'TrainingCourseTableList',

        data: () => ({
            // page: 1,
            search: undefined,
            sort: {},
            oldSort: {}
        }),

        mounted() {
            
        },

        computed: {
            // page : {
                
            // },
            ...mapState(
                'trainingCourse', 
                [ 
                    'items',
                    'totalPages',
                    'isLoading' 
                ]
            ),
            page : {
                get () {
                    return this.$store.state.trainingCourse.criteria.PagingCriteria.PageIndex + 1
                },
                set (value) {
                    let criteria = this.$store.state.trainingCourse.criteria
                    criteria.PagingCriteria.PageIndex = value - 1
                    this.setCriteria(criteria)
                }
            },

            headers () {
                return  [
                    {
                        text: this.$t('training-course-document-number'),
                        value: 'Code',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-name'),
                        value: 'Name',
                        width: '10%'
                    },
                    {
                        text: this.$t('training-course-type'),
                        value: 'TypeDisplay',
                        width: '10%'
                    },
                    // {
                    //     text: this.$t('training-course-location'),
                    //     value: 'Place',
                    //     width: '10%'
                    // },
                    // {
                    //     text: this.$t('training-course-date-start'),
                    //     value: 'BeginDate',
                    //     width: '10%'
                    // },
                    // {
                    //     text: this.$t('training-course-time-start'),
                    //     value: 'BeginTime',
                    //     width: '10%'
                    // },
                    // {
                    //     text: this.$t('training-course-date-end'),
                    //     value: 'FinishedDate',
                    //     width: '10%'
                    // },
                    // {
                    //     text: this.$t('training-course-time-end'),
                    //     value: 'FinishedTime',
                    //     width: '10%'
                    // },
                    {
                        text: this.$t('training-course-status'),
                        value: 'Status',
                        width: '10%'
                    },
                    {
                        sortable: false,
                        text: '#',
                        width: '10%',
                        value: 'action'
                    }
                ]
            }
        },

        watch: {
            async page (value) {
                let criteria = this.$store.state.trainingCourse.criteria
                criteria.PagingCriteria.PageIndex = value - 1
                this.setCriteria(criteria)
                await this.findTrainingCourse(criteria)
            },
            async sort (value) {
                console.log('sort', value)

                if (this.oldSort.name === value.name && this.oldSort.orderBy === value.orderBy) return

                let criteria = this.$store.state.trainingCourse.criteria
                if (value.name) {
                    criteria.SortingCriteria = [{
                        Name: value.name,
                        Direction: value.orderBy
                    }]

                    console.log('criteria', criteria)
                } else {
                    criteria.SortingCriteria = []
                }
                
                this.setCriteria(criteria)
                const result = await this.findTrainingCourse(criteria)
                this.oldSort = this.sort
            }
        },

        methods: {
            ...mapMutations({
                setCriteria: 'trainingCourse/SET_CRITERIA',
            }),
            async findTrainingCourse (criteria) {
                try {
                    await this.$store.dispatch('trainingCourse/FIND', criteria)
                } catch (e) {
                    
                }
            },
            convertJSONDateOnlyToString (value) {
                return moment(value).format('DD/MM/YYYY')
            },
            convertJSONDateOnlyToString (value) {
                return moment(value).format('DD/MM/YYYY')
            },
            convertJSONTimeOnlyToString (value) {
                return moment(value).format('hh:mm')
            },
            async remove (id) {
                try {
                    await this.$store.dispatch('trainingCourse/REMOVE', id)
                    let criteria = this.$store.state.trainingCourse.criteria
                    await this.findTrainingCourse(criteria)
                } catch (e) {
                    
                }
            },
            customSort (items, index, isDesc) {
                console.log('custom sort', items, index[0], isDesc)
                this.sort = { name: index[0] || typeof index[0] !== 'undefined' ? index[0] : null, orderBy: (index[0] || typeof isDesc[0] !== 'undefined') && isDesc[0] === true ? 1 : 0 }
            
                return items
            }
        }
    }
</script>
