<template>
  <div>
    <v-form @submit.prevent="search" >
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            :label="$t('label-search')"
            v-model="textSearch"
            clear-icon="mdi-close-circle"
            clearable
          />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            type="submit"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-search') }}
          </v-btn>
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            @click="advanceDialog = true"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-advance-search') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="advanceDialog" persistent max-width="600px">
      <v-form v-model="advanceSearchValid" ref="advanceSearchForm" @submit.prevent="searchAdvance">
        <v-card>
          <v-card-title>
            <span class="headline">{{ $t('label-advance-search') }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('leave-doc-number')"
                    v-model="code"
                    clear-icon="mdi-close-circle"
                    clearable
                  />
                </v-col>
                <!-- <v-col cols="12">
                  <v-text-field
                    :label="$t('leave-employee-name')"
                    v-model="name"
                    clear-icon="mdi-close-circle"
                    clearable
                  />
                </v-col>-->
                <v-col cols="12">
                  <v-autocomplete
                    v-model="employee"
                    :items="employeeItems"
                    :loading="isEmployeeLoading"
                    :search-input.sync="employeeSearch"
                    clearable
                    hide-no-data
                    item-text="FullName"
                    item-value="Id"
                    :label="$t('leave-employee-name')"
                  />
                </v-col>
                <v-col cols="12" sm="6">
                   <base-date-picker :label="$t('leave-doc-date-from')"
                      :dateChangeParent="employedDateFromChangeParent" 
                      :date="employedDateFrom"
                      :rules="dateRules" />
                  <!-- <v-text-field
                    v-model="employedDateFrom"
                    :label="$t('leave-doc-date-from')"
                    v-mask="mask"
                    placeholder="dd/mm/yyyy"
                    clear-icon="mdi-close-circle"
                    clearable
                    :rules="dateRules" /> -->
                </v-col>
                <v-col cols="12" sm="6">
                  <base-date-picker :label="$t('leave-doc-date-to')"
                    :dateChangeParent="employedDateToChangeParent" 
                    :date="employedDateTo"
                    :rules="dateRules" />
                  <!-- <v-text-field
                    v-model="employedDateTo"
                    :label="$t('leave-docdate-to')"
                    v-mask="mask"
                    placeholder="dd/mm/yyyy"
                    clear-icon="mdi-close-circle"
                    clearable
                    :rules="dateRules" /> -->
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="status"
                    :items="statusItems"
                    :label="$t('leave-status')"
                    item-text="Name"
                    item-value="Id"
                    clear-icon="mdi-close-circle"
                    clearable
                  />
                </v-col>
              </v-row>
            </v-container>
            <!-- <small>*indicates required field</small> -->
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click="clearCriteria">Clear</v-btn>
            <v-btn
              color="blue darken-1"
              text
              type="submit"
              :loading="isLoading"
            >{{ $t('label-search')}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import _ from "lodash";
import { mask } from 'vue-the-mask'
import moment from 'moment'

export default {
  name: "EmployeeSearchBar",

  directives: {
    mask
  },

  data: () => ({
    mask: '##/##/####',
    advanceSearchValid: false,
    advanceDialog: null,

    textSearch: null,
    code: null,
    name: null,
    employedDateFrom: null,
    employedDateTo: null,

    status: null,
    statusItems: [],

    employee: null,
    isEmployeeLoading: false,
    employeeItems: [],
    employeeSearch: null,

    dateRules: [
      (v) => {
        const errMsg =  'Date format is invalids';
        let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
        var d = new Date();
        var year = d.getFullYear();
        var month = d.getMonth();
        var day = d.getDate();

        if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
         return errMsg
        else if(inputDate > new Date(year + 100, month, day)){
          return errMsg
        }
        else return true
      }
    ]

  }),

  created() {
    this.employeeDebounce = _.debounce(this.findEmployee, 500);
  },

  async mounted() {
    await this.getAllStatus();
    if (this.items.length === 0) {
      let criteria = {
        Criteria: {
          Status: null,
          Id: null,
          DocNo: null,
          EmployeeName: null,
          DateFrom: null,
          DateTo: null,
          AutoCompleteText: this.textSearch
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };

      this.setCriteria(criteria);
      this.findLeave(criteria);
    } else {
      console.log('xxx', this.criteria.Criteria)
      this.status = this.criteria.Criteria.Status
      this.textSearch = this.criteria.Criteria.AutoCompleteText
      this.code = this.criteria.Criteria.DocNo
      this.employee = this.criteria.Criteria.EmployeeId
      this.employedDateFrom = this.criteria.Criteria.DateFrom
      this.employedDateTo = this.criteria.Criteria.DateTo

      if (this.$route.params.breadcrumb === true) await this.findLeave(this.criteria)
    }
  },

  watch: {
    employeeSearch(value) {
      this.isEmployeeLoading = true;
      this.employeeDebounce(value);
    },
    items() {
      if (this.items.length > 0) this.submitDisabled = false;
      else this.submitDisabled = true;
    }
  },

  computed: {
    ...mapState("leave", ["isLoading", "items", "criteria"])
  },

  methods: {
    async search() {
      let criteria = {
        Criteria: {
          Status: null,
          DocNo: null,
          EmployeeId: null,
          DateFrom: null,
          DateTo: null,
          AutoCompleteText: this.textSearch
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };

      this.setCriteria(criteria);

      await this.findLeave(criteria);
    },
    async searchAdvance() {
      if (this.$refs.advanceSearchForm.validate()) {
        let criteria = {
          Criteria: {
            Status: this.status,
            DocNo: this.code,
            EmployeeId: this.employee,
            DateFrom: this.employedDateFrom,
            DateTo: this.employedDateTo,
            AutoCompleteText: null
          },
          SortingCriteria: [],
          PagingCriteria: { PageIndex: 0, PageSize: 10 }
        };
        // console.log('criteria', criteria, this.employedDateFrom)
        this.setCriteria(criteria);
        await this.findLeave(criteria);
        this.advanceDialog = false;
      }
    },
    async findLeave(criteria) {
      try {
        const result = await this.$store.dispatch("leave/FIND", criteria);
      } catch (e) {}
    },
    async findEmployee(value) {
      if (value === null || value === "") {
        this.leaveType = null;
        this.leaveTypeItems = [];
        this.isEmployeeLoading = false;
        this.employeeItems = [];
        return;
      }

      try {
        const text = value.split("-");
        this.isEmployeeLoading = true;
        this.employeeItems = await this.$store.dispatch("employee/FIND", {
          Criteria: { AutoCompleteText: text[0] }
        });
        this.isEmployeeLoading = false;
      } catch (e) {
        this.isEmployeeLoading = false;
      }
    },
    ...mapMutations({
      setCriteria: "leave/SET_CRITERIA"
    }),
    async getAllStatus() {
      this.statusItems = await this.$store.dispatch(
        "masterData/GET_ALL_LEAVE_STATUS",
        { Criteria: { AutoCompleteText: null } }
      );
    },
    clearCriteria() {
      this.code = null
      this.name = null
      this.employee = null
      this.employeeItems = []
      this.employedDateFrom = null
      this.employedDateTo = null
      this.status = null
    },
    validateDateAndReturnDate(value) {
      if (moment(value, 'DD/MM/YYYY').format('DD/MM/YYYY') === value) return moment(value, 'DD/MM/YYYY').format('YYYY/MM/DD')
      else return null
    },
    employedDateFromChangeParent(value) {
      if (value) this.employedDateFrom = value
    },
    employedDateToChangeParent(value) {
      if (value) this.employedDateTo = value
    }
  }
};
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 0px 30px !important;
}
</style>