<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            :loading="isLoading" 
            :custom-sort="customSort"
            hide-default-footer
            style="min-height: 400px;">

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.No" />
                    <td v-text="convertJSONDateOnlyToString(item.Date)" />
                    <td v-text="item.TotalLeaveRecords" />
                    <td v-text="item.Status" />
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'admin-leave-request-edit', params: { id: item.Id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                        <v-btn dark icon min-width="0" @click="remove(item.Id)" >
                            <v-icon color="red" v-text="'mdi-delete'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalPages"
            circle />
        <v-dialog v-model="removeDialog" hide-overlay persistent width="300" >
            <v-card >
                <v-card-text style="text-align: center;">Are you sure to delete?</v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="white" @click="removeDialog = false; id = null">{{ $t('cancel') }}</v-btn>
                    <v-btn color="red darken-1" @click="confirmRemove">{{ $t('confirm') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import moment from 'moment'
    
    export default {
        name: 'LeaveTableList',

        data: () => ({
            search: undefined,
            removeDialog: false,
            id: null,
            sort: {},
            oldSort: {}
        }),

        mounted() {
            
        },

        computed: {
            ...mapState(
                'leave', 
                [ 
                    'items',
                    'totalPages',
                    'isLoading' 
                ]
            ),
            page : {
                get () {
                    return this.$store.state.leave.criteria.PagingCriteria.PageIndex + 1
                },
                set (value) {
                    let criteria = this.$store.state.leave.criteria
                    criteria.PagingCriteria.PageIndex = value - 1
                    this.setCriteria(criteria)
                }
            },
            headers () {
                return  [
                    {
                        text: this.$t('leave-doc-number'),
                        value: 'No',
                        width: '15%'
                    },
                    {
                        text: this.$t('leave-date'),
                        value: 'Date',
                        width: '20%'
                    },
                    {
                        text: this.$t('leave-amount-persons'),
                        value: 'TotalLeaveRecords',
                        width: '20%',
                        sortable: false
                    },
                    {
                        text: this.$t('leave-status'),
                        value: 'Status',
                        width: '20%'
                    },
                    {
                        sortable: false,
                        text: '#',
                        width: '20%',
                        value: 'action'
                    }
                ]
            }
        },

        mounted() {
            // this.getQRCodeSetList(this.page - 1)
        },

        watch: {
            async page (value) {
                let criteria = this.$store.state.leave.criteria
                criteria.PagingCriteria.PageIndex = value - 1
                this.setCriteria(criteria)
                await this.findLeave(criteria)
            },
            async sort (value) {
                console.log('sort', value)

                if (this.oldSort.name === value.name && this.oldSort.orderBy === value.orderBy) return

                let criteria = this.$store.state.leave.criteria
                if (value.name) {
                    criteria.SortingCriteria = [{
                        Name: value.name,
                        Direction: value.orderBy
                    }]

                    console.log('criteria', criteria)
                } else {
                    criteria.SortingCriteria = []
                }
                
                this.setCriteria(criteria)
                const result = await this.findLeave(criteria)
                this.oldSort = this.sort
            }
        },

        methods: {
            ...mapMutations({
                setCriteria: 'leave/SET_CRITERIA',
            }),
            async findLeave (criteria) {
                try {
                    await this.$store.dispatch('leave/FIND', criteria)
                } catch (e) {
                    
                }
            },
            convertJSONDateOnlyToString (value) {
                return moment(value).format('DD/MM/YYYY')
            },
            convertJSONTimeOnlyToString (value) {
                return moment(value, 'YYYY/MM/DDTHH:mm').format('HH:mm')
            },
            async remove (id) {
                this.id = id
                this.removeDialog = true
            },
            async confirmRemove () {
                try {
                    await this.$store.dispatch('leave/REMOVE', this.id)
                    this.removeDialog = false
                    let criteria = this.$store.state.leave.criteria
                    await this.findLeave(criteria)
                } catch (e) {
                    
                }
            },
            customSort (items, index, isDesc) {
                console.log('custom sort', items, index[0], isDesc)
                this.sort = { name: index[0] || typeof index[0] !== 'undefined' ? index[0] : null, orderBy: (index[0] || typeof isDesc[0] !== 'undefined') && isDesc[0] === true ? 1 : 0 }
            
                return items
            }
        }
    }
</script>
