<template>
    <v-container id="extended-tables" fluid tag="section" >
        <base-material-card
            color="success"
            icon="mdi-database"
            inline
            :title="$t($router.currentRoute.meta.title)"
            class="px-5 py-3" >
            
                <v-row>
                    <v-col cols="12" md="2" sm="6" align-self="center" >
                        <v-btn class="mx-0 font-weight-light" block color="success" style="padding: 0px" :to="{ path: 'common-information/add' }" >
                            <v-icon left>mdi-plus</v-icon> ADD
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="6" offset-md="4" >
                        <search-bar />
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="12" >
                        <table-list />
                    </v-col>
                </v-row>

        </base-material-card>
    </v-container>
</template>

<script>
    export default {
        name: 'QRCode',
        components: {
            SearchBar: () => import('./components/SearchBar'),
            TableList: () => import('./components/TableList')
        }
    }
</script>
