<template>
    <v-container id="panels" fluid tag="section" >
        <v-row>
            <v-col class="mx-auto" cols="12" md="12" >
                <i-form />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'AdminCommonInformationInfo',
        components: {
            iForm: () => import('./components/Form')
        },
        data: () => ({
            tab: 0,
            tabs: [
                {
                    text: 'Information',
                    icon: 'mdi-information',
                    component: 'iForm'
                }
            ]
        })
    }
</script>
