<template>
    <v-row>       
        <v-col cols="12" sm="4" md="3" align-self="center">
            <span style="margin-left: 10px;">Issued date: {{ this.issueOn }}</span>
        </v-col>

        <v-col cols="12" sm="3" offset-sm="1" md="2" offset-md="1" offset-xl="2">
            <base-date-picker 
                :label="$t('date-from')" 
                :dateChangeParent="dateFromChangeParent" 
                :date="dateFrom"
                :rules="dateRules" />
            <!-- <v-text-field
                v-model="dateFrom"
                :label="$t('date-from')"
                v-mask="mask"
                placeholder="dd/mm/yyyy"
                :rules="dateRules" 
                clearable /> -->
        </v-col>
        <v-col cols="12" sm="3" md="2" >
            <base-date-picker
                :label="$t('date-to')" 
                :dateChangeParent="dateToChangeParent" 
                :date="dateTo"
                :rules="dateRules" />
            <!-- <v-text-field
                v-model="dateTo"
                :label="$t('date-to')"
                v-mask="mask"
                placeholder="dd/mm/yyyy"
                :rules="dateRules" 
                clearable /> -->
        </v-col>

        <v-col cols="12" sm="6" md="2" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="exportReport"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                {{ $t('export') }}
            </v-btn>
        </v-col>
        <v-col cols="12" sm="6" md="2" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="search"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                {{ $t('label-search') }}
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
    import { mapMutations, mapState } from 'vuex';
    import { mask } from "vue-the-mask";
    import moment from "moment";

    export default {
        name: 'ReportSearchBar',
        directives: {
            mask,
        },
        data: () => ({
            valid: false,
            mask: '##/##/####',
            dateFrom: null,
            dateTo: null,
            issueOn: null,
            dateRules: [
                (v) => {
                    if (v){
                            const errMsg =  'Date format is invalids';
                            let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                            var d = new Date();
                            var year = d.getFullYear();
                            var month = d.getMonth();
                            var day = d.getDate();

                            if(!/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                                return errMsg;
                            else if(inputDate > new Date(year + 100, month, day))
                                return errMsg
                            else return true;
                        }
                    else return true;
                },
            ],

        }),

        async mounted() {
            this.setItems([])
            const criteria = {
                DateFrom: null,
                DateTo: null
            }
            this.setCriteria(criteria)
            await this.getReport(criteria)
        },

        computed: {
            ...mapState(
                'report', 
                [ 'isLoading' ]
            )
        },

        methods: {
            async search() { 
                let criteria = {
                    DateFrom: this.dateFrom,
                    DateTo: this.dateTo,
                };
                console.log('criteria', criteria)
                    this.setCriteria(criteria);
                    await this.getReport(criteria);
            },
            async getReport (criteria) {
                try {
                    const result = await this.$store.dispatch('report/EMPLOYEE', criteria)
                    console.log('dvs', result, result.IssueOn)
                    this.issueOn = this.convertJSONDateOnlyToString(result.IssueOn)
                } catch (e) {
                    
                }
            },
            async exportReport() {
                try {
                    const response = await this.$store.dispatch(
                    "report/EMPLOYEE_EXPORT",
                    this.$store.state.report.criteriaWithoutPaging
                    );
                    const url = window.URL.createObjectURL(
                    new Blob([this.s2ab(atob(response.FileContents))], {
                        type:
                        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    })
                    );
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute("download", response.FileDownloadName); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                } catch (error) {
                    console.log("error", error);
                }
            },
            s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
                return buf;
            },
            ...mapMutations({
                setItems: 'report/SET_EMPLOYEE_ITEMS',
                setCriteria: 'report/SET_CRITERIA_WITHOUT_PAGING'
            }),
            convertJSONDateOnlyToString (value) {
                    return moment(value).format('DD/MM/YYYY')
            },
            dateFromChangeParent(value) {
                this.dateFrom = value
            },
            dateToChangeParent(value) {
                this.dateTo = value
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>