<template>
  <v-row>
    <!-- <v-col cols="12" md="6" >
            <v-text-field 
                :label="$t('label-search')" 
                v-model="textSearch" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="search"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                {{ $t('label-search') }}
            </v-btn>
<<<<<<< HEAD
        </v-col> -->
        <v-col cols="12" md="4" offset-md="4" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="exportReport"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                {{ $t('export') }}
            </v-btn>
        </v-col>
        <v-col cols="12" md="4" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="advanceDialog = true"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                {{ $t('label-advance-search') }}
            </v-btn>
        </v-col>
        <v-dialog v-model="advanceDialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{ $t('label-advance-search') }}</span>
                </v-card-title>
                <v-card-text>
                    <v-form v-model="advanceSearchValid" ref="advanceSearchForm">
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="6">
                                    <v-select 
                                        v-model="contractsType" 
                                        :items="contractsTypeItems" 
                                        item-text="Name"
                                        item-value="Id"
                                        clear-icon="mdi-close-circle" clearable
                                        :label="$t('label-employee-contract')"  />
                                </v-col>
                                <v-col cols="12" md="6" >
                                    <v-select 
                                        v-model="nationality" 
                                        :items="nationalityItems" 
                                        item-text="Name"
                                        item-value="Id" clear-icon="mdi-close-circle" clearable
                                        :label="$t('label-employee-nationality')" />
                                </v-col>
                                <v-col cols="12" md="6" >
                                    <v-select 
                                        v-model="department" 
                                        :items="departmentItems"
                                        item-text="Name"
                                        item-value="Id" clear-icon="mdi-close-circle" clearable 
                                        :label="$t('label-employee-department')" />
                                </v-col>
                                <v-col cols="12" md="6" >
                                    <v-select 
                                        v-model="position" 
                                        :items="positionItems" 
                                        item-text="Name"
                                        item-value="Id" clear-icon="mdi-close-circle" clearable
                                        :label="$t('label-employee-position')" />
                                </v-col>
                                <v-col cols="12" sm="6">
                                    <base-date-picker 
                                        :label="$t('label-employee-date-employed')" 
                                        :dateChangeParent="employedDateFromChangeParent" 
                                        :date="employedDateFrom"
                                        :rules="dateRules" />
                                    <!-- <v-text-field
                                        v-model="employedDateFrom"
                                        :label="$t('label-employee-date-employed')"
                                        v-mask="mask"
                                        placeholder="dd/mm/yyyy"
                                        clear-icon="mdi-close-circle"
                                        clearable
                                        :rules="dateRules" /> -->
                                </v-col>
                                <v-col cols="12" sm="6">
                                    <base-date-picker 
                                        :label="$t('label-employee-date-employed-to')" 
                                        :dateChangeParent="employedDateToChangeParent" 
                                        :date="employedDateTo"
                                        :rules="dateRules" />
                                    <!-- <v-text-field
                                        v-model="employedDateTo"
                                        :label="$t('label-employee-date-employed-to')"
                                        v-mask="mask"
                                        placeholder="dd/mm/yyyy"
                                        clear-icon="mdi-close-circle"
                                        clearable
                                        :rules="dateRules" /> -->
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                    <!-- <small>*indicates required field</small> -->
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" text @click="clearCriteria">Clear</v-btn>
                    <v-btn color="blue darken-1" text @click="searchAdvance" :loading="isLoading" >{{ $t('label-search')}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { mask } from "vue-the-mask";
import moment from "moment";

export default {
  name: "ReportSearchBar",

  directives: {
    mask,
  },

  data: () => ({
    mask: "##/##/####",
    advanceSearchValid: false,
    advanceDialog: null,
    textSearch: null,
    code: null,
    name: null,
    contractsType: null,
    department: null,
    position: null,
    nationality: null,

    employedDateFrom: null,
    employedDateTo: null,
    contractsTypeItems: [],
    departmentItems: [],
    positionItems: [],
    nationalityItems: [],

    dateRules: [
        (v) => {
            if (v){
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if(!/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                        return errMsg;
                    else if(inputDate > new Date(year + 100, month, day))
                        return errMsg
                    else return true;
                }
            else return true;
        },
    ],
  }),

  mounted() {
    this.setItems([]);
    let criteria = {
      ContractTypeId: null,
      DepartmentId: null,
      PositionId: null,
      NationalityId: null,
      DateFrom: null,
      DateTo: null,
    };

    this.setCriteria(criteria);
    this.getReport(criteria);
    this.findContractsType();
    this.findNationality();
    this.findDepartment();
    this.findPosition();
  },

  computed: {
    ...mapState("report", ["isLoading"]),
  },
    methods: {
            async searchAdvance () {    
                if (this.$refs.advanceSearchForm.validate()) {
                    let criteria = {
                        ContractTypeId: this.contractsType,
                        DepartmentId: this.department,
                        PositionId: this.position,
                        NationalityId: this.nationality,
                        DateFrom: this.employedDateFrom,
                        DateTo: this.employedDateTo
                    }
                    console.log('criteria', criteria)
                    this.setCriteria(criteria)
                    await this.getReport(criteria)
                    this.advanceDialog = false
                }
            },
            async getReport (criteria) {
                try {
                    const result = await this.$store.dispatch('report/AGE_RANGE', criteria)
                } catch (e) {
                    
                }
            },
            ...mapMutations({
                setItems: 'report/SET_AGE_ITEMS',
                setCriteria: 'report/SET_CRITERIA_WITHOUT_PAGING'
            }),
            async findContractsType (value) {
                this.contractsTypeItems = await this.$store.dispatch('masterData/FIND_CONTRACTS_TYPE', { Criteria: { AutoCompleteText: null } } )
            },
            async findNationality (value) {
                if (this.nationalityItems.length > 0) return
                this.nationalityItems = await this.$store.dispatch('masterData/FIND_NATIONALITY', { Criteria: { AutoCompleteText: null } } )
            },
            async findDepartment (value) {
                if (this.departmentItems.length > 0) return
                this.departmentItems = await this.$store.dispatch('masterData/FIND_DEPARTMENT', { Criteria: { AutoCompleteText: null } } )
            },
            async findPosition (value) {
                if (this.positionItems.length > 0) return
                this.positionItems = await this.$store.dispatch('masterData/FIND_POSITION', { Criteria: { AutoCompleteText: null } } )
            },
            employedDateFromChangeParent(value) {
                this.employedDateFrom = value
            },
            employedDateToChangeParent(value) {
                this.employedDateTo = value
            },
            async exportReport () {
                try {
                    const response = await this.$store.dispatch('report/AGE_RANGE_EXPORT', this.$store.state.report.criteriaWithoutPaging )
                    const url = window.URL.createObjectURL(new Blob([this.s2ab(atob(response.FileContents))], {
                        type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                    }))
                    const link = document.createElement('a')
                    link.href = url
                    link.setAttribute('download', response.FileDownloadName) //or any other extension
                    document.body.appendChild(link)
                    link.click()
                } catch (error) {
                    console.log('error', error)
                }
            },
            s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i=0; i!=s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            },
            clearCriteria() {
                this.contractsType = null
                this.nationality = null
                this.department = null
                this.position = null
                this.employedDateFrom = null
                this.employedDateTo = null
            },
            validateDateAndReturnDate(value) {
                if (moment(value, 'DD/MM/YYYY').format('DD/MM/YYYY') === value) return moment(value, 'DD/MM/YYYY').format('YYYY/MM/DD')
                else return null
            },
            employedDateFromChangeParent(value) {
                this.employedDateFrom = value
            },
            employedDateToChangeParent(value) {
                this.employedDateTo = value
            }
        }
    }
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 0px 30px !important;
}
</style>