<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="ageRangeItems"
      hide-default-footer
      style="min-height: 400px;text-align: center;"
      :loading="isLoading"
      :items-per-page="-1"
    >
      <template v-slot:item="{ item, index }">
        <tr v-if="ageRangeItems.length - 1 === index">
          <td v-text="item.Grouping" />
          <td v-text="item.FemaleAmount" colspan="2" style="font-weight: bold;" />
        </tr>
        <tr v-else-if="ageRangeItems.length - 2 === index">
          <td v-text="item.Grouping" style="font-weight: bold;" />
          <td v-text="item.MaleAmount" style="font-weight: bold;" />
          <td v-text="item.FemaleAmount" style="font-weight: bold;" />
        </tr>
        <tr v-else>
          <td v-text="item.Grouping" />
          <td v-text="item.MaleAmount" />
          <td v-text="item.FemaleAmount" />
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import dayjs from "dayjs";

export default {
  name: "ReportTableList",

  computed: {
    // page : {

    // },
    ...mapState("report", ["ageRangeItems", "totalPages", "isLoading"]),
    headers() {
      return [
        {
          text: this.$t("report-age-range"),
          value: "Name",
          width: "50%",
          align: "center"
        },
        {
          text: this.$t("report-man"),
          value: "Name",
          width: "25%",
          align: "center"
        },
        {
          text: this.$t("report-woman"),
          value: "ContractType",
          width: "25%",
          align: "center",
          divider : true
        }
      ];
    }
  }
};
</script>
