<template>
    <div>
        <base-material-card icon="mdi-database">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    {{ $t($router.currentRoute.meta.title) }}
                    <span class="body-1">— {{ $t($router.currentRoute.meta.subtitle) }} </span>
                </div>
            </template>

            <v-form v-model="valid" ref="form" @submit.prevent="submit">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" md="6" >
                            <v-text-field :label="$t('common-information-code')" v-model="code" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field :label="$t('common-information-name')" v-model="name" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-select 
                                v-model="roleType" 
                                :items="roleTypeItems" 
                                :label="$t('common-information-type')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                             <v-select 
                                v-model="status" 
                                :items="statusItems" 
                                :label="$t('common-information-status')" 
                                item-text="Name"
                                item-value="Value"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="6" v-if="roleType === 20302">
                            <v-select 
                                v-model="department" 
                                :items="departmentItems" 
                                :label="$t('common-information-department')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="6" v-if="roleType === 20302">
                            <v-checkbox
                                style="margin-left: 30px"
                                v-model="isManager"
                                label="Manager position" />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="success" class="mr-1" type="submit" :loading="loading" :disabled="loading">
                                {{ $t('save') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
        </base-material-card>
        <v-dialog v-model="loading" hide-overlay persistent width="300" >
            <v-card color="primary" dark >
                <v-card-text>
                    <div style="color: #FFFFFF;"> {{ $t('loading') }} </div>
                    <v-progress-linear indeterminate color="white" class="mb-0" />
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    import moment from 'moment'
    import _ from 'lodash'
    import { mask } from 'vue-the-mask'

    export default {
        name: 'CommonInformationForm',

        directives: {
            mask
        },

        data: () => ({
            fistLoad: true,
            wasPrepared: false,
            valid: false,
            documentaryFormValid: false,
            documentaryDialog: false,
            documentaryActionType: null,
            mask: '##/##/####',
            id: null,
            code: null,
            name: null,
            roleType: null,
            status: null,
            department: null,
            isManager: null,

            departmentItems: [],

            statusItems: [
                { Name: 'Active', Value: 1 },
                { Name: 'InActive', Value: 2 }
            ],
            
            roleTypeItems: [],

            fieldRules: [
                (v) => !!v || 'Field is required.'
            ],
            dateRules: [
                (v) => !!v || 'Field is required.',
                (v) => {
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                    return errMsg
                    else if(inputDate > new Date(year + 100, month, day)){
                    return errMsg
                    }
                    else return true
                }
            ],
            loading: false
        }),
        async mounted () {
            this.loading = true
            await this.getAllRoleType()
            await this.findDepartment()
            await this.getCommonInfo()
            this.loading = false
            this.fistLoad = false
            // await this.getAllProvinces()
            // await this.findDepartment()
        },

        watch: {
            roleType (val) {
                if (!this.fistLoad) {
                    this.department = null
                }
                // this.department = null
            }
        },
        
        methods: {
            async getCommonInfo () {
                if (this.$route.params.id) {
                    try {
                        this.loading = true
                        await this.$store.dispatch('commonInformation/GET', this.$route.params.id)

                        const { 
                            Id,
                            Name,
                            Code,
                            Type,
                            IsActive,
                            ParentId,
                            Important } = this.$store.state.commonInformation.item
                        this.id = Id
                        this.code = Code
                        this.name = Name
                        this.roleType = Type
                        this.status = IsActive ? 1 : 2
                        this.department = ParentId
                        this.isManager = Important

                        this.loading = false
                    } catch (error) {
                        this.loading = false
                    }
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const payload = {
                        ParentId: this.roleType === 20302 ? this.department : null,
                        Type: this.roleType,
                        IsActive: this.status === 1 ? true : false,
                        Id: this.id,
                        Code: this.code,
                        Name: this.name,
                        Important: this.isManager
                    }

                    if (payload.Id === null) delete payload.Id

                    try {
                        this.loading = true
                        await this.$store.dispatch('commonInformation/SAVE', payload)
                        this.$router.push('/admin/common-information')
                    } catch (error) {
                        console.log('error', error)
                        this.loading = false
                    }
                    this.loading = false
                }
            },
            async getAllRoleType (value) {
                if (this.roleTypeItems.length > 0) return
                this.roleTypeItems = await this.$store.dispatch('masterData/GET_ALL_ROLE_TYPE', { Criteria: { AutoCompleteText: null } } )
                
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            },
            async findDepartment (value) {
                if (this.departmentItems.length > 0) return
                this.departmentItems = await this.$store.dispatch('masterData/FIND_DEPARTMENT', { Criteria: { AutoCompleteText: null } } )
            }
        }
    }
</script>

<style>
.v-image__image--cover {
    border-radius: 0px!important;
}
</style>