<template>
  <div>
    <v-form @submit.prevent="search" >
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            :label="$t('label-search')"
            v-model="textSearch"
            clear-icon="mdi-close-circle"
            clearable
          />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            type="submit"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-search') }}
          </v-btn>
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            @click="advanceDialog = true"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-advance-search') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="advanceDialog" persistent max-width="600px">
      <v-form v-model="advanceSearchValid" ref="advanceSearchForm" @submit.prevent="searchAdvance">
        <v-card>
          <v-card-title>
            <span class="headline">{{ $t('label-advance-search') }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('common-information-code')"
                    clear-icon="mdi-close-circle"
                    clearable
                    v-model="code"
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    :label="$t('common-information-name')"
                    clear-icon="mdi-close-circle"
                    clearable
                    v-model="name"
                  />
                </v-col>
                <v-col cols="12" sm="12">
                  <v-select
                    v-model="roleType"
                    :items="roleTypeItems"
                    item-text="Name"
                    item-value="Id"
                    clear-icon="mdi-close-circle"
                    clearable
                    :label="$t('common-information-type')"
                  />
                </v-col>
                <v-col cols="12" sm="12">
                  <v-select
                    v-model="status"
                    :items="statusItems"
                    item-text="Name"
                    item-value="Value"
                    clear-icon="mdi-close-circle"
                    clearable
                    :label="$t('common-information-status')"
                  />
                </v-col>
              </v-row>
            </v-container>
            <!-- <small>*indicates required field</small> -->
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
            <v-btn
              color="blue darken-1"
              text
              type="submit"
              :loading="isLoading"
            >{{ $t('label-search')}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  name: "CommonInformationSearchBar",

  data: () => ({
    advanceSearchValid: false,
    advanceDialog: null,
    textSearch: null,
    code: null,
    name: null,
    roleType: null,
    status: null,
    employedDateFrom: null,
    employedDateTo: null,
    statusItems: [
      { Name: "Active", Value: 1 },
      { Name: "InActive", Value: 2 }
    ],
    roleTypeItems: []
  }),

  async mounted() {
    await this.getAllRoleType();
    if (this.items.length === 0) {
      let criteria = {
        Criteria: {
          Code: null,
          Name: null,
          Type: null,
          IsActive: null,
          AutoCompleteText: null
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };

      this.setCriteria(criteria)
      await this.findCommonInfo(criteria)
    } else {
      this.textSearch = this.criteria.Criteria.AutoCompleteText
      this.code = this.criteria.Criteria.Code
      this.name = this.criteria.Criteria.Name
      this.roleType = this.criteria.Criteria.Type
      this.status = this.criteria.Criteria.IsActive === true ? 1 : this.criteria.Criteria.IsActive === false ? 2 : null
      
      if (this.$route.params.breadcrumb === true) await this.findCommonInfo(this.criteria)
    }
  },

  computed: {
    ...mapState("commonInformation", [ "isLoading", "items", "criteria" ])
  },

  methods: {
    async search() {
      let criteria = {
        Criteria: {
          Code: null,
          Name: null,
          Type: null,
          IsActive: null,
          AutoCompleteText: this.textSearch
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };

      this.setCriteria(criteria);
      await this.findCommonInfo(criteria);
    },
    async searchAdvance() {
      if (this.$refs.advanceSearchForm.validate()) {
        let criteria = {
          Criteria: {
            Code: this.code,
            Name: this.name,
            Type: this.roleType,
            IsActive: this.status ? (this.status === 1 ? true : false) : null,
            AutoCompleteText: null
          },
          SortingCriteria: [],
          PagingCriteria: { PageIndex: 0, PageSize: 10 }
        };

        this.setCriteria(criteria);
        await this.findCommonInfo(criteria);
        this.advanceDialog = false;
      }
    },
    async findCommonInfo(criteria) {
      try {
        const result = await this.$store.dispatch(
          "commonInformation/FIND",
          criteria
        );
      } catch (e) {}
    },
    ...mapMutations({
      setCriteria: "commonInformation/SET_CRITERIA"
    }),
    async getAllRoleType(value) {
      this.roleTypeItems = await this.$store.dispatch(
        "masterData/GET_ALL_ROLE_TYPE",
        { Criteria: { AutoCompleteText: null } }
      );
    }
  }
};
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 0px 30px !important;
}
</style>