<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading"
            :custom-sort="customSort" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.Code" />
                    <td v-text="item.Name" />
                    <td v-text="item.TypeDisplay" />
                    <td v-text="item.IsActive === true ? 'Acive' : 'Inactive'" />
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'admin-common-information-edit', params: { id: item.Id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalPages"
            circle />
            
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'CommonInformationTableList',

        data: () => ({
            search: undefined,
            sort: {},
            oldSort: {}
        }),

        computed: {
            // page : {
                
            // },
            ...mapState(
                'commonInformation', 
                [ 
                    'items',
                    'totalPages',
                    'isLoading' 
                ]
            ),
            page : {
                get () {
                    return this.$store.state.commonInformation.criteria.PagingCriteria.PageIndex + 1
                },
                set (value) {
                    let criteria = this.$store.state.commonInformation.criteria
                    criteria.PagingCriteria.PageIndex = value - 1
                    this.setCriteria(criteria)
                }
            },
            headers () {
                return  [
                    {
                        text: this.$t('common-information-code'),
                        value: 'Code',
                        width: '10%'
                    },
                    {
                        text: this.$t('common-information-name'),
                        value: 'Name',
                        width: '15%'
                    },
                    {
                        text: this.$t('common-information-type'),
                        value: 'TypeDisplay',
                        width: '15%'
                    },
                    {
                        text: this.$t('common-information-status'),
                        value: 'IsActive',
                        width: '15%'
                    },
                    {
                        sortable: false,
                        text: '#',
                        width: '15%',
                        value: 'action'
                    }
                ]
            }
        },

        mounted() {
            
        },

        watch: {
            async page (value) {
                let criteria = this.$store.state.commonInformation.criteria
                criteria.PagingCriteria.PageIndex = value - 1
                this.setCriteria(criteria)
                await this.find(criteria)
            },
            async sort (value) {
                console.log('sort', value)

                if (this.oldSort.name === value.name && this.oldSort.orderBy === value.orderBy) return

                let criteria = this.$store.state.commonInformation.criteria
                if (value.name) {
                    criteria.SortingCriteria = [{
                        Name: value.name,
                        Direction: value.orderBy
                    }]

                    console.log('criteria', criteria)
                } else {
                    criteria.SortingCriteria = []
                }
                
                this.setCriteria(criteria)
                const result = await this.find(criteria)
                this.oldSort = this.sort
            }
        },

        methods: {...mapMutations({
                setCriteria: 'commonInformation/SET_CRITERIA',
            }),
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            },
            async find (criteria) {
                try {
                    await this.$store.dispatch('commonInformation/FIND', criteria)
                } catch (e) {
                    
                }
            },
            customSort (items, index, isDesc) {
                console.log('custom sort', items, index[0], isDesc)
                this.sort = { name: index[0] || typeof index[0] !== 'undefined' ? index[0] : null, orderBy: (index[0] || typeof isDesc[0] !== 'undefined') && isDesc[0] === true ? 1 : 0 }
   
                return items
            }
        }
    }
</script>
