<template>
    <v-app>
        <v-content id="pages" :class="$vuetify.theme.dark ? undefined : 'grey lighten-3'" >
            <v-img
                :class="{
                    'v-image--sm': this.$vuetify.breakpoint.smAndDown,
                    'v-image--md': this.$vuetify.breakpoint.mdAndDown
                }"
                :src="require('@/assets/login.jpg')"
                gradient="to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)"
                min-height="100%" >

                <v-container id="login" class="fill-height justify-center" tag="section" >

                    <v-row justify="center">
                        <v-slide-y-transition appear>
                            <base-material-card color="success" light max-width="100%" width="400" class="px-5 py-3" >
                                <template v-slot:heading>
                                    <div class="text-center">
                                        <h1 class="display-2 font-weight-bold mb-2">
                                            Login
                                        </h1>

                                    
                                    </div>
                                </template>

                                <v-card-text class="text-center">
                                    <v-form v-model="valid" ref="form" @submit.prevent="submit" >
                                        <v-text-field
                                            v-model="username"
                                            :rules="usernameRules"
                                            color="success"
                                            label="Username"
                                            prepend-icon="mdi-account"
                                        />

                                        <v-text-field
                                            v-model="password"
                                            :rules="passwordRules"
                                            type="password"
                                            class="mb-8"
                                            color="success"
                                            label="Password"
                                            prepend-icon="mdi-lock-outline"
                                        />

                                        <pages-btn
                                            large
                                            color=""
                                            depressed
                                            class="v-btn--text success--text"
                                            type="submit"
                                            :loading="loading"
                                        >
                                        Log in 
                                        </pages-btn>
                                    </v-form>
                                </v-card-text>
                            </base-material-card>
                        </v-slide-y-transition>
                    </v-row>
                </v-container>
            </v-img>
            <v-snackbar
                type="error"
                v-model="errorMessage"
                top
                color="red" >
                {{ errorMessage }}
                <v-btn color="#FFFFFF" text @click="errorMessage = false" >
                    Close
                </v-btn>
            </v-snackbar>
        </v-content>
    </v-app>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'

    export default {
        name: 'PagesLogin',

        components: {
            PagesBtn: () => import('../../components/Btn'),
        },

        data: () => ({
            valid: false,
            username: null,
            password: null,
            usernameRules: [
                (v) => !!v || 'Username is required',
            ],
            passwordRules: [
                (v) => !!v || 'Password is required',
            ]
        }),
        
        computed: {
            errorMessage: {
                get () {
                    return this.$store.state.app.errorMessage
                },
                set (value) {
                    if (value === false) this.$store.commit('app/SET_ERROR_MESSAGE', null)
                }
            },
            loading: {
                get () {
                    return this.$store.state.app.loading
                },
                // set (value) {
                //     this.$store.commit('app/SET_LOADING', value)
                // }
            }
        },

        methods: {
            async submit () {
                try {
                    if (this.$refs.form.validate()) {
                        const data = {
                            Login: this.username,
                            SecretValue: this.password
                        }

                        const result = await this.$store.dispatch('admin/AUTH_LOGIN', data)
                        this.$router.push('/admin')
                    }
                } catch (error) {
                    console.log('error', error)
                }
            }
        }
    }
</script>
