<template>
  <div style="overflow: auto;">
    <v-data-table
      :headers="headers"
      :items="leaveHistoryTypeGroupingItems"
      hide-default-footer
      style="width: 1024;min-height: 400px; text-align: center;"
      :loading="isLoading"
    >
      <template v-slot:item="{ item }">
        <tr>
          <td v-text="item.Grouping" />
          <td v-text="item.TotalDayManagerEmployee" />
          <td v-text="item.TotalDayMonthlyEmployee" />
          <td v-text="item.TotalDayDailyEmployee" />
          <td v-text="item.TotalDayMigrantWorkers" />
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import dayjs from "dayjs";

export default {
  name: "ReportTableList",

  data: () => ({
    infoDialog: false,

    code: null,
    name: null,
    position: null,
    startWorkDate: null,
    sickLeaveRights: null,
    personalLeaveRights: null,
    annuallyLeaveRights: null,
    annuallyBroughtForward: null,
    sickLeaveUsing: null,
    personalLeaveUsing: null,
    annuallyLeaveUsing: null,
    sickLeaveBalance: null,
    personalLeaveBalance: null,
    annuallyLeaveBalance: null,
    workingYear: null,
  }),
  mounted() {
    // this.getList(0)
  },

  computed: {
    // page : {

    // },
    ...mapState("report", ["leaveHistoryTypeGroupingItems", "isLoading"]),
    headers() {
      return [
        {
          text: this.$t("report-leave-type"),
          value: "Grouping",
          width: "1%",
          align: "center",
        },
        {
          text: this.$t("report-day-manager"),
          value: "TotalDayManagerEmployee",
          width: "2%",
          align: "center",
        },
        {
          text: this.$t("report-day-permanent-employee"),
          value: "TotalDayMonthlyEmployee",
          width: "1%",
          align: "center",
        },
        {
          text: this.$t("report-day-temporary-employee"),
          value: "TotalDayDailyEmployee",
          width: "1%",
          align: "center",
        },
        {
          text: this.$t("report-day-alien-worker"),
          value: "TotalDayMigrantWorkers",
          width: "1%",
          align: "center",
          divider: true,
        },
      ];
    },
  },

  methods: {
    convertJSONDateOnlyToString(value) {
      return dayjs(value).format("DD/MM/YYYY");
    },
    async getReport(criteria) {
      try {
        console.log("svsdv", criteria);
        const result = await this.$store.dispatch(
          "report/LEAVE_HISTORY_TYPE_GROUPING",
          criteria
        );
        console.log("result", result);
      } catch (e) {}
    },
    // displayInfo(item) {
    //   this.code = item.Code;
    //   this.name = item.Name;
    //   this.position = item.Position;
    //   this.startWorkDate = this.convertJSONDateOnlyToString(item.StartWorkDate);
    //   this.sickLeaveRights = item.SickLeaveRights;
    //   this.personalLeaveRights = item.PersonalLeaveRights;
    //   this.annuallyLeaveRights = item.AnnuallyLeaveRights;
    //   this.annuallyBroughtForward = item.AnnuallyBroughtForward;
    //   this.sickLeaveUsing = item.SickLeaveUsing;
    //   this.personalLeaveUsing = item.PersonalLeaveUsing;
    //   this.annuallyLeaveUsing = item.AnnuallyLeaveUsing;
    //   this.sickLeaveBalance = item.SickLeaveBalance;
    //   this.personalLeaveBalance = item.PersonalLeaveBalance;
    //   this.annuallyLeaveBalance = item.AnnuallyLeaveBalance;
    //   this.workingYear = item.WorkingYear;
    //   this.infoDialog = true;
    // }
  },
};
</script>
