<template>
  <v-form v-model="valid" ref="form">
    <v-row>
      <v-col cols="12" md="3">
        <base-date-picker
          :label="$t('date-from')"
          :dateChangeParent="dateFromChangeParent"
          :date="dateFrom"
          :allowNull="true"
          :rules="dateRules"
        />
        <!-- <v-text-field
          v-model="dateFrom"
          :label="$t('date-from')"
          v-mask="mask"
          placeholder="dd/mm/yyyy"
          :rules="dateRules"
          clearable
        /> -->
      </v-col>
      <v-col cols="12" md="3">
        <base-date-picker
          :label="$t('date-to')"
          :dateChangeParent="dateToChangeParent"
          :date="dateTo"
          :allowNull="true"
          :rules="dateRules"
        />
        <!-- <v-text-field
          v-model="dateTo"
          :label="$t('date-to')"
          v-mask="mask"
          placeholder="dd/mm/yyyy"
          :rules="dateRules"
          clearable
        /> -->
      </v-col>
      <v-col cols="12" md="3" align-self="center" class="text-center">
        <v-btn
          color="primary"
          class="mx-0 font-weight-light"
          dark
          block
          @click="exportReport"
          style="padding: 0px"
        >
          <v-icon dark left>mdi-magnify</v-icon>
          {{ $t("export") }}
        </v-btn>
      </v-col>
      <v-col cols="12" md="3" align-self="center" class="text-center">
        <v-btn
          color="primary"
          class="mx-0 font-weight-light"
          dark
          block
          @click="search"
          style="padding: 0px"
        >
          <v-icon dark left>mdi-magnify</v-icon>
          {{ $t("label-search") }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { mask } from "vue-the-mask";
import moment from "moment";

export default {
  name: "ReportSearchBar",
  directives: {
    mask,
  },
  data: () => ({
    valid: false,
    mask: "##/##/####",
    dateFrom: null, //moment().utc().startOf("year").format('YYYY-MM-DD'),
    dateTo: null, //moment().utc().endOf("year").format('YYYY-MM-DD'),

    dateRules: [
      (v) => {
        if (v) {
          const errMsg = "Date format is invalids";
          let inputDate = new Date(
            moment(v, "DD/MM/YYYY").format("YYYY-MM-DD")
          );
          var d = new Date();
          var year = d.getFullYear();
          var month = d.getMonth();
          var day = d.getDate();

          if (
            !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(
              v
            )
          )
            return errMsg;
          else if (inputDate > new Date(year + 100, month, day)) return errMsg;
          else return true;
        } else return true;
      },
    ],
  }),
  mounted() {
    this.setItems([]);
    let criteria = {
      DateFrom: this.dateFrom,
      DateTo: this.dateTo,
    };
    this.setCriteria(criteria);
    this.getReport(criteria);
  },

  computed: {
    ...mapState("report", ["isLoading"]),
  },

  methods: {
    async search() {
      if (this.$refs.form.validate()) {
        let criteria = {
          DateFrom: this.dateFrom,
          DateTo: this.dateTo,
        };

        this.setCriteria(criteria);
        await this.getReport(criteria);
      }
    },
    async getReport(criteria) {
      try {
        const result = await this.$store.dispatch(
          "report/TURN_OVER_RATE",
          criteria
        );
      } catch (e) {}
    },
    async exportReport() {
      try {
        const response = await this.$store.dispatch(
          "report/TRUN_OVER_EXPORT",
          this.$store.state.report.criteriaWithoutPaging
        );
        const url = window.URL.createObjectURL(
          new Blob([this.s2ab(atob(response.FileContents))], {
            type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          })
        );
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", response.FileDownloadName); //or any other extension
        document.body.appendChild(link);
        link.click();
      } catch (error) {
        console.log("error", error);
      }
    },
    s2ab(s) {
      var buf = new ArrayBuffer(s.length);
      var view = new Uint8Array(buf);
      for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
      return buf;
    },
    ...mapMutations({
      setItems: "report/SET_TURN_OVER_RATE_ITEM",
      setCriteria: "report/SET_CRITERIA_WITHOUT_PAGING",
    }),
    dateFromChangeParent(value) {
      this.dateFrom = value;
    },
    dateToChangeParent(value) {
      this.dateTo = value;
    },
  },
};
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 0px 30px !important;
}
</style>