<template>
  <v-container id="dashboard" fluid tag="section">
    <v-row>
      <v-col cols="12" md="6">
        <base-material-card icon="mdi-newspaper" :title="$t('report-signed')">
          <v-row>
            <v-col cols="12" class="mt-10">
              <v-data-table
                :headers="signAgeGroupingHeaders"
                :items="turnOverRateItem.SignAgeGroupingItems"
                hide-default-footer
                style="min-height: 400px;"
                :loading="isLoading"
                :items-per-page="-1"
              >
                <template v-slot:item="{ item, index }">
                  <tr v-if="turnOverRateItem.SignAgeGroupingItems.length - 1 === index">
                    <td v-text="item.Grouping" />
                    <td
                      v-text="item.FemaleAmount"
                      colspan="2"
                      style="text-align: center;font-weight: bold;"
                    />
                  </tr>
                  <tr v-else-if="turnOverRateItem.SignAgeGroupingItems.length - 2 === index">
                    <td v-text="item.Grouping" style="text-align: center;font-weight: bold;" />
                    <td v-text="item.MaleAmount" style="text-align: center;font-weight: bold;" />
                    <td v-text="item.FemaleAmount" style="text-align: center;font-weight: bold;" />
                    <td />
                  </tr>
                  <tr v-else>
                    <td v-text="item.Grouping" style="text-align: center;" />
                    <td v-text="item.MaleAmount" style="text-align: center;" />
                    <td v-text="item.FemaleAmount" style="text-align: center;" />
                    <td>
                      <v-btn dark icon min-width="0" @click="findTurnOverDetial(item, true)">
                        <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                      </v-btn>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </base-material-card>
      </v-col>
      <v-col cols="12" md="6">
        <base-material-card icon="mdi-newspaper" :title="$t('report-resigned')">
          <v-row>
            <v-col cols="12" class="mt-10">
              <v-data-table
                :headers="resignAgeGroupingHeaders"
                :items="turnOverRateItem.ResignAgeGroupingItems"
                hide-default-footer
                style="min-height: 400px;"
                :loading="isLoading"
                :items-per-page="-1"
              >
                <template v-slot:item="{ item, index }">
                  <tr v-if="turnOverRateItem.ResignAgeGroupingItems.length - 1 === index">
                    <td v-text="item.Grouping" />
                    <td
                      v-text="item.FemaleAmount"
                      colspan="2"
                      style="text-align: center;font-weight: bold;"
                    />
                  </tr>
                  <tr v-else-if="turnOverRateItem.ResignAgeGroupingItems.length - 2 === index">
                    <td v-text="item.Grouping" style="text-align: center;font-weight: bold;" />
                    <td v-text="item.MaleAmount" style="text-align: center;font-weight: bold;" />
                    <td v-text="item.FemaleAmount" style="text-align: center;font-weight: bold;" />
                    <td />
                  </tr>
                  <tr v-else>
                    <td v-text="item.Grouping" style="text-align: center;" />
                    <td v-text="item.MaleAmount" style="text-align: center;" />
                    <td v-text="item.FemaleAmount" style="text-align: center;" />
                    <td>
                      <v-btn dark icon min-width="0" @click="findTurnOverDetial(item, false)">
                        <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                      </v-btn>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </base-material-card>
      </v-col>
    </v-row>
    <v-dialog v-model="detailDialog" persistent max-width="90%">
      <v-card>
        <v-toolbar dark color="blue">
          <v-spacer></v-spacer>
          <v-toolbar-title>{{ detailTitle }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="detailDialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <span>{{ detailGrouping }}</span>
          <v-data-table
            :headers="groupingHeaders"
            :items="turnOverRateDetailItems"
            hide-default-footer
            style="min-height: 500px;"
            :items-per-page="-1"
            :loading="isDetailLoading"
          >
            <template v-slot:item="{ item }">
              <tr @click="getEmployeeBy(item.GroupId)" style="cursor: pointer;">
                <td v-text="item.Code" />
                <td v-text="item.Name" />
                <td v-text="convertJSONDateOnlyToString(item.BornDate)" />
                <td v-text="item.Position" />
                <td
                  v-text="item.StartWorkDate ? convertJSONDateOnlyToString(item.StartWorkDate) : null"
                />
                <td
                  v-text="item.EndWorkDate ? convertJSONDateOnlyToString(item.EndWorkDate) : null"
                />
                <td
                  v-text="detailTitle === $t('report-signed') ? item.AgeOnStartWorking : item.AgeOnEndWorking"
                />
              </tr>
            </template>
          </v-data-table>
          <v-pagination v-model="detailPageIndex" :length="detailTotalPages" circle />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import moment from "moment";

export default {
  name: "ReportTableList",

  data() {
    return {
      isDetailLoading: false,
      detailDialog: false,
      detailTitle: null,
      detailGrouping: null,

      detailCriteria: {
        Criteria: {
          RangeType: null,
          StartRange: null,
          EndRange: null,
          DateFrom: null,
          DateTo: null,
          IsActive: false,
        },
        SortingCriteria: [],
        PagingCriteria: {
          PageIndex: 0,
          PageSize: 10,
        },
      },
      detailTotalPages: 0,
      detailPageIndex: 1,
    };
  },
  computed: {
    // page : {

    // },
    ...mapState("report", [
      "turnOverRateItem",
      "turnOverRateDetailItems",
      "totalPages",
      "isLoading",
    ]),
    signAgeGroupingHeaders() {
      return [
        {
          text: this.$t("report-signed"),
          value: "Name",
          width: "50%",
          sortable: false,
          align: "center",
        },
        {
          text: this.$t("report-man"),
          value: "Name",
          width: "25%",
          sortable: false,
          align: "center",
        },
        {
          text: this.$t("report-woman"),
          value: "ContractType",
          width: "25%",
          sortable: false,
          align: "center",
        },
        {
          sortable: false,
          text: "#",
          width: "15%",
          value: "action",
        },
      ];
    },
    resignAgeGroupingHeaders() {
      return [
        {
          text: this.$t("report-resigned"),
          value: "Name",
          width: "50%",
          sortable: false,
          align: "center",
        },
        {
          text: this.$t("report-man"),
          value: "Name",
          width: "25%",
          sortable: false,
          align: "center",
        },
        {
          text: this.$t("report-woman"),
          value: "ContractType",
          width: "25%",
          sortable: false,
          align: "center",
        },
        {
          sortable: false,
          text: "#",
          width: "15%",
          value: "action",
        },
      ];
    },
    groupingHeaders() {
      return [
        {
          text: this.$t("report-resigned-code"),
          value: "Code",
          width: "10%",
          sortable: false,
        },
        {
          text: this.$t("report-resigned-name"),
          value: "Name",
          width: "10%",
          sortable: false,
        },
        {
          text: this.$t("report-resigned-birth-date"),
          value: "BornDate",
          width: "10%",
          sortable: false,
        },
        {
          text: this.$t("report-resigned-position"),
          value: "Position",
          width: "10%",
          sortable: false,
        },
        {
          text: this.$t("report-resigned-start-work-date"),
          value: "StartWorkDate",
          width: "10%",
          sortable: false,
        },
        {
          text: this.$t("report-resigned-end-work-date"),
          value: "EndWorkDate",
          width: "10%",
          sortable: false,
        },
        ,
        {
          text:
            this.detailTitle === this.$t("report-signed")
              ? this.$t("report-resigned-age-before-start")
              : this.$t("report-resigned-age-after-resigned"),
          value: "AgeOnStartWorking",
          width: "10%",
          sortable: false,
        },
      ];
    },
  },

  watch: {
    async detailPageIndex(value) {
      console.log("value", value);
      this.detailCriteria.PagingCriteria.PageIndex = value - 1;
      this.isDetailLoading = true;
      const res = await this.$store.dispatch(
        "report/FIND_TURN_OVER_DETAIL",
        this.detailCriteria
      );
      this.isDetailLoading = false;
      this.detailPageIndex = value;
      this.detailTotalPages = res.TotalPage;
    },
  },

  methods: {
    ...mapMutations({
      setTurnOverRateDetailItems: "report/SET_TURN_OVER_RATE_DETAIL_ITEMS",
    }),
    async findTurnOverDetial(item, isActive) {
      console.log("detailCriteria===>", this.detailCriteria);
      try {
        this.setTurnOverRateDetailItems([]);
        this.detailDialog = true;
        this.detailTitle = isActive
          ? this.$t("report-signed")
          : this.$t("report-resigned");
        this.detailGrouping = item.Grouping;

        this.detailCriteria.Criteria.StartRange = item.RangeStartValue;
        this.detailCriteria.Criteria.EndRange = item.RangeEndValue;
        this.detailCriteria.Criteria.DateFrom = this.$store.state.report.criteriaWithoutPaging.DateFrom;
        this.detailCriteria.Criteria.DateTo = this.$store.state.report.criteriaWithoutPaging.DateTo;
        this.detailCriteria.Criteria.isActive = isActive;

        this.isDetailLoading = true;
        const res = await this.$store.dispatch(
          "report/FIND_TURN_OVER_DETAIL",
          this.detailCriteria
        );
        this.isDetailLoading = false;

        this.detailPageIndex = 1;
        this.detailTotalPages = res.TotalPage;
      } catch (e) {
        console.log("e", e);
      }
    },
    convertJSONDateOnlyToString(value) {
      return moment(value).format("DD/MM/YYYY");
    },
  },
};
</script>
