<template>
    <v-row>
        <v-col cols="12" md="6" >
            <v-text-field 
                :label="$t('label-search')" 
                v-model="textSearch" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="search"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                {{ $t('label-search') }}
            </v-btn>
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="advanceDialog = true"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                {{ $t('label-advance-search') }}
            </v-btn>
        </v-col>
        <v-dialog v-model="advanceDialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{ $t('label-advance-search') }}</span>
                </v-card-title>
                <v-card-text>
                    <v-form v-model="advanceSearchValid" ref="advanceSearchForm">
                        <v-container>
                            <v-row>
                                <v-col cols="12">
                                    <v-text-field :label="$t('attendance-record-training-course-name')" v-model="name" />
                                </v-col>
                                <v-col cols="12" sm="6">
                                    <base-date-mask :label="$t('date-from')" :dateChangeParent="dateFrom" />
                                </v-col>
                                <v-col cols="12" sm="6">
                                    <base-date-mask :label="$t('date-to')" :dateChangeParent="dateTo" />
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                    <!-- <small>*indicates required field</small> -->
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="blue darken-1" text @click="advanceDialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" text @click="searchAdvance" :loading="isLoading" >{{ $t('label-search')}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'

    export default {
        name: 'AttendanceRecordSearchBar',

        data: () => ({
            advanceSearchValid: false,
            advanceDialog: null,
            textSearch: null,
            name: null,
            dateFrom: null,
            dateTo: null
        }),

        mounted() {
            let criteria = {
                Criteria: {
                    ContractTypeId: null,
                    Id: null,
                    DateFrom: null,
                    DateTo: null,
                    AutoCompleteText: null
                },
                SortingCriteria: [],
                PagingCriteria: { PageIndex: 0, PageSize: 10 }
            }
            
            this.setCriteria(criteria)
            this.find(criteria)
        },

        computed: {
            ...mapState(
                'employee', 
                [ 'isLoading' ]
            )
        },

        methods: {
            async search () {    
                let criteria = {
                    Criteria: {
                        Name: null,
                        Id: null,
                        DateFrom: null,
                        DateTo: null,
                        AutoCompleteText: this.textSearch
                    },
                    SortingCriteria: [],
                    PagingCriteria: { PageIndex: 0, PageSize: 10 }
                }

                this.setCriteria(criteria)
                await this.find(criteria)
            },
            async searchAdvance () {    
                if (this.$refs.advanceSearchForm.validate()) {
                    let criteria = {
                        Criteria: {
                            ContractTypeId: this.contractsType,
                            Code: this.code,
                            Name: this.name,
                            DateFrom: this.employedDateFrom,
                            DateTo: this.employedDateTo,
                            AutoCompleteText: null
                        },
                        SortingCriteria: [],
                        PagingCriteria: { PageIndex: 0, PageSize: 10 }
                    }

                    this.setCriteria(criteria)
                    await this.find(criteria)
                    this.advanceDialog = false
                }
            },
            async find (criteria) {
                try {
                    const result = await this.$store.dispatch('trainingCourseSchedule/FIND', criteria)
                } catch (e) {
                    
                }
            },
            ...mapMutations({
                setCriteria: 'trainingCourseSchedule/SET_CRITERIA',
            }),

            dateFromChangeParent(value) {
                this.dateFrom = value
            },
            dateToChangeParent(value) {
                this.dateTo = value
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>