<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.Code" />
                    <td v-text="item.Name" />
                    <td v-text="item.ContractType" />
                    <td v-text="item.Department" />
                    <td v-text="item.Position" />
                    <td v-text="convertJSONDateOnlyToString(item.StartWorkDate)">
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'admin-employee-edit', params: { id: item.Id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalRecords"
            circle />
            
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'EmployeeTableList',

        data: () => ({
            search: undefined
        }),

        mounted() {
            this.getMemberList(0)
        },

        computed: {
            // page : {
                
            // },
            ...mapState(
                'trainingCourseSchedule', 
                [ 
                    'items',
                    'isLoading' 
                ]
            ),

            headers () {
                return  [
                    {
                        text: this.$t('table-column-name-employee-code'),
                        value: 'Code',
                        width: '10%'
                    },
                    {
                        text: this.$t('table-column-name-employee-full-name'),
                        value: 'Name',
                        width: '15%'
                    },
                    {
                        text: this.$t('table-column-name-employee-contract'),
                        value: 'ContractType',
                        width: '15%'
                    },
                    {
                        text: this.$t('table-column-name-employee-position'),
                        value: 'Position',
                        width: '15%'
                    },{
                        text: this.$t('table-column-name-employee-department'),
                        value: 'Department',
                        width: '15%'
                    },
                    {
                        text: this.$t('table-column-name-employee-date-employed'),
                        value: 'StartWorkDate',
                        width: '15%'
                    },
                    {
                        sortable: false,
                        text: '#',
                        width: '15%',
                        value: 'action'
                    }
                ]
            }
        },

        mounted() {
            // this.getQRCodeSetList(this.page - 1)
        },

        watch: {
            // async page () {
            //     // console.log(this.page)
            //     await this.getCreatureList(this.page - 1)
            // }
        },

        methods: {
            async getCreatureList (page) {
                
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
        }
    }
</script>
