<template>
    <div>
        <base-material-card icon="mdi-account-multiple">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    {{ $t($router.currentRoute.meta.title) }}
                    <span class="body-1">— {{ $t($router.currentRoute.meta.subtitle) }} </span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" md="4" v-if="code" >
                            <v-text-field :label="$t('label-employee-code')" v-model="code" disabled  />
                        </v-col>
                        <v-col cols="8" md="8" v-if="code" />
                        <v-col cols="12" md="4" >
                            <v-text-field :label="$t('label-employee-full-name')" v-model="name" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="gender" 
                                :items="genderItems" 
                                :label="$t('label-employee-gender')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-text-field
                                v-model="dateEmployed"
                                :label="$t('label-employee-date-employed')"
                                v-mask="mask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                             <v-select 
                                v-model="contractsType" 
                                :items="contractsTypeItems" 
                                :label="$t('label-employee-contract')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="nationality" 
                                :items="nationalityItems" 
                                :label="$t('label-employee-nationality')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-text-field
                                v-model="birthDate"
                                :label="$t('label-employee-birth-date')"
                                v-mask="mask"
                                placeholder="dd/mm/yyyy"
                                :rules="dateRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="department" 
                                :items="departmentItems" 
                                :label="$t('label-employee-department')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-autocomplete
                                v-model="contract"
                                :items="contractItems"
                                :loading="isContractLoading"
                                :search-input.sync="contractSearch"
                                clearable
                                hide-no-data
                                item-text="name"
                                item-value="symbol"
                                :label="$t('label-employee-leader')"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-autocomplete
                                v-model="contract"
                                :items="contractItems"
                                :loading="isContractLoading"
                                :search-input.sync="contractSearch"
                                clearable
                                hide-no-data
                                item-text="Name"
                                item-value="Id"
                                :label="$t('label-employee-foreman')"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="position" 
                                :items="positionItems" 
                                :label="$t('label-employee-position')" 
                                item-text="Name"
                                item-value="Id"
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-text-field :label="$t('label-employee-address')" v-model="address" :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="province" 
                                :items="provinceItems" 
                                item-text="Name"
                                item-value="Id"
                                :label="$t('label-employee-province')" 
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="district" 
                                :items="districtItems" 
                                item-text="Name"
                                item-value="Id"
                                :label="$t('label-employee-district')" 
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-select 
                                v-model="subDistrict" 
                                :items="subDistrictItems" 
                                item-text="Name"
                                item-value="Id"
                                :label="$t('label-employee-sub-district')" 
                                :rules="fieldRules" />
                        </v-col>
                        <v-col cols="12" md="4" >
                            <v-text-field :label="$t('label-employee-zipcode')" v-model="zipcode" disabled />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                {{ $t($router.currentRoute.meta.subtitle) }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
            <v-dialog v-model="loading" hide-overlay persistent width="300" >
                <v-card color="primary" dark >
                    <v-card-text>
                        <div style="color: #FFFFFF;"> {{ $t('loading') }} </div>
                        <v-progress-linear indeterminate color="white" class="mb-0" />
                    </v-card-text>
                </v-card>
            </v-dialog>
        </base-material-card>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    import moment from 'moment'
    import _ from 'lodash'
    import { mask } from 'vue-the-mask'

    export default {
        name: 'EmployeeForm',

        directives: {
            mask
        },

        data: () => ({
            wasPrepared: false,
            valid: false,
            mask: '##/##/####',
            code: null,
            name: null,

            gender: null,
            genderItems: [],

            contract: null,
            isContractLoading: false,
            contractItems: [],
            contractSearch: null,

            dateEmployed: null,
            birthDate: null,

            department: null,
            departmentItems: [],

            contractsType: null,
            contractsTypeItems: [],

            nationality: null,
            nationalityItems: [],

            position: null,
            positionItems: [],

            province: null,
            provinceItems: [],

            district: null,
            districtItems: [],

            subDistrict: null,
            subDistrictItems: [],

            zipcode: null,

            address: null,

            fieldRules: [
                (v) => !!v || 'Field is required.'
            ],
            dateRules: [
                (v) => !!v || 'Field is required.',
                (v) => {
                    const errMsg =  'Date format is invalids';
                    let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    var d = new Date();
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDate();

                    if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
                        return errMsg
                    else if(inputDate > new Date(year + 100, month, day)){
                        return errMsg
                    }
                    else return true
                }
            ],

            loading: false
        }),
        computed: {

        },
        async mounted () {
            await this.getAllGender()
            await this.findContractsType()
            await this.findNationality()
            await this.findDepartment()
            await this.findPosition()
            await this.findProvince()
            await this.getEmployee()
            // await this.getAllProvinces()
            // await this.findDepartment()
        },
        created () {
            // this.contractsTypeDebounce = _.debounce(this.findContractsType, 500)
            // this.nationalityDebounce = _.debounce(this.findNationality, 500)
            // this.departmentDebounce = _.debounce(this.findDepartment, 500)
            // this.positionDebounce = _.debounce(this.findPosition, 500)
            // this.provinceDebounce = _.debounce(this.findProvince, 500)
            
            
        },
        watch: {
            contractSearch (val) {
            
            },
            province (value) {
                this.findDistrict(value)
                if (this.$route.params.id && !this.wasPrepared) return
                this.district = null
                this.subDistrict = null
                this.zipcode = null
                
            },
            district (value) {
                this.findSubDistrict(value)
                if (this.$route.params.id && !this.wasPrepared) return
                this.subDistrict = null
                this.zipcode = null
            },
            subDistrict (value) {
                if (this.$route.params.id && !this.wasPrepared) {
                    this.wasPrepared = true
                    return
                } else {
                    const subDistrict = this.subDistrictItems.find(item => value === item.Id)
    
                    if (subDistrict) this.zipcode = subDistrict.ZipCode
                    
                    this.wasPrepared = true
                }
                // 

                // this.wasPrepared = true
            }
        },

        methods: {
            async getEmployee () {
                if (this.$route.params.id) {
                    try {
                        this.loading = true
                        await this.$store.dispatch('employee/GET', this.$route.params.id)

                        const { 
                            BornDate,
                            NationalityId,
                            DepartmentId,
                            PositionId,
                            ContractTypeId,
                            Address,
                            ProvinceId,
                            DistrictId,
                            SubDistrictId,
                            Zipcode,
                            Code, 
                            Gender, 
                            Nationality,
                            StartWorkDate,
                            EndWorkDate,
                            Id,
                            Name } = this.$store.state.employee.item

                        this.id = Id
                        this.contractsType = ContractTypeId
                        this.nationality = NationalityId
                        this.department = DepartmentId
                        this.position = PositionId
                        this.gender = Gender
                        this.name = Name
                        this.code = Code
                        this.province = ProvinceId
                        this.district = DistrictId
                        this.subDistrict = SubDistrictId
                        this.zipcode = Zipcode
                        this.birthDate = this.convertJSONDateOnlyToString(BornDate)
                        this.dateEmployed = this.convertJSONDateOnlyToString(StartWorkDate)

                        this.address = Address

                        this.loading = false
                    } catch (error) {

                    }
                }
            },
            dateEmployedChangeParent(value) {
                this.dateEmployed = value
            },
            birthDateChangeParent(value) {
                this.birthDate = value
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const payload = {
                        BornDate: moment(this.birthDate, 'DD/MM/YYYY').format('YYYY/MM/DD'),
                        NationalityId: this.nationality,
                        DepartmentId: this.department,
                        PositionId: this.position,
                        ContractTypeId: this.contractsType,
                        Address: this.address,
                        SubDistrictId: this.subDistrict,
                        TranslateItems: [
                            // {
                            //     Id: null,
                            //     RelationId: null,
                            //     RelationTypeValue: 0,
                            //     LanguageID: null,
                            //     TranslateInfo: null
                            // }
                            // e664cffb-9385-4b7e-8dcd-2c621470e688
                            // e664cffb-9385-4b7e-8dcd-2c621470e688
                        ],
                        ContactDataItems: [
                            //{
                            //    Id: null,
                            //    ContactType: null,
                            //    Values: null
                            //}
                        ],
                        // No: null,
                        Gender: this.gender,
                        // Nationality: null,
                        // Department: null,
                        // Position: null,
                        // ContractType: null,
                        // Language: null,
                        StartWorkDate: moment(this.dateEmployed, 'DD/MM/YYYY').format('YYYY/MM/DD'),
                        // EndWorkDate: null,
                        Id: this.id,
                        // Code: null,
                        Name: this.name
                    }

                    try {
                        this.loading = true
                        await this.$store.dispatch('employee/SAVE', payload)
                    } catch (error) {
                        this.loading = false
                    }
                    this.loading = false
                }
            },
            async getAllGender (value) {
                this.genderItems = await this.$store.dispatch('masterData/GET_ALL_GENDER', { Criteria: { AutoCompleteText: value } } )
            },
            async findContractsType (value) {
                if (this.contractsTypeItems.length > 0) return
                this.contractsTypeItems = await this.$store.dispatch('masterData/FIND_CONTRACTS_TYPE', { Criteria: { AutoCompleteText: null } } )
            },
            async findNationality (value) {
                if (this.nationalityItems.length > 0) return
                this.nationalityItems = await this.$store.dispatch('masterData/FIND_NATIONALITY', { Criteria: { AutoCompleteText: null } } )
            },
            async findDepartment (value) {
                if (this.departmentItems.length > 0) return
                this.departmentItems = await this.$store.dispatch('masterData/FIND_DEPARTMENT', { Criteria: { AutoCompleteText: null } } )
            },
            async findPosition (value) {
                if (this.positionItems.length > 0) return
                this.positionItems = await this.$store.dispatch('masterData/FIND_POSITION', { Criteria: { AutoCompleteText: null } } )
            },
            async findProvince (value) {
                if (this.provinceItems.length > 0) return
                this.provinceItems = await this.$store.dispatch('masterData/FIND_PROVINCE', { Criteria: { AutoCompleteText: null } } )
            },
            async findDistrict (value) {
                this.districtItems = await this.$store.dispatch('masterData/FIND_DISTRICT', value)
            },
            async findSubDistrict (value) {
                this.subDistrictItems = await this.$store.dispatch('masterData/FIND_SUB_DISTRICT', value)
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
        }
    }
</script>

<style>
.v-image__image--cover {
    border-radius: 0px!important;
}
</style>