<template>
  <div>
    <v-form @submit.prevent="search" >
      <v-row>
        <v-col cols="12" md="6" offset-md="3">
          <v-select
              v-model="year"
              :items="years"
              clear-icon="mdi-close-circle"
              label="Year"
            />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center">
          <v-btn
            color="primary"
            class="mx-0 font-weight-light"
            dark
            block
            type="submit"
            style="padding: 0px"
          >
            <v-icon dark left>mdi-magnify</v-icon>
            {{ $t('label-search') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import _ from "lodash";
import { mask } from 'vue-the-mask'
import moment from 'moment'

export default {
  name: "EmployeeSearchBar",

  directives: {
    mask
  },

  data: () => ({
    years: [],
    year: null,

    dateRules: [
      (v) => {
        const errMsg =  'Date format is invalids';
        let inputDate = new Date(moment(v, 'DD/MM/YYYY').format('YYYY-MM-DD'));
        var d = new Date();
        var year = d.getFullYear();
        var month = d.getMonth();
        var day = d.getDate();

        if (v && !/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v))
         return errMsg
        else if(inputDate > new Date(year + 100, month, day)){
          return errMsg
        }
        else return true
      }
    ]

  }),

  async mounted() {
    if (this.items.length === 0) {
      let criteria = {
        Criteria: {
          Id: null,
          No: null,
          Status: null,
          AnnualId: null,
          Annual: null,
          LeaveTypeId: null
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };
      console.log('criteria==>', criteria)
      this.setCriteria(criteria)
      await this.generateYears()
      this.findLeave(criteria)
    } else {
      const year = this.criteria.Criteria.Annual ? this.criteria.Criteria.Annual.split('/')[0] : null
      this.year = year

      if (this.$route.params.breadcrumb === true) this.findLeave(this.criteria)
    }
  },

  watch: {
    
  },

  computed: {
    ...mapState("leaveCarryForward", ["isLoading", "items", "criteria"])
  },

  methods: {
    ...mapMutations({
      setCriteria: "leaveCarryForward/SET_CRITERIA"
    }),
    async generateYears () {
      const year = []
      const criteria = {
        Criteria: {
          Id: null,
          Year: null,
          IsPublish: true
        },
        SortingCriteria: [],
        PagingCriteria: {
          PageIndex: 0,
          PageSize: 0
        }
      }

      const res = await this.$store.dispatch("masterData/FIND_ANUALLY", criteria);

      this.years = res.map((item, index) => (item.Year.substring(0, 4)))
      const dt = new Date
      this.year = dt.getFullYear() + ''
    },
    async findLeave(criteria) {
      try {
        const result = await this.$store.dispatch("leaveCarryForward/FIND", criteria)
      } catch (e) {}
    },
    async search() {
      let criteria = {
        Criteria: {
          Id: null,
          No: null,
          Status: null,
          AnnualId: null,
          Annual: this.year ? moment(`01/01/${this.year}`, 'DD/MM/YYYY').format('YYYY/MM/DD') : null,
          LeaveTypeId: null
        },
        SortingCriteria: [],
        PagingCriteria: { PageIndex: 0, PageSize: 10 }
      };
      console.log('criteria==>', criteria)
      this.setCriteria(criteria);

      await this.findLeave(criteria);
    }


  }
};
</script>

<style scoped>
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 0px 30px !important;
}
</style>